%body
  %section.banner_part{:style => "background-image: url('#{image_path 'banner_bg.png'}')"}
    .container
      .row.align-items-center.justify-content-center
        .col-lg-10
          .banner_text.text-center
            .banner_text_iner
              %h1 Place Name
              %p Let’s start your journey with us, your dream will come true
              %a.btn_1{:href => "#"} Discover Now
  %section.booking_part
    .container
      .row
        .col-lg-12
          .booking_menu
            %ul#myTab.nav.nav-tabs{:role => "tablist"}
              %li.nav-item
                %a#hotel-tab.nav-link.active{"aria-controls" => "hotel", "aria-selected" => "true", "data-toggle" => "tab", :href => "#hotel", :role => "tab"} hotel
              %li.nav-item
                %a#tricket-tab.nav-link{"aria-controls" => "tricket", "aria-selected" => "false", "data-toggle" => "tab", :href => "#tricket", :role => "tab"} tricket
              %li.nav-item
                %a#place-tab.nav-link{"aria-controls" => "place", "aria-selected" => "false", "data-toggle" => "tab", :href => "#place", :role => "tab"} place
        .col-lg-12
          .booking_content
            #myTabContent.tab-content
              #hotel.tab-pane.fade.show.active{"aria-labelledby" => "hotel-tab", :role => "tabpanel"}
                .booking_form
                  %form{:action => "#"}
                    .form-row
                      .form_colum
                        %select.nc_select
                          %option{:selected => "selected"} Choosace place
                          %option{:value => "1"} One
                          %option{:value => "2"} Two
                          %option{:value => "3"} Three
                      .form_colum
                        %input#datepicker_1{:placeholder => "Check in date"}/
                      .form_colum
                        %input#datepicker_2{:placeholder => "Check in date"}/
                      .form_colum
                        %select.nc_select
                          %option{:selected => "selected"} Persone
                          %option{:value => "1"} One
                          %option{:value => "2"} Two
                          %option{:value => "3"} Three
                      .form_btn
                        %a.btn_1{:href => "#"} search
              #tricket.tab-pane.fade{"aria-labelledby" => "tricket-tab", :role => "tabpanel"}
                .booking_form
                  %form{:action => "#"}
                    .form-row
                      .form_colum
                        %select.nc_select
                          %option{:selected => "selected"} Choosace place
                          %option{:value => "1"} One
                          %option{:value => "2"} Two
                          %option{:value => "3"} Three
                      .form_colum
                        %input#datepicker_3{:placeholder => "Check in date"}/
                      .form_colum
                        %input#datepicker_4{:placeholder => "Check in date"}/
                      .form_colum
                        %select.nc_select
                          %option{:selected => "selected"} Persone
                          %option{:value => "1"} One
                          %option{:value => "2"} Two
                          %option{:value => "3"} Three
                      .form_btn
                        %a.btn_1{:href => "#"} search
              #place.tab-pane.fade{"aria-labelledby" => "place-tab", :role => "tabpanel"}
                .booking_form
                  %form{:action => "#"}
                    .form-row
                      .form_colum
                        %select.nc_select
                          %option{:selected => "selected"} Choosace place
                          %option{:value => "1"} One
                          %option{:value => "2"} Two
                          %option{:value => "3"} Three
                      .form_colum
                        %input#datepicker_5{:placeholder => "Check in date"}/
                      .form_colum
                        %input#datepicker_6{:placeholder => "Check in date"}/
                      .form_colum
                        %select.nc_select
                          %option{:selected => "selected"} Persone
                          %option{:value => "1"} One
                          %option{:value => "2"} Two
                          %option{:value => "3"} Three
                      .form_btn
                        %a.btn_1{:href => "#"} search
  %section.top_place.section_padding
    .container
      .row.justify-content-center
        .col-xl-6
          .section_tittle.text-center
            %h2 Top Places to visit
            %p Waters make fish every without firmament saw had. Morning air subdue. Our. Air very one. Whales grass is fish whales winged.
      .row
        .col-lg-6.col-md-6
          .single_place
            = image_tag("single_place_1.png")
            .hover_Text.d-flex.align-items-end.justify-content-between
              .hover_text_iner
                %a.place_btn{:href => "#"} travel
                %h3 Taj Mahal
                %p Agra, Delhi
                .place_review
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %span (210 review)
              .details_icon.text-right
                %i.ti-share
        .col-lg-6.col-md-6
          .single_place
            = image_tag("single_place_3.png")
            .hover_Text.d-flex.align-items-end.justify-content-between
              .hover_text_iner
                %a.place_btn{:href => "#"} travel
                %h3 Lake Pichola
                %p udaipur
                .place_review
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %span (210 review)
              .details_icon.text-right
                %i.ti-share
        .col-lg-6.col-md-6
          .single_place
            = image_tag("single_place_2.png")
            .hover_Text.d-flex.align-items-end.justify-content-between
              .hover_text_iner
                %a.place_btn{:href => "#"} travel
                %h3 kutub minar
                %p New Delhi
                .place_review
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %span (210 review)
              .details_icon.text-right
                %i.ti-share
        .col-lg-6.col-md-6
          .single_place
            = image_tag("single_place_4.png")
            .hover_Text.d-flex.align-items-end.justify-content-between
              .hover_text_iner
                %a.place_btn{:href => "#"} travel
                %h3 Hawa Mahal
                %p Jaipur, Rajasthan
                .place_review
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %span (210 review)
              .details_icon.text-right
                %i.ti-share
        %a.btn_1.text-cnter{:href => "#"} Discover more
  %section.event_part.section_padding{:style => "background-image: url('#{image_path 'event_bg.png'}')"}
    .container
      .row
        .col-lg-12
          .event_slider.owl-carousel
            .single_event_slider
              .row.justify-content-end
                .col-lg-6.col-md-6
                  .event_slider_content
                    %h5 Upcoming Event
                    %h2 Varanasi
                    %p
                      Varanasi is a city in the northern Indian state of Uttar Pradesh dating to the 11th century B.C. Regarded as the spiritual capital of India, the city draws Hindu pilgrims who bathe in the Ganges River’s sacred waters and perform funeral rites.
                    %p
                      date:
                      %span 12 Aug 2020
                    %p
                      Cost:
                      %span Start from 2000 Rs.
                    %p
                      Organizer:
                      %span Martine Agency
                    .rating
                      %span Rating:
                      .place_review
                        %a{:href => "#"}
                          %i.fas.fa-star
                        %a{:href => "#"}
                          %i.fas.fa-star
                        %a{:href => "#"}
                          %i.fas.fa-star
                        %a{:href => "#"}
                          %i.fas.fa-star
                        %a{:href => "#"}
                          %i.fas.fa-star
                    %a.btn_1{:href => "#"} Plan Details
            .single_event_slider
              .row.justify-content-end
                .ol-lg-6.col-md-6
                  .event_slider_content
                    %h5 Upcoming Event
                    %h2 Goa
                    %p
                      Goa is a state in western India with coastlines stretching along the Arabian Sea. Its long history as a Portuguese colony prior to 1961 is evident in its preserved 17th-century churches and the area’s tropical spice plantations.
                    %p
                      date:
                      %span 12 Aug 2020
                    %p
                      Cost:
                      %span Start from 5000 Rs.
                    %p
                      Organizer:
                      %span Martine Agency
                    .rating
                      %span Rating:
                      .place_review
                        %a{:href => "#"}
                          %i.fas.fa-star
                        %a{:href => "#"}
                          %i.fas.fa-star
                        %a{:href => "#"}
                          %i.fas.fa-star
                        %a{:href => "#"}
                          %i.fas.fa-star
                        %a{:href => "#"}
                          %i.fas.fa-star
                    %a.btn_1{:href => "#"} Plan Details
            .row.justify-content-end
              .ol-lg-6.col-md-6
                .event_slider_content
                  %h5 Upcoming Event
                  %h2 Maldeve - Asia
                  %p
                    Waters make fish every without firmament saw had. Morning air subdue. Our. Air very one. Whales grass is fish whales winged.
                  %p
                    date:
                    %span 12 Aug 2019
                  %p
                    Cost:
                    %span Start from $820
                  %p
                    Organizer:
                    %span Martine Agency
                  .rating
                    %span Rating:
                    .place_review
                      %a{:href => "#"}
                        %i.fas.fa-star
                      %a{:href => "#"}
                        %i.fas.fa-star
                      %a{:href => "#"}
                        %i.fas.fa-star
                      %a{:href => "#"}
                        %i.fas.fa-star
                      %a{:href => "#"}
                        %i.fas.fa-star
                  %a.btn_1{:href => "#"} Plan Details
  %section.hotel_list.section_padding
    .container
      .row.justify-content-center
        .col-xl-6
          .section_tittle.text-center
            %h2 Top Hotel &amp; Restaurants
            %p Waters make fish every without firmament saw had. Morning air subdue. Our. Air very one. Whales grass is fish whales winged.
      .row
        .col-lg-4.col-sm-6
          .single_ihotel_list
            = image_tag("ind/industries_1.png")
            .hotel_text_iner
              %h3
                %a{:href => "#"} Hotel Polonia
              .place_review
                %a{:href => "#"}
                  %i.fas.fa-star
                %a{:href => "#"}
                  %i.fas.fa-star
                %a{:href => "#"}
                  %i.fas.fa-star
                %a{:href => "#"}
                  %i.fas.fa-star
                %a{:href => "#"}
                  %i.fas.fa-star
                %span (210 review)
              %p London, United Kingdom
              %h5
                From
                %span $500
        .col-lg-4.col-sm-6
          .single_ihotel_list
            = image_tag("ind/industries_2.png")
            .hotel_text_iner
              %h3
                %a{:href => "#"} Hotel Polonia
              .place_review
                %a{:href => "#"}
                  %i.fas.fa-star
                %a{:href => "#"}
                  %i.fas.fa-star
                %a{:href => "#"}
                  %i.fas.fa-star
                %a{:href => "#"}
                  %i.fas.fa-star
                %a{:href => "#"}
                  %i.fas.fa-star
                %span (210 review)
              %p London, United Kingdom
              %h5
                From
                %span $500
        .col-lg-4.col-sm-6
          .single_ihotel_list
            = image_tag("ind/industries_3.png")
            .hotel_text_iner
              %h3
                %a{:href => "#"} Hotel Polonia
              .place_review
                %a{:href => "#"}
                  %i.fas.fa-star
                %a{:href => "#"}
                  %i.fas.fa-star
                %a{:href => "#"}
                  %i.fas.fa-star
                %a{:href => "#"}
                  %i.fas.fa-star
                %a{:href => "#"}
                  %i.fas.fa-star
                %span (210 review)
              %p London, United Kingdom
              %h5
                From
                %span $500
  %section.client_review.section_padding
    .container
      .row
        .col-xl-6
          .section_tittle
            %h2 What they said
      .row
        .col-lg-12
          .client_review_slider.owl-carousel
            .single_review_slider
              .place_review
                %a{:href => "#"}
                  %i.fas.fa-star
                %a{:href => "#"}
                  %i.fas.fa-star
                %a{:href => "#"}
                  %i.fas.fa-star
                %a{:href => "#"}
                  %i.fas.fa-star
                %a{:href => "#"}
                  %i.fas.fa-star
              %p Waters make fish every without firmament saw had. Morning air subdue. Our Air very one whales grass is fish whales winged night yielding land creeping that seed
              %h5 - Allen Miller
            .single_review_slider
              .place_review
                %a{:href => "#"}
                  %i.fas.fa-star
                %a{:href => "#"}
                  %i.fas.fa-star
                %a{:href => "#"}
                  %i.fas.fa-star
                %a{:href => "#"}
                  %i.fas.fa-star
                %a{:href => "#"}
                  %i.fas.fa-star
              %p Waters make fish every without firmament saw had. Morning air subdue. Our Air very one whales grass is fish whales winged night yielding land creeping that seed
              %h5 - Allen Miller
            .single_review_slider
              .place_review
                %a{:href => "#"}
                  %i.fas.fa-star
                %a{:href => "#"}
                  %i.fas.fa-star
                %a{:href => "#"}
                  %i.fas.fa-star
                %a{:href => "#"}
                  %i.fas.fa-star
                %a{:href => "#"}
                  %i.fas.fa-star
              %p Waters make fish every without firmament saw had. Morning air subdue. Our Air very one whales grass is fish whales winged night yielding land creeping that seed
              %h5 - Allen Miller
            .single_review_slider
              .place_review
                %a{:href => "#"}
                  %i.fas.fa-star
                %a{:href => "#"}
                  %i.fas.fa-star
                %a{:href => "#"}
                  %i.fas.fa-star
                %a{:href => "#"}
                  %i.fas.fa-star
                %a{:href => "#"}
                  %i.fas.fa-star
              %p Waters make fish every without firmament saw had. Morning air subdue. Our Air very one whales grass is fish whales winged night yielding land creeping that seed
              %h5 - Allen Miller
            .single_review_slider
              .place_review
                %a{:href => "#"}
                  %i.fas.fa-star
                %a{:href => "#"}
                  %i.fas.fa-star
                %a{:href => "#"}
                  %i.fas.fa-star
                %a{:href => "#"}
                  %i.fas.fa-star
                %a{:href => "#"}
                  %i.fas.fa-star
              %p Waters make fish every without firmament saw had. Morning air subdue. Our Air very one whales grass is fish whales winged night yielding land creeping that seed
              %h5 - Allen Miller
  %section.best_services.section_padding
    .container
      .row.justify-content-center
        .col-xl-6
          .section_tittle.text-center
            %h2 We offered best services
            %p Waters make fish every without firmament saw had. Morning air subdue. Our. Air very one. Whales grass is fish whales winged.
      .row
        .col-lg-3.col-sm-6
          .single_ihotel_list
            = image_tag("services_1.png")
            %h3
              %a{:href => "#"} Transportation
            %p All transportation cost we bear
        .col-lg-3.col-sm-6
          .single_ihotel_list
            = image_tag("services_2.png")
            %h3
              %a{:href => "#"} Guidence
            %p We offer the best guidence for you
        .col-lg-3.col-sm-6
          .single_ihotel_list
            = image_tag("services_3.png")
            %h3
              %a{:href => "#"} Accomodation
            %p Luxarious and comfortable
        .col-lg-3.col-sm-6
          .single_ihotel_list
            = image_tag("services_4.png")
            %h3
              %a{:href => "#"} Discover world
            %p Best tour plan for your next tour
            :javascript
              (function ($) {
                "use strict";

                var review = $('.client_review_slider');
                if (review.length) {
                  review.owlCarousel({
                    items: 3,
                    loop: true,
                    dots: false,
                    autoplay: true,
                    margin: 40,
                    autoplayHoverPause: true,
                    autoplayTimeout: 5000,
                    nav: true,
                    navText: [
                      '<i class="ti-angle-left"></i>',
                      '<i class="ti-angle-right"></i>'
                    ],
                    responsive: {
                      0: {
                        items: 1,
                        nav: false
                      },
                      576: {
                        items: 2,
                        nav: false
                      },
                      768: {
                        items: 2,
                        nav: false

                      },
                      991: {
                        items: 3,
                        nav: true
                      }
                    }
                  });
                }
                var event = $('.event_slider');
                if (event.length) {
                  event.owlCarousel({
                    items: 1,
                    loop: true,
                    dots: false,
                    autoplay: true,
                    margin: 40,
                    autoplayHoverPause: true,
                    autoplayTimeout: 5000,
                    nav: true,
                    navText: [
                      '<i class="ti-angle-left"></i>',
                      '<i class="ti-angle-right"></i>'
                    ],
                    responsive: {
                      0: {
                        nav: false
                      },
                      600: {
                        nav: false
                      },
                      991: {
                        nav: true
                      }
                    }
                  });
                }

                var nc_select = $('.nc_select');
                if(nc_select.length){
                  nc_select.niceSelect();
                }

                $('#datepicker_1').datepicker();
                $('#datepicker_2').datepicker();
                $('#datepicker_3').datepicker();
                $('#datepicker_4').datepicker();
                $('#datepicker_5').datepicker();
                $('#datepicker_6').datepicker();

                $('.gallery_img').magnificPopup({
                  type: 'image',
                  gallery:{
                    enabled:true
                  }
                });

                $('.popup-youtube, .popup-vimeo').magnificPopup({
                  type: 'iframe',
                  mainClass: 'mfp-fade',
                  removalDelay: 160,
                  preloader: false,
                  fixedContentPos: false
                });

                $(window).scroll(function () {
                  var window_top = $(window).scrollTop() + 1;
                  if (window_top > 50) {
                    $('.main_menu_iner').addClass('menu_fixed animated fadeInDown');
                  } else {
                    $('.main_menu_iner').removeClass('menu_fixed animated fadeInDown');
                  }
                });


              function mailChimp() {
                $('#mc_embed_signup').find('form').ajaxChimp();
              }
              mailChimp();


              }(jQuery));
