%body
  %section.breadcrumb.breadcrumb_bg{:style => "background-image: url('#{image_path 'breadcrumb.png'}')"}
    .container
      .row
        .col-lg-12
          .breadcrumb_iner
            .breadcrumb_iner_item.text-center
              %h2 Top Places
              %p home . Top Places
  %section.top_place.section_padding
    .container
      .row.justify-content-center
        .col-xl-6
          .section_tittle.text-center
            %h2 Top Places to visit
            %p Waters make fish every without firmament saw had. Morning air subdue. Our. Air very one. Whales grass is fish whales winged.
      .row
        .col-lg-6.col-md-6
          .single_place
            = image_tag("single_place_1.png")
            .hover_Text.d-flex.align-items-end.justify-content-between
              .hover_text_iner
                %a.place_btn{:href => "#"} travel
                %h3 Saintmartine Iceland
                %p Technaf, Bangladesh
                .place_review
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %span (210 review)
              .details_icon.text-right
                %i.ti-share
        .col-lg-6.col-md-6
          .single_place
            = image_tag("single_place_2.png")
            .hover_Text.d-flex.align-items-end.justify-content-between
              .hover_text_iner
                %a.place_btn{:href => "#"} travel
                %h3 Saintmartine Iceland
                %p Technaf, Bangladesh
                .place_review
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %span (210 review)
              .details_icon.text-right
                %i.ti-share
        .col-lg-6.col-md-6
          .single_place
            = image_tag("single_place_3.png")
            .hover_Text.d-flex.align-items-end.justify-content-between
              .hover_text_iner
                %a.place_btn{:href => "#"} travel
                %h3 Saintmartine Iceland
                %p Technaf, Bangladesh
                .place_review
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %span (210 review)
              .details_icon.text-right
                %i.ti-share
        .col-lg-6.col-md-6
          .single_place
            = image_tag("single_place_4.png")
            .hover_Text.d-flex.align-items-end.justify-content-between
              .hover_text_iner
                %a.place_btn{:href => "#"} travel
                %h3 Saintmartine Iceland
                %p Technaf, Bangladesh
                .place_review
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %span (210 review)
              .details_icon.text-right
                %i.ti-share
        .col-lg-6.col-md-6
          .single_place
            = image_tag("single_place_1.png")
            .hover_Text.d-flex.align-items-end.justify-content-between
              .hover_text_iner
                %a.place_btn{:href => "#"} travel
                %h3 Saintmartine Iceland
                %p Technaf, Bangladesh
                .place_review
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %span (210 review)
              .details_icon.text-right
                %i.ti-share
        .col-lg-6.col-md-6
          .single_place
            = image_tag("single_place_2.png")
            .hover_Text.d-flex.align-items-end.justify-content-between
              .hover_text_iner
                %a.place_btn{:href => "#"} travel
                %h3 Saintmartine Iceland
                %p Technaf, Bangladesh
                .place_review
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %span (210 review)
              .details_icon.text-right
                %i.ti-share
        .col-lg-6.col-md-6
          .single_place
            = image_tag("single_place_3.png")
            .hover_Text.d-flex.align-items-end.justify-content-between
              .hover_text_iner
                %a.place_btn{:href => "#"} travel
                %h3 Saintmartine Iceland
                %p Technaf, Bangladesh
                .place_review
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %span (210 review)
              .details_icon.text-right
                %i.ti-share
        .col-lg-6.col-md-6
          .single_place
            = image_tag("single_place_4.png")
            .hover_Text.d-flex.align-items-end.justify-content-between
              .hover_text_iner
                %a.place_btn{:href => "#"} travel
                %h3 Saintmartine Iceland
                %p Technaf, Bangladesh
                .place_review
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %a{:href => "#"}
                    %i.fas.fa-star
                  %span (210 review)
              .details_icon.text-right
                %i.ti-share
