%body
  %section.hero-wrap.hero-wrap-2{"data-stellar-background-ratio" => "0.5", :style => "background-image: url('#{image_path 'bg_1.jpg'}');"}
    .overlay
    .container
      .row.no-gutters.slider-text.align-items-center.justify-content-center
        .col-md-9.ftco-animate.text-center
          %h1.mb-2.bread About Us
          %p.breadcrumbs
            %span.mr-2
              %a{:href => root_path}
                Home
                %i.ion-ios-arrow-forward
            %span
              About us
              %i.ion-ios-arrow-forward
  %section.ftco-section.ftco-no-pt.ftc-no-pb
    .container
      .row.no-gutters
        .col-md-5.p-md-5.img.img-2.mt-5.mt-md-0{:style => "background-image: url('#{image_path 'about.jpg'}');"}
        .col-md-7.wrap-about.py-4.py-md-5.ftco-animate
          .heading-section.mb-5
            .pl-md-5.ml-md-5
              %span.subheading About Medical
              %h2.mb-4{:style => "font-size: 28px;"} Medical specialty concerned with the care of acutely ill hospitalized patients
          .pl-md-5.ml-md-5.mb-5
            %p On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word.
            .row.mt-5.pt-2
              .col-lg-6
                .services-2.d-flex
                  .icon.mt-2.mr-3.d-flex.justify-content-center.align-items-center
                    %span.flaticon-first-aid-kit
                  .text
                    %h3 Primary Care
                    %p Far far away, behind the word mountains, far from the countries Vokalia.
              .col-lg-6
                .services-2.d-flex
                  .icon.mt-2.mr-3.d-flex.justify-content-center.align-items-center
                    %span.flaticon-dropper
                  .text
                    %h3 Lab Test
                    %p Far far away, behind the word mountains, far from the countries Vokalia.
              .col-lg-6
                .services-2.d-flex
                  .icon.mt-2.mr-3.d-flex.justify-content-center.align-items-center
                    %span.flaticon-experiment-results
                  .text
                    %h3 Symptom Check
                    %p Far far away, behind the word mountains, far from the countries Vokalia.
              .col-lg-6
                .services-2.d-flex
                  .icon.mt-2.mr-3.d-flex.justify-content-center.align-items-center
                    %span.flaticon-heart-rate
                  .text
                    %h3 Heart Rate
                    %p Far far away, behind the word mountains, far from the countries Vokalia.
  %section.ftco-intro{"data-stellar-background-ratio" => "0.5", :style => "background-image: url('#{image_path 'bg_3.jpg'}');"}
    .overlay
    .container
      .row
        .col-md-9
          %h2 We Provide Free Health Care Consultation
          %p.mb-0 Your Health is Our Top Priority with Comprehensive, Affordable medical.
          %p
        .col-md-3.d-flex.align-items-center
          %p.mb-0
            %a.btn.btn-secondary-2.px-4.py-3{:href => "#"} Free Consutation
  %section.ftco-section.testimony-section.bg-light
    .container
      .row.justify-content-center.mb-5.pb-2
        .col-md-8.text-center.heading-section.ftco-animate
          %span.subheading Testimonials
          %h2.mb-4 Our Patients Says About Us
          %p Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country
      .row.ftco-animate.justify-content-center
        .col-md-8
          .carousel-testimony.owl-carousel
            .item
              .testimony-wrap.d-flex
                .user-img.mr-4{:style => "background-image: url('#{image_path 'person_1.jpg'}')"}
                .text.ml-2.bg-light
                  %span.quote.d-flex.align-items-center.justify-content-center
                    %i.icon-quote-left
                  %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                  %p.name Racky Henderson
                  %span.position Farmer
            .item
              .testimony-wrap.d-flex
                .user-img.mr-4{:style => "background-image: url('#{image_path 'person_2.jpg'}')"}
                .text.ml-2.bg-light
                  %span.quote.d-flex.align-items-center.justify-content-center
                    %i.icon-quote-left
                  %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                  %p.name Henry Dee
                  %span.position Businessman
            .item
              .testimony-wrap.d-flex
                .user-img.mr-4{:style => "background-image: url('#{image_path 'person_3.jpg'}')"}
                .text.ml-2.bg-light
                  %span.quote.d-flex.align-items-center.justify-content-center
                    %i.icon-quote-left
                  %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                  %p.name Mark Huff
                  %span.position Students
            .item
              .testimony-wrap.d-flex
                .user-img.mr-4{:style => "background-image: url('#{image_path 'person_4.jpg'}')"}
                .text.ml-2.bg-light
                  %span.quote.d-flex.align-items-center.justify-content-center
                    %i.icon-quote-left
                  %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                  %p.name Rodel Golez
                  %span.position Striper
            .item
              .testimony-wrap.d-flex
                .user-img.mr-4{:style => "background-image: url('#{image_path 'person_1.jpg'}')"}
                .text.ml-2.bg-light
                  %span.quote.d-flex.align-items-center.justify-content-center
                    %i.icon-quote-left
                  %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                  %p.name Ken Bosh
                  %span.position Manager
  %section#section-counter.ftco-section.ftco-no-pt.ftco-no-pb.ftco-counter.img{"data-stellar-background-ratio" => "0.5", :style => "background-image: url('#{image_path 'bg_3.jpg'}');"}
    .container
      .row
        .col-lg-6.col-md-12.py-5.pr-md-5
          .heading-section.heading-section-white.ftco-animate.mb-5
            %span.subheading Consultation
            %h2.mb-4 Free Consultation
            %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
          %form.appointment-form.ftco-animate{:action => "#"}
            .d-md-flex
              .form-group
                %input.form-control{:placeholder => "First Name", :type => "text"}/
              .form-group.ml-md-4
                %input.form-control{:placeholder => "Last Name", :type => "text"}/
            .d-md-flex
              .form-group
                .form-field
                  .select-wrap
                    .icon
                      %span.ion-ios-arrow-down
                    %select.form-control{:id => "", :name => ""}
                      %option{:value => ""} Select Your Services
                      %option{:value => ""} Neurology
                      %option{:value => ""} Cardiology
                      %option{:value => ""} Dental
                      %option{:value => ""} Ophthalmology
                      %option{:value => ""} Other Services
              .form-group.ml-md-4
                %input.form-control{:placeholder => "Phone", :type => "text"}/
            .d-md-flex
              .form-group
                .input-wrap
                  .icon
                    %span.ion-md-calendar
                  %input.form-control.appointment_date{:placeholder => "Date", :type => "text"}/
              .form-group.ml-md-4
                .input-wrap
                  .icon
                    %span.ion-ios-clock
                  %input.form-control.appointment_time{:placeholder => "Time", :type => "text"}/
            .d-md-flex
              .form-group
                %textarea.form-control{:cols => "30", :id => "", :name => "", :placeholder => "Message", :rows => "2"}
              .form-group.ml-md-4
                %input.btn.py-3.px-4{:type => "submit", :value => "Appointment"}/
        .col-lg-6.p-5.bg-counter.aside-stretch
          %h3.vr About Medical Facts
          .row.pt-4.mt-1
            .col-md-6.d-flex.justify-content-center.counter-wrap.ftco-animate
              .block-18.p-5.bg-light
                .text
                  %strong.number{"data-number" => "30"} 0
                  %span Years of Experienced
            .col-md-6.d-flex.justify-content-center.counter-wrap.ftco-animate
              .block-18.p-5.bg-light
                .text
                  %strong.number{"data-number" => "4500"} 0
                  %span Happy Patients
            .col-md-6.d-flex.justify-content-center.counter-wrap.ftco-animate
              .block-18.p-5.bg-light
                .text
                  %strong.number{"data-number" => "84"} 0
                  %span Number of Doctors
            .col-md-6.d-flex.justify-content-center.counter-wrap.ftco-animate
              .block-18.p-5.bg-light
                .text
                  %strong.number{"data-number" => "300"} 0
                  %span Number of Staffs
