%body
  %section.hero-wrap.hero-wrap-2{"data-stellar-background-ratio" => "0.5", :style => "background-image: url('#{image_path 'bg_1.jpg'}');"}
    .overlay
    .container
      .row.no-gutters.slider-text.align-items-center.justify-content-center
        .col-md-9.ftco-animate.text-center
          %h1.mb-2.bread Blog
          %p.breadcrumbs
            %span.mr-2
              %a{:href => root_path}
                Home
                %i.ion-ios-arrow-forward
            %span
              Blog
              %i.ion-ios-arrow-forward
  %section.ftco-section.bg-light
    .container
      .row
        .col-md-4.ftco-animate
          .blog-entry
            %a.block-20{:href => "blog-single.html", :style => "background-image: url('#{image_path 'image_1.jpg'}');"}
              .meta-date.text-center.p-2
                %span.day 23
                %span.mos January
                %span.yr 2019
            .text.bg-white.p-4
              %h3.heading
                %a{:href => "#"} Scary Thing That You Don’t Get Enough Sleep
              %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
              .d-flex.align-items-center.mt-4
                %p.mb-0
                  %a.btn.btn-primary{:href => "#"}
                    Read More
                    %span.ion-ios-arrow-round-forward
                %p.ml-auto.mb-0
                  %a.mr-2{:href => "#"} Admin
                  %a.meta-chat{:href => "#"}
                    %span.icon-chat
                    3
        .col-md-4.ftco-animate
          .blog-entry
            %a.block-20{:href => "blog-single.html", :style => "background-image: url('#{image_path 'image_2.jpg'}');"}
              .meta-date.text-center.p-2
                %span.day 23
                %span.mos January
                %span.yr 2019
            .text.bg-white.p-4
              %h3.heading
                %a{:href => "#"} Scary Thing That You Don’t Get Enough Sleep
              %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
              .d-flex.align-items-center.mt-4
                %p.mb-0
                  %a.btn.btn-primary{:href => "#"}
                    Read More
                    %span.ion-ios-arrow-round-forward
                %p.ml-auto.mb-0
                  %a.mr-2{:href => "#"} Admin
                  %a.meta-chat{:href => "#"}
                    %span.icon-chat
                    3
        .col-md-4.ftco-animate
          .blog-entry
            %a.block-20{:href => "blog-single.html", :style => "background-image: url('#{image_path 'image_3.jpg'}');"}
              .meta-date.text-center.p-2
                %span.day 23
                %span.mos January
                %span.yr 2019
            .text.bg-white.p-4
              %h3.heading
                %a{:href => "#"} Scary Thing That You Don’t Get Enough Sleep
              %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
              .d-flex.align-items-center.mt-4
                %p.mb-0
                  %a.btn.btn-primary{:href => "#"}
                    Read More
                    %span.ion-ios-arrow-round-forward
                %p.ml-auto.mb-0
                  %a.mr-2{:href => "#"} Admin
                  %a.meta-chat{:href => "#"}
                    %span.icon-chat
                    3
        .col-md-4.ftco-animate
          .blog-entry
            %a.block-20{:href => "blog-single.html", :style => "background-image: url('#{image_path 'image_4.jpg'}');"}
              .meta-date.text-center.p-2
                %span.day 23
                %span.mos January
                %span.yr 2019
            .text.bg-white.p-4
              %h3.heading
                %a{:href => "#"} Scary Thing That You Don’t Get Enough Sleep
              %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
              .d-flex.align-items-center.mt-4
                %p.mb-0
                  %a.btn.btn-primary{:href => "#"}
                    Read More
                    %span.ion-ios-arrow-round-forward
                %p.ml-auto.mb-0
                  %a.mr-2{:href => "#"} Admin
                  %a.meta-chat{:href => "#"}
                    %span.icon-chat
                    3
        .col-md-4.ftco-animate
          .blog-entry
            %a.block-20{:href => "blog-single.html", :style => "background-image: url('#{image_path 'image_5.jpg'}');"}
              .meta-date.text-center.p-2
                %span.day 23
                %span.mos January
                %span.yr 2019
            .text.bg-white.p-4
              %h3.heading
                %a{:href => "#"} Scary Thing That You Don’t Get Enough Sleep
              %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
              .d-flex.align-items-center.mt-4
                %p.mb-0
                  %a.btn.btn-primary{:href => "#"}
                    Read More
                    %span.ion-ios-arrow-round-forward
                %p.ml-auto.mb-0
                  %a.mr-2{:href => "#"} Admin
                  %a.meta-chat{:href => "#"}
                    %span.icon-chat
                    3
        .col-md-4.ftco-animate
          .blog-entry
            %a.block-20{:href => "blog-single.html", :style => "background-image: url('#{image_path 'image_6.jpg'}');"}
              .meta-date.text-center.p-2
                %span.day 23
                %span.mos January
                %span.yr 2019
            .text.bg-white.p-4
              %h3.heading
                %a{:href => "#"} Scary Thing That You Don’t Get Enough Sleep
              %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
              .d-flex.align-items-center.mt-4
                %p.mb-0
                  %a.btn.btn-primary{:href => "#"}
                    Read More
                    %span.ion-ios-arrow-round-forward
                %p.ml-auto.mb-0
                  %a.mr-2{:href => "#"} Admin
                  %a.meta-chat{:href => "#"}
                    %span.icon-chat
                    3
      .row.no-gutters.my-5
        .col.text-center
          .block-27
            %ul
              %li
                %a{:href => "#"}
                  %i.ion-ios-arrow-back
              %li.active
                %span 1
              %li
                %a{:href => "#"} 2
              %li
                %a{:href => "#"} 3
              %li
                %a{:href => "#"} 4
              %li
                %a{:href => "#"} 5
              %li
                %a{:href => "#"}
                  %i.ion-ios-arrow-forward
