%body
  %section.hero-wrap.hero-wrap-2{"data-stellar-background-ratio" => "0.5", :style => "background-image: url('#{image_path 'bg_1.jpg'}');"}
    .overlay
    .container
      .row.no-gutters.slider-text.align-items-center.justify-content-center
        .col-md-9.ftco-animate.text-center
          %h1.mb-2.bread Qualified Doctors
          %p.breadcrumbs
            %span.mr-2
              %a{:href => root_path}
                Home
                %i.ion-ios-arrow-forward
            %span
              Doctor
              %i.ion-ios-arrow-forward
  %section.ftco-section
    .container
      .row
        .col-md-6.col-lg-4.ftco-animate
          .team-item
            .image
              %a{:href => "#"}= image_tag('doc-1.jpg')
            .name
              %h4 Dr. Sarah Lentz
              %span Surgeon
            .timetable
              .item
                .label Monday-Friday
                .value 8:00 - 17:00
              .item
                .label Saturday
                .value 10:00 - 16:00
              .item
                .label Sunday
                .value 12:00 - 14:00
            %a.btn.btn-secondary.py-2.px-3{:href => "appointment.html"} Maread profilement
        .col-md-6.col-lg-4.ftco-animate
          .team-item
            .image
              %a{:href => "#"}= image_tag('doc-2.jpg')
            .name
              %h4 Dr. Sarah Lentz
              %span Surgeon
            .timetable
              .item
                .label Monday-Friday
                .value 8:00 - 17:00
              .item
                .label Saturday
                .value 10:00 - 16:00
              .item
                .label Sunday
                .value 12:00 - 14:00
            %a.btn.btn-secondary.py-2.px-3{:href => "appointment.html"} Maread profilement
        .col-md-6.col-lg-4.ftco-animate
          .team-item
            .image
              %a{:href => "#"}= image_tag('doc-3.jpg')
            .name
              %h4 Dr. Sarah Lentz
              %span Surgeon
            .timetable
              .item
                .label Monday-Friday
                .value 8:00 - 17:00
              .item
                .label Saturday
                .value 10:00 - 16:00
              .item
                .label Sunday
                .value 12:00 - 14:00
            %a.btn.btn-secondary.py-2.px-3{:href => "appointment.html"} Maread profilement
        .col-md-6.col-lg-4.ftco-animate
          .team-item
            .image
              %a{:href => "#"}= image_tag('doc-4.jpg')
            .name
              %h4 Dr. Sarah Lentz
              %span Surgeon
            .timetable
              .item
                .label Monday-Friday
                .value 8:00 - 17:00
              .item
                .label Saturday
                .value 10:00 - 16:00
              .item
                .label Sunday
                .value 12:00 - 14:00
            %a.btn.btn-secondary.py-2.px-3{:href => "appointment.html"} Maread profilement
        .col-md-6.col-lg-4.ftco-animate
          .team-item
            .image
              %a{:href => "#"}= image_tag('doc-5.jpg')
            .name
              %h4 Dr. Sarah Lentz
              %span Surgeon
            .timetable
              .item
                .label Monday-Friday
                .value 8:00 - 17:00
              .item
                .label Saturday
                .value 10:00 - 16:00
              .item
                .label Sunday
                .value 12:00 - 14:00
            %a.btn.btn-secondary.py-2.px-3{:href => "appointment.html"} Maread profilement
        .col-md-6.col-lg-4.ftco-animate
          .team-item
            .image
              %a{:href => "#"}= image_tag('doc-6.jpg')
            .name
              %h4 Dr. Sarah Lentz
              %span Surgeon
            .timetable
              .item
                .label Monday-Friday
                .value 8:00 - 17:00
              .item
                .label Saturday
                .value 10:00 - 16:00
              .item
                .label Sunday
                .value 12:00 - 14:00
            %a.btn.btn-secondary.py-2.px-3{:href => "appointment.html"} Maread profilement
        .col-md-6.col-lg-4.ftco-animate
          .team-item
            .image
              %a{:href => "#"}= image_tag('doc-7.jpg')
            .name
              %h4 Dr. Sarah Lentz
              %span Surgeon
            .timetable
              .item
                .label Monday-Friday
                .value 8:00 - 17:00
              .item
                .label Saturday
                .value 10:00 - 16:00
              .item
                .label Sunday
                .value 12:00 - 14:00
            %a.btn.btn-secondary.py-2.px-3{:href => "appointment.html"} Maread profilement
        .col-md-6.col-lg-4.ftco-animate
          .team-item
            .image
              %a{:href => "#"}= image_tag('doc-8.jpg')
            .name
              %h4 Dr. Sarah Lentz
              %span Surgeon
            .timetable
              .item
                .label Monday-Friday
                .value 8:00 - 17:00
              .item
                .label Saturday
                .value 10:00 - 16:00
              .item
                .label Sunday
                .value 12:00 - 14:00
            %a.btn.btn-secondary.py-2.px-3{:href => "appointment.html"} Maread profilement
        .col-md-6.col-lg-4.ftco-animate
          .team-item
            .image
              %a{:href => "#"}= image_tag('doc-9.jpg')
            .name
              %h4 Dr. Sarah Lentz
              %span Surgeon
            .timetable
              .item
                .label Monday-Friday
                .value 8:00 - 17:00
              .item
                .label Saturday
                .value 10:00 - 16:00
              .item
                .label Sunday
                .value 12:00 - 14:00
            %a.btn.btn-secondary.py-2.px-3{:href => "appointment.html"} Maread profilement
