%body
  %section.home-slider.owl-carousel
    .slider-item{"data-stellar-background-ratio" => "0.5", :style => "background-image:url('#{image_path 'bg_1.jpg'}');"}
      .overlay
      .container
        .row.no-gutters.slider-text.align-items-center.justify-content-start{"data-scrollax-parent" => "true"}
          .col-md-6.text.ftco-animate
            %h1.mb-4
              Helping Your
              %span Stay Happy One
            %h3.subheading Everyday We Bring Hope and Smile to the Patient We Serve
            %p
              %a.btn.btn-secondary.px-4.py-3.mt-3{:href => "#"} View our works
    .slider-item{:style => "background-image:url('#{image_path 'bg_2.jpg'}');"}
      .overlay
      .container
        .row.no-gutters.slider-text.align-items-center.justify-content-start{"data-scrollax-parent" => "true"}
          .col-md-6.text.ftco-animate
            %h1.mb-4
              We Care
              %span About Your Health
            %h3.subheading Your Health is Our Top Priority with Comprehensive, Affordable medical.
            %p
              %a.btn.btn-secondary.px-4.py-3.mt-3{:href => "#"} View our works
  %section.ftco-services.ftco-no-pb
    .container
      .row.no-gutters
        .col-lg-3.col-md-6.col-sm-12.d-flex.services.align-self-stretch.p-4.ftco-animate
          .media.block-6.d-block.text-center
            .icon.d-flex.justify-content-center.align-items-center
              %span.flaticon-doctor
            .media-body.p-2.mt-3
              %h3.heading Qualitfied Doctors
              %p Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
        .col-lg-3.col-md-6.col-sm-12.d-flex.services.align-self-stretch.p-4.ftco-animate
          .media.block-6.d-block.text-center
            .icon.d-flex.justify-content-center.align-items-center
              %span.flaticon-ambulance
            .media-body.p-2.mt-3
              %h3.heading Emergency Care
              %p Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
        .col-lg-3.col-md-6.col-sm-12.d-flex.services.align-self-stretch.p-4.ftco-animate
          .media.block-6.d-block.text-center
            .icon.d-flex.justify-content-center.align-items-center
              %span.flaticon-stethoscope
            .media-body.p-2.mt-3
              %h3.heading Outdoor Checkup
              %p Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
        .col-lg-3.col-md-6.col-sm-12.d-flex.services.align-self-stretch.p-4.ftco-animate
          .media.block-6.d-block.text-center
            .icon.d-flex.justify-content-center.align-items-center
              %span.flaticon-24-hours
            .media-body.p-2.mt-3
              %h3.heading 24 Hours Service
              %p Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
  %section.ftco-section.ftco-no-pt.ftc-no-pb
    .container
      .row.no-gutters
        .col-md-5.p-md-5.img.img-2.mt-5.mt-md-0{:style => "background-image: url('#{image_path 'about.jpg'}');"}
        .col-md-7.wrap-about.py-4.py-md-5.ftco-animate
          .heading-section.mb-5
            .pl-md-5.ml-md-5
              %span.subheading About Medical
              %h2.mb-4{:style => "font-size: 28px;"} Medical specialty concerned with the care of acutely ill hospitalized patients
          .pl-md-5.ml-md-5.mb-5
            %p On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word.
            .row.mt-5.pt-2
              .col-lg-6
                .services-2.d-flex
                  .icon.mt-2.mr-3.d-flex.justify-content-center.align-items-center
                    %span.flaticon-first-aid-kit
                  .text
                    %h3 Primary Care
                    %p Far far away, behind the word mountains, far from the countries Vokalia.
              .col-lg-6
                .services-2.d-flex
                  .icon.mt-2.mr-3.d-flex.justify-content-center.align-items-center
                    %span.flaticon-dropper
                  .text
                    %h3 Lab Test
                    %p Far far away, behind the word mountains, far from the countries Vokalia.
              .col-lg-6
                .services-2.d-flex
                  .icon.mt-2.mr-3.d-flex.justify-content-center.align-items-center
                    %span.flaticon-experiment-results
                  .text
                    %h3 Symptom Check
                    %p Far far away, behind the word mountains, far from the countries Vokalia.
              .col-lg-6
                .services-2.d-flex
                  .icon.mt-2.mr-3.d-flex.justify-content-center.align-items-center
                    %span.flaticon-heart-rate
                  .text
                    %h3 Heart Rate
                    %p Far far away, behind the word mountains, far from the countries Vokalia.
  %section.ftco-intro{"data-stellar-background-ratio" => "0.5", :style => "background-image: url('#{image_path 'bg_3.jpg'}');"}
    .overlay
    .container
      .row
        .col-lg-9.col-sm-12
          %h2 We Provide Free Health Care Consultation
          %p.mb-0 Your Health is Our Top Priority with Comprehensive, Affordable medical.
          %p
        .col-lg-3.col-sm-12.d-flex.align-items-center
          %p.mb-0
            %a.btn.btn-secondary-2.px-4.py-3{:href => "#"} Free Consutation
  %section.ftco-section
    .container
      .row.justify-content-center.mb-5.pb-2
        .col-md-8.text-center.heading-section.ftco-animate
          %span.subheading Departments
          %h2.mb-4 Clinic Departments
          %p Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country
      .ftco-departments
        .row
          .col-md-12.nav-link-wrap
            #v-pills-tab.nav.nav-pills.d-flex.text-center{"aria-orientation" => "vertical", :role => "tablist"}
              %a#v-pills-1-tab.nav-link.ftco-animate.active{"aria-controls" => "v-pills-1", "aria-selected" => "true", "data-toggle" => "pill", :href => "#v-pills-1", :role => "tab"} Neurology
              %a#v-pills-2-tab.nav-link.ftco-animate{"aria-controls" => "v-pills-2", "aria-selected" => "false", "data-toggle" => "pill", :href => "#v-pills-2", :role => "tab"} Surgical
              %a#v-pills-3-tab.nav-link.ftco-animate{"aria-controls" => "v-pills-3", "aria-selected" => "false", "data-toggle" => "pill", :href => "#v-pills-3", :role => "tab"} Dental
              %a#v-pills-4-tab.nav-link.ftco-animate{"aria-controls" => "v-pills-4", "aria-selected" => "false", "data-toggle" => "pill", :href => "#v-pills-4", :role => "tab"} Ophthalmology
              %a#v-pills-5-tab.nav-link.ftco-animate{"aria-controls" => "v-pills-5", "aria-selected" => "false", "data-toggle" => "pill", :href => "#v-pills-5", :role => "tab"} Cardiology
          .col-md-12.tab-wrap
            #v-pills-tabContent.tab-content.bg-light.p-4.p-md-5.ftco-animate
              #v-pills-1.tab-pane.py-2.fade.show.active{"aria-labelledby" => "day-1-tab", :role => "tabpanel"}
                .row.departments
                  .col-lg-4.order-lg-last.d-flex.align-items-stretch
                    .img.d-flex.align-self-stretch{:style => "background-image: url('#{image_path 'dept-1.jpg'}');"}
                  .col-lg-8
                    %h2 Neurological Deparments
                    %p On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word.
                    .row.mt-5.pt-2
                      .col-lg-6
                        .services-2.d-flex
                          .icon.mt-2.mr-3.d-flex.justify-content-center.align-items-center
                            %span.flaticon-first-aid-kit
                          .text
                            %h3 Primary Care
                            %p Far far away, behind the word mountains, far from the countries Vokalia.
                      .col-lg-6
                        .services-2.d-flex
                          .icon.mt-2.mr-3.d-flex.justify-content-center.align-items-center
                            %span.flaticon-dropper
                          .text
                            %h3 Lab Test
                            %p Far far away, behind the word mountains, far from the countries Vokalia.
                      .col-lg-6
                        .services-2.d-flex
                          .icon.mt-2.mr-3.d-flex.justify-content-center.align-items-center
                            %span.flaticon-experiment-results
                          .text
                            %h3 Symptom Check
                            %p Far far away, behind the word mountains, far from the countries Vokalia.
                      .col-lg-6
                        .services-2.d-flex
                          .icon.mt-2.mr-3.d-flex.justify-content-center.align-items-center
                            %span.flaticon-heart-rate
                          .text
                            %h3 Heart Rate
                            %p Far far away, behind the word mountains, far from the countries Vokalia.
              #v-pills-2.tab-pane.fade{"aria-labelledby" => "v-pills-day-2-tab", :role => "tabpanel"}
                .row.departments
                  .col-lg-4.order-lg-last.d-flex.align-items-stretch
                    .img.d-flex.align-self-stretch{:style => "background-image: url('#{image_path 'dept-2.jpg'}');"}
                  .col-md-8
                    %h2 Surgical Deparments
                    %p On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word.
                    .row.mt-5.pt-2
                      .col-lg-6
                        .services-2.d-flex
                          .icon.mt-2.mr-3.d-flex.justify-content-center.align-items-center
                            %span.flaticon-first-aid-kit
                          .text
                            %h3 Primary Care
                            %p Far far away, behind the word mountains, far from the countries Vokalia.
                      .col-lg-6
                        .services-2.d-flex
                          .icon.mt-2.mr-3.d-flex.justify-content-center.align-items-center
                            %span.flaticon-dropper
                          .text
                            %h3 Lab Test
                            %p Far far away, behind the word mountains, far from the countries Vokalia.
                      .col-lg-6
                        .services-2.d-flex
                          .icon.mt-2.mr-3.d-flex.justify-content-center.align-items-center
                            %span.flaticon-experiment-results
                          .text
                            %h3 Symptom Check
                            %p Far far away, behind the word mountains, far from the countries Vokalia.
                      .col-lg-6
                        .services-2.d-flex
                          .icon.mt-2.mr-3.d-flex.justify-content-center.align-items-center
                            %span.flaticon-heart-rate
                          .text
                            %h3 Heart Rate
                            %p Far far away, behind the word mountains, far from the countries Vokalia.
              #v-pills-3.tab-pane.fade{"aria-labelledby" => "v-pills-day-3-tab", :role => "tabpanel"}
                .row.departments
                  .col-lg-4.order-lg-last.d-flex.align-items-stretch
                    .img.d-flex.align-self-stretch{:style => "background-image: url('#{image_path 'dept-3.jpg'}');"}
                  .col-md-8
                    %h2 Dental Deparments
                    %p On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word.
                    .row.mt-5.pt-2
                      .col-lg-6
                        .services-2.d-flex
                          .icon.mt-2.mr-3.d-flex.justify-content-center.align-items-center
                            %span.flaticon-first-aid-kit
                          .text
                            %h3 Primary Care
                            %p Far far away, behind the word mountains, far from the countries Vokalia.
                      .col-lg-6
                        .services-2.d-flex
                          .icon.mt-2.mr-3.d-flex.justify-content-center.align-items-center
                            %span.flaticon-dropper
                          .text
                            %h3 Lab Test
                            %p Far far away, behind the word mountains, far from the countries Vokalia.
                      .col-lg-6
                        .services-2.d-flex
                          .icon.mt-2.mr-3.d-flex.justify-content-center.align-items-center
                            %span.flaticon-experiment-results
                          .text
                            %h3 Symptom Check
                            %p Far far away, behind the word mountains, far from the countries Vokalia.
                      .col-lg-6
                        .services-2.d-flex
                          .icon.mt-2.mr-3.d-flex.justify-content-center.align-items-center
                            %span.flaticon-heart-rate
                          .text
                            %h3 Heart Rate
                            %p Far far away, behind the word mountains, far from the countries Vokalia.
              #v-pills-4.tab-pane.fade{"aria-labelledby" => "v-pills-day-4-tab", :role => "tabpanel"}
                .row.departments
                  .col-lg-4.order-lg-last.d-flex.align-items-stretch
                    .img.d-flex.align-self-stretch{:style => "background-image: url('#{image_path 'dept-4.jpg'}');"}
                  .col-lg-8
                    %h2 Neurological Deparments
                    %p On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word.
                    .row.mt-5.pt-2
                      .col-lg-6
                        .services-2.d-flex
                          .icon.mt-2.mr-3.d-flex.justify-content-center.align-items-center
                            %span.flaticon-first-aid-kit
                          .text
                            %h3 Primary Care
                            %p Far far away, behind the word mountains, far from the countries Vokalia.
                      .col-lg-6
                        .services-2.d-flex
                          .icon.mt-2.mr-3.d-flex.justify-content-center.align-items-center
                            %span.flaticon-dropper
                          .text
                            %h3 Lab Test
                            %p Far far away, behind the word mountains, far from the countries Vokalia.
                      .col-lg-6
                        .services-2.d-flex
                          .icon.mt-2.mr-3.d-flex.justify-content-center.align-items-center
                            %span.flaticon-experiment-results
                          .text
                            %h3 Symptom Check
                            %p Far far away, behind the word mountains, far from the countries Vokalia.
                      .col-lg-6
                        .services-2.d-flex
                          .icon.mt-2.mr-3.d-flex.justify-content-center.align-items-center
                            %span.flaticon-heart-rate
                          .text
                            %h3 Heart Rate
                            %p Far far away, behind the word mountains, far from the countries Vokalia.
              #v-pills-5.tab-pane.fade{"aria-labelledby" => "v-pills-day-5-tab", :role => "tabpanel"}
                .row.departments
                  .col-lg-4.order-lg-last.d-flex.align-items-stretch
                    .img.d-flex.align-self-stretch{:style => "background-image: url('#{image_path 'dept-5.jpg'}');"}
                  .col-lg-8
                    %h2 Neurological Deparments
                    %p On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word.
                    .row.mt-5.pt-2
                      .col-lg-6
                        .services-2.d-flex
                          .icon.mt-2.mr-3.d-flex.justify-content-center.align-items-center
                            %span.flaticon-first-aid-kit
                          .text
                            %h3 Primary Care
                            %p Far far away, behind the word mountains, far from the countries Vokalia.
                      .col-lg-6
                        .services-2.d-flex
                          .icon.mt-2.mr-3.d-flex.justify-content-center.align-items-center
                            %span.flaticon-dropper
                          .text
                            %h3 Lab Test
                            %p Far far away, behind the word mountains, far from the countries Vokalia.
                      .col-lg-6
                        .services-2.d-flex
                          .icon.mt-2.mr-3.d-flex.justify-content-center.align-items-center
                            %span.flaticon-experiment-results
                          .text
                            %h3 Symptom Check
                            %p Far far away, behind the word mountains, far from the countries Vokalia.
                      .col-lg-6
                        .services-2.d-flex
                          .icon.mt-2.mr-3.d-flex.justify-content-center.align-items-center
                            %span.flaticon-heart-rate
                          .text
                            %h3 Heart Rate
                            %p Far far away, behind the word mountains, far from the countries Vokalia.
  %section.ftco-section.ftco-no-pt
    .container
      .row.justify-content-center.mb-5.pb-2
        .col-md-8.text-center.heading-section.ftco-animate
          %span.subheading Doctors
          %h2.mb-4 Our Qualified Doctors
          %p Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country
      .row
        .col-md-6.col-lg-3.ftco-animate
          .staff
            .img-wrap.d-flex.align-items-stretch
              .img.align-self-stretch{:style => "background-image: url('#{image_path 'doc-1.jpg'}');"}
            .text.pt-3.text-center
              %h3 Dr. Lloyd Wilson
              %span.position.mb-2 Neurologist
              .faded
                %p I am an ambitious workaholic, but apart from that, pretty simple person.
                %ul.ftco-social.text-center
                  %li.ftco-animate
                    %a{:href => "#"}
                      %span.icon-twitter
                  %li.ftco-animate
                    %a{:href => "#"}
                      %span.icon-facebook
                  %li.ftco-animate
                    %a{:href => "#"}
                      %span.icon-google-plus
                  %li.ftco-animate
                    %a{:href => "#"}
                      %span.icon-instagram
        .col-md-6.col-lg-3.ftco-animate
          .staff
            .img-wrap.d-flex.align-items-stretch
              .img.align-self-stretch{:style => "background-image: url('#{image_path 'doc-2.jpg'}');"}
            .text.pt-3.text-center
              %h3 Dr. Rachel Parker
              %span.position.mb-2 Ophthalmologist
              .faded
                %p I am an ambitious workaholic, but apart from that, pretty simple person.
                %ul.ftco-social.text-center
                  %li.ftco-animate
                    %a{:href => "#"}
                      %span.icon-twitter
                  %li.ftco-animate
                    %a{:href => "#"}
                      %span.icon-facebook
                  %li.ftco-animate
                    %a{:href => "#"}
                      %span.icon-google-plus
                  %li.ftco-animate
                    %a{:href => "#"}
                      %span.icon-instagram
        .col-md-6.col-lg-3.ftco-animate
          .staff
            .img-wrap.d-flex.align-items-stretch
              .img.align-self-stretch{:style => "background-image: url('#{image_path 'doc-3.jpg'}');"}
            .text.pt-3.text-center
              %h3 Dr. Ian Smith
              %span.position.mb-2 Dentist
              .faded
                %p I am an ambitious workaholic, but apart from that, pretty simple person.
                %ul.ftco-social.text-center
                  %li.ftco-animate
                    %a{:href => "#"}
                      %span.icon-twitter
                  %li.ftco-animate
                    %a{:href => "#"}
                      %span.icon-facebook
                  %li.ftco-animate
                    %a{:href => "#"}
                      %span.icon-google-plus
                  %li.ftco-animate
                    %a{:href => "#"}
                      %span.icon-instagram
        .col-md-6.col-lg-3.ftco-animate
          .staff
            .img-wrap.d-flex.align-items-stretch
              .img.align-self-stretch{:style => "background-image: url('#{image_path 'doc-4.jpg'}');"}
            .text.pt-3.text-center
              %h3 Dr. Alicia Henderson
              %span.position.mb-2 Pediatrician
              .faded
                %p I am an ambitious workaholic, but apart from that, pretty simple person.
                %ul.ftco-social.text-center
                  %li.ftco-animate
                    %a{:href => "#"}
                      %span.icon-twitter
                  %li.ftco-animate
                    %a{:href => "#"}
                      %span.icon-facebook
                  %li.ftco-animate
                    %a{:href => "#"}
                      %span.icon-google-plus
                  %li.ftco-animate
                    %a{:href => "#"}
                      %span.icon-instagram
  %section.ftco-section.testimony-section.bg-light
    .container
      .row.justify-content-center.mb-5.pb-2
        .col-md-8.text-center.heading-section.ftco-animate
          %span.subheading Testimonials
          %h2.mb-4 Our Patients Says About Us
          %p Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country
      .row.ftco-animate.justify-content-center
        .col-md-8
          .carousel-testimony.owl-carousel
            .item
              .testimony-wrap.d-flex
                .user-img.mr-4{:style => "background-image: url('#{image_path 'person_1.jpg'}')"}
                .text.ml-2.bg-light
                  %span.quote.d-flex.align-items-center.justify-content-center
                    %i.icon-quote-left
                  %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                  %p.name Racky Henderson
                  %span.position Farmer
            .item
              .testimony-wrap.d-flex
                .user-img.mr-4{:style => "background-image: url('#{image_path 'person_2.jpg'}')"}
                .text.ml-2.bg-light
                  %span.quote.d-flex.align-items-center.justify-content-center
                    %i.icon-quote-left
                  %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                  %p.name Henry Dee
                  %span.position Businessman
            .item
              .testimony-wrap.d-flex
                .user-img.mr-4{:style => "background-image: url('#{image_path 'person_3.jpg'}')"}
                .text.ml-2.bg-light
                  %span.quote.d-flex.align-items-center.justify-content-center
                    %i.icon-quote-left
                  %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                  %p.name Mark Huff
                  %span.position Students
            .item
              .testimony-wrap.d-flex
                .user-img.mr-4{:style => "background-image: url('#{image_path 'person_4.jpg'}')"}
                .text.ml-2.bg-light
                  %span.quote.d-flex.align-items-center.justify-content-center
                    %i.icon-quote-left
                  %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                  %p.name Rodel Golez
                  %span.position Striper
            .item
              .testimony-wrap.d-flex
                .user-img.mr-4{:style => "background-image: url('#{image_path 'person_1.jpg'}')"}
                .text.ml-2.bg-light
                  %span.quote.d-flex.align-items-center.justify-content-center
                    %i.icon-quote-left
                  %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                  %p.name Ken Bosh
                  %span.position Manager
  %section#section-counter.ftco-section.ftco-no-pt.ftco-no-pb.ftco-counter.img{"data-stellar-background-ratio" => "0.5", :style => "background-image: url('#{image_path 'bg_3.jpg'}');"}
    .container
      .row
        .col-lg-6.col-md-12.col-sm-12.py-5.pr-md-5
          .heading-section.heading-section-white.ftco-animate.mb-5
            %span.subheading Consultation
            %h2.mb-4 Free Consultation
            %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
          %form.appointment-form.ftco-animate{:action => "#"}
            .d-md-flex
              .form-group
                %input.form-control{:placeholder => "First Name", :type => "text"}/
              .form-group.ml-md-4
                %input.form-control{:placeholder => "Last Name", :type => "text"}/
            .d-md-flex
              .form-group
                .form-field
                  .select-wrap
                    .icon
                      %span.ion-ios-arrow-down
                    %select.form-control{:id => "", :name => ""}
                      %option{:value => ""} Select Your Services
                      %option{:value => ""} Neurology
                      %option{:value => ""} Cardiology
                      %option{:value => ""} Dental
                      %option{:value => ""} Ophthalmology
                      %option{:value => ""} Other Services
              .form-group.ml-md-4
                %input.form-control{:placeholder => "Phone", :type => "text"}/
            .d-md-flex
              .form-group
                .input-wrap
                  .icon
                    %span.ion-md-calendar
                  %input.form-control.appointment_date{:placeholder => "Date", :type => "text"}/
              .form-group.ml-md-4
                .input-wrap
                  .icon
                    %span.ion-ios-clock
                  %input.form-control.appointment_time{:placeholder => "Time", :type => "text"}/
            .d-md-flex
              .form-group
                %textarea.form-control{:cols => "30", :id => "", :name => "", :placeholder => "Message", :rows => "2"}
              .form-group.ml-md-4
                %input.btn.py-3.px-4{:type => "submit", :value => "Appointment"}/
        .col-lg-6.p-5.bg-counter.aside-stretch
          %h3.vr About Medical Facts
          .row.pt-4.mt-1
            .col-md-6.d-flex.justify-content-center.counter-wrap.ftco-animate
              .block-18.p-5.bg-light
                .text
                  %strong.number{"data-number" => "30"} 0
                  %span Years of Experienced
            .col-md-6.d-flex.justify-content-center.counter-wrap.ftco-animate
              .block-18.p-5.bg-light
                .text
                  %strong.number{"data-number" => "4500"} 0
                  %span Happy Patients
            .col-md-6.d-flex.justify-content-center.counter-wrap.ftco-animate
              .block-18.p-5.bg-light
                .text
                  %strong.number{"data-number" => "84"} 0
                  %span Number of Doctors
            .col-md-6.d-flex.justify-content-center.counter-wrap.ftco-animate
              .block-18.p-5.bg-light
                .text
                  %strong.number{"data-number" => "300"} 0
                  %span Number of Staffs
  %section.ftco-section.bg-light
    .container
      .row.justify-content-center.mb-5.pb-2
        .col-md-8.text-center.heading-section.ftco-animate
          %span.subheading Pricing
          %h2.mb-4 Our Pricing
          %p Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country
      .row
        .col-lg-3.col-md-6.ftco-animate
          .pricing-entry.pb-5.text-center
            %div
              %h3.mb-4 Basic
              %p
                %span.price $24.50
                %span.per / session
            %ul
              %li Diagnostic Services
              %li Professional Consultation
              %li Tooth Implants
              %li Surgical Extractions
              %li Teeth Whitening
            %p.button.text-center
              %a.btn.btn-primary.px-4.py-3{:href => "#"} Get Offer
        .col-lg-3.col-md-6.ftco-animate
          .pricing-entry.pb-5.text-center
            %div
              %h3.mb-4 Standard
              %p
                %span.price $34.50
                %span.per / session
            %ul
              %li Diagnostic Services
              %li Professional Consultation
              %li Tooth Implants
              %li Surgical Extractions
              %li Teeth Whitening
            %p.button.text-center
              %a.btn.btn-primary.px-4.py-3{:href => "#"} Get Offer
        .col-lg-3.col-md-6.ftco-animate
          .pricing-entry.active.pb-5.text-center
            %div
              %h3.mb-4 Premium
              %p
                %span.price $54.50
                %span.per / session
            %ul
              %li Diagnostic Services
              %li Professional Consultation
              %li Tooth Implants
              %li Surgical Extractions
              %li Teeth Whitening
            %p.button.text-center
              %a.btn.btn-primary.px-4.py-3{:href => "#"} Get Offer
        .col-lg-3.col-md-6.ftco-animate
          .pricing-entry.pb-5.text-center
            %div
              %h3.mb-4 Platinum
              %p
                %span.price $89.50
                %span.per / session
            %ul
              %li Diagnostic Services
              %li Professional Consultation
              %li Tooth Implants
              %li Surgical Extractions
              %li Teeth Whitening
            %p.button.text-center
              %a.btn.btn-primary.px-4.py-3{:href => "#"} Get Offer
  %section.ftco-section.bg-light
    .container
      .row.justify-content-center.mb-5.pb-2
        .col-md-8.text-center.heading-section.ftco-animate
          %span.subheading Blog
          %h2.mb-4 Recent Blog
          %p Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country
      .row
        .col-md-4.ftco-animate
          .blog-entry
            %a.block-20{:href => "blog-single.html", :style => "background-image: url('#{image_path 'image_1.jpg'}');"}
              .meta-date.text-center.p-2
                %span.day 23
                %span.mos January
                %span.yr 2019
            .text.bg-white.p-4
              %h3.heading
                %a{:href => "#"} Scary Thing That You Don’t Get Enough Sleep
              %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
              .d-flex.align-items-center.mt-4
                %p.mb-0
                  %a.btn.btn-primary{:href => "#"}
                    Read More
                    %span.ion-ios-arrow-round-forward
                %p.ml-auto.mb-0
                  %a.mr-2{:href => "#"} Admin
                  %a.meta-chat{:href => "#"}
                    %span.icon-chat
                    3
        .col-md-4.ftco-animate
          .blog-entry
            %a.block-20{:href => "blog-single.html", :style => "background-image: url('#{image_path 'image_2.jpg'}');"}
              .meta-date.text-center.p-2
                %span.day 23
                %span.mos January
                %span.yr 2019
            .text.bg-white.p-4
              %h3.heading
                %a{:href => "#"} Scary Thing That You Don’t Get Enough Sleep
              %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
              .d-flex.align-items-center.mt-4
                %p.mb-0
                  %a.btn.btn-primary{:href => "#"}
                    Read More
                    %span.ion-ios-arrow-round-forward
                %p.ml-auto.mb-0
                  %a.mr-2{:href => "#"} Admin
                  %a.meta-chat{:href => "#"}
                    %span.icon-chat
                    3
        .col-md-4.ftco-animate
          .blog-entry
            %a.block-20{:href => "blog-single.html", :style => "background-image: url('#{image_path 'image_3.jpg'}');"}
              .meta-date.text-center.p-2
                %span.day 23
                %span.mos January
                %span.yr 2019
            .text.bg-white.p-4
              %h3.heading
                %a{:href => "#"} Scary Thing That You Don’t Get Enough Sleep
              %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
              .d-flex.align-items-center.mt-4
                %p.mb-0
                  %a.btn.btn-primary{:href => "#"}
                    Read More
                    %span.ion-ios-arrow-round-forward
                %p.ml-auto.mb-0
                  %a.mr-2{:href => "#"} Admin
                  %a.meta-chat{:href => "#"}
                    %span.icon-chat
                    3
