%body
  .site-blocks-cover.overlay{"data-aos" => "fade", "data-stellar-background-ratio" => "0.5", :style => "background-image: url('#{image_path 'hero_2.png'}');"}
    .container
      .row.align-items-center.justify-content-center
        .col-md-12{"data-aos" => "fade-up", "data-aos-delay" => "400"}
          .row
            .col-md-7
              %h1 WELCOME TO MY SITE
              %p.mb-5.lead Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam assumenda ea quo cupiditate facere deleniti fuga officia.
  #work-section.site-section
    .container
      .row.mb-5.justify-content-center
        .col-md-6.text-center
          %h2.section-title.mb-3 Work
          %p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae nostrum natus excepturi fuga ullam accusantium vel ut eveniet aut consequatur laboriosam ipsam.
      .row
        .col-sm-6.col-md-4.mix.photography
          .portFlio-item
            = image_tag("1.jpg", :class => "img-responsive")
            .overlay
              .work-table
                .table-cell
                  .work-content
                    %h3 Project Title
                    %p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    %a.gallery{:href => ""}
                      %i.fa.fa-camera{"aria-hidden" => "true"}
                    %a{:href => "", :target => "_blank"}
                      %i.fa.fa-link{"aria-hidden" => "true"}
        .col-sm-6.col-md-4.mix.photography
          .portfolio-item
            = image_tag("1.jpg", :class => "img-responsive")
            .overlay
              .work-table
                .table-cell
                  .work-content
                    %h3 Project Title
                    %p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    %a.gallery{:href => ""}
                      %i.fa.fa-camera{"aria-hidden" => "true"}
                    %a{:href => "", :target => "_blank"}
                      %i.fa.fa-link{"aria-hidden" => "true"}
        .col-sm-6.col-md-4.mix.photography
          .portfolio-item
            = image_tag("1.jpg", :class => "img-responsive")
            .overlay
              .work-table
                .table-cell
                  .work-content
                    %h3 Project Title
                    %p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    %a.gallery{:href => ""}
                      %i.fa.fa-camera{"aria-hidden" => "true"}
                    %a{:href => "", :target => "_blank"}
                      %i.fa.fa-link{"aria-hidden" => "true"}
        .col-sm-6.col-md-4.mix.photography
          .portfolio-item
            = image_tag("1.jpg", :class => "img-responsive")
            .overlay
              .work-table
                .table-cell
                  .work-content
                    %h3 Project Title
                    %p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    %a.gallery{:href => ""}
                      %i.fa.fa-camera{"aria-hidden" => "true"}
                    %a{:href => "", :target => "_blank"}
                      %i.fa.fa-link{"aria-hidden" => "true"}
        .col-sm-6.col-md-4.mix.photography
          .portfolio-item
            = image_tag("1.jpg", :class => "img-responsive")
            .overlay
              .work-table
                .table-cell
                  .work-content
                    %h3 Project Title
                    %p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    %a.gallery{:href => ""}
                      %i.fa.fa-camera{"aria-hidden" => "true"}
                    %a{:href => "", :target => "_blank"}
                      %i.fa.fa-link{"aria-hidden" => "true"}
        .col-sm-6.col-md-4.mix.photography
          .portfolio-item
            = image_tag("1.jpg", :class => "img-responsive")
            .overlay
              .work-table
                .table-cell
                  .work-content
                    %h3 Project Title
                    %p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    %a.gallery{:href => ""}
                      %i.fa.fa-camera{"aria-hidden" => "true"}
                    %a{:href => "", :target => "_blank"}
                      %i.fa.fa-link{"aria-hidden" => "true"}
  #about-section.site-section
    .heading
      %h2.section-title Discover about me
    .container
      .row
        .col-xs-12.col-sm-12.col-md-6.text-center
          = image_tag("about_1.jpg", :class => "img-responsive wow fadeIn" )
          .fadeIn.text-center.social{"data-wow-delay" => "0.2s"}
            %a{:href => "#", :target => "_blank"}
              %i.fa.fa-facebook
            %a{:href => "#", :target => "_blank"}
              %i.fa.fa-twitter
            %a{:href => "#", :target => "_blank"}
              %i.fa.fa-google-plus
            %a{:href => "#", :target => "_blank"}
              %i.fa.fa-linkedin
            %a{:href => "#", :target => "_blank"}
              %i.fa.fa-pinterest
            %a{:href => "#", :target => "_blank"}
              %i.fa.fa-youtube-play
        .col-xs-12.col-sm-12.col-md-6
          %h1.text-center JONATHAN DOE
          %h3.text-center Web Developer/Designer, Photographer
          %p I am a professional web designer from New York, US. I create beautiful, usable, professional websites using best practice accessibility and the latest W3C web standards guidelines, resulting in semantic and seo friendly HTML and CSS. All my websites are lovingly hand coded. I enjoy turning complex problems into simple, beautiful and intuitive interface designs. When I'm not coding or pushing pixels, you'll find me shooting creative photos or in the gym. Currently i'm teaching myself Java for Android app development.
          %p My goal is simple – to ensure beautiful, usable interfaces through handcrafted semantic code that produces a satisfying experience for every visitor to your website.
          .text-center
            %a.download-btn.btn.fadeInUp{"data-wow-delay" => "0.2s", :href => "#"}
              %i.fa.fa-download
              Download Resume
  #team-section.site-section
    .container
      .row.mb-5
        .col-12.text-center
          %h3.section-sub-title Team
          %h2.section-title.mb-3 Leadership
      .row
        .col-md-6.col-lg-4.mb-5.mb-lg-0{"data-aos" => "fade", "data-aos-delay" => "100"}
          .person.text-center
            = image_tag("person_2.jpg", :class => "img-fluid rounded w-75 mb-3" )
            %h3 John Rooster
            %p.position.text-muted Co-Founder, President
            %p.mb-4 Nisi at consequatur unde molestiae quidem provident voluptatum deleniti quo iste error eos est praesentium distinctio cupiditate tempore suscipit inventore deserunt tenetur.
            %ul.ul-social-circle
              %li
                %a{:href => "#"}
                  %span.icon-facebook
              %li
                %a{:href => "#"}
                  %span.icon-twitter
              %li
                %a{:href => "#"}
                  %span.icon-linkedin
              %li
                %a{:href => "#"}
                  %span.icon-instagram
        .col-md-6.col-lg-4.mb-5.mb-lg-0{"data-aos" => "fade", "data-aos-delay" => "200"}
          .person.text-center
            = image_tag("person_3.jpg", :class => "img-fluid rounded w-75 mb-3" )
            %h3 Tom Sharp
            %p.position.text-muted Co-Founder, COO
            %p.mb-4 Nisi at consequatur unde molestiae quidem provident voluptatum deleniti quo iste error eos est praesentium distinctio cupiditate tempore suscipit inventore deserunt tenetur.
            %ul.ul-social-circle
              %li
                %a{:href => "#"}
                  %span.icon-facebook
              %li
                %a{:href => "#"}
                  %span.icon-twitter
              %li
                %a{:href => "#"}
                  %span.icon-linkedin
              %li
                %a{:href => "#"}
                  %span.icon-instagram
        .col-md-6.col-lg-4.mb-5.mb-lg-0{"data-aos" => "fade", "data-aos-delay" => "300"}
          .person.text-center
            = image_tag("person_4.jpg", :class => "img-fluid rounded w-75 mb-3" )
            %h3 Winston Hodson
            %p.position.text-muted Marketing
            %p.mb-4 Nisi at consequatur unde molestiae quidem provident voluptatum deleniti quo iste error eos est praesentium distinctio cupiditate tempore suscipit inventore deserunt tenetur.
            %ul.ul-social-circle
              %li
                %a{:href => "#"}
                  %span.icon-facebook
              %li
                %a{:href => "#"}
                  %span.icon-twitter
              %li
                %a{:href => "#"}
                  %span.icon-linkedin
              %li
                %a{:href => "#"}
                  %span.icon-instagram
  #testimonials-section.site-section.testimonial-wrap
    .container
      .row.mb-5
        .col-12.text-center
          %h2.section-title.mb-3 What clients say
    .slide-one-item.home-slider.owl-carousel
      %div
        .testimonial
          %figure.mb-4.d-block.align-items-center.justify-content-center
            %div= image_tag("person_3.jpg", :class => "w-100 img-fluid mb-3" )
          %blockquote.mb-3
            %p “Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.”
          %p.text-black
            %strong John Smith
      %div
        .testimonial
          %figure.mb-4.d-block.align-items-center.justify-content-center
            %div= image_tag("person_2.jpg", :class => "w-100 img-fluid mb-3" )
          %blockquote.mb-3
            %p “Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.”
          %p.text-black
            %strong Robert Aguilar
      %div
        .testimonial
          %figure.mb-4.d-block.align-items-center.justify-content-center
            %div= image_tag("person_4.jpg", :class => "w-100 img-fluid mb-3" )
          %blockquote.mb-3
            %p “Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.”
          %p.text-black
            %strong Roger Spears
      %div
        .testimonial
          %figure.mb-4.d-block.align-items-center.justify-content-center
            %div= image_tag("person_1.jpg", :class => "w-100 img-fluid mb-3" )
          %blockquote.mb-3
            %p “Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.”
          %p.text-black
            %strong Kyle McDonald
  #skill-section.site-section
    .container
      .row
        .col-sm-5
          %h4 Some About my Abilities
          %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry. Lorem Ipsum has been the industry's standard dummy text since. Lorem Ipsum is simply.
        .col-sm-7
          %h6
            %strong Wordpress
            \- 5 years of experience
          .progress{:color => "#000", :data => "95", :progressheight => "8px"}
          %h6.mt-3
            %strong Css
            \- 5 years of experience
          .progress{:color => "#000", :data => "85", :progressheight => "8px"}
          %h6.mt-3
            %strong HTML
            \- 5 years of experience
          .progress{:color => "#000", :data => "90", :progressheight => "8px"}
          %h6.mt-3
            %strong After Effect
            \- 5 years of experience
          .progress{:color => "#000", :data => "80", :progressheight => "8px"}
  #service-section.site-section
    .container
      .row.mb-5
        .col-12.text-center
          %h2.section-title.mb-3 Service
      .row
        .col-sm-6.col-md-4{"data-aos" => "fade", "data-aos-delay" => "100"}
          .back
            %i.fa.fa-desktop.fa-2x{"aria-hidden" => "true"}
            .subtitle Web Design
            %p I offer the latest design trends and I constantly improve it to make your website stay up to the mark.
        .col-sm-6.col-md-4{"data-aos" => "fade", "data-aos-delay" => "100"}
          .back
            %i.fa.fa-mobile.fa-2x{"aria-hidden" => "true"}
            .subtitle Full Responsive
            %p I design websites for every screen size available and make sure it looks great on every device.
        .col-sm-6.col-md-4{"data-aos" => "fade", "data-aos-delay" => "100"}
          .back
            %i.fa.fa-cog.fa-2x{"aria-hidden" => "true"}
            .subtitle Customizations
            %p For every website projects I take, I offer three major customizations for free for a period of one year.
        .col-sm-6.col-md-4{"data-aos" => "fade", "data-aos-delay" => "100"}
          .back
            %i.fa.fa-line-chart.fa-2x{"aria-hidden" => "true"}
            .subtitle SEO
            %p I provide Search Engine Optimization to help your website get the top rank while searching on the internet.
        .col-sm-6.col-md-4{"data-aos" => "fade", "data-aos-delay" => "100"}
          .back
            %i.fa.fa-rocket.fa-2x{"aria-hidden" => "true"}
            .subtitle Speed
            %p I use Content Delivery Network to make sure that your website's performance/speed is very high.
        .col-sm-6.col-md-4{"data-aos" => "fade", "data-aos-delay" => "100"}
          .back
            %i.fa.fa-refresh.fa-2x{"aria-hidden" => "true"}
            .subtitle Analyzing
            %p I keep a track on your website's traffic and accordingly improvise to get more traffic on your website.
  .site-blocks-cover.inner-page-cover.overlay.get-notification{"data-aos" => "fade", :style => "background-image: url('#{image_path 'hero2.jpg'}'); background-attachment: fixed;"}
    .container
      .row.align-items-center.justify-content-center
        %form.col-md-7{:method => "post"}
          %h2 Get notified on each updates.
          .d-flex.mb-4
            %input.form-control.rounded-0{:placeholder => "Enter your email address", :type => "text"}/
            %input.btn.btn-white.btn-outline-white.rounded-0{:type => "submit", :value => "Subscribe"}/
          %p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat commodi veniam doloremque ducimus tempora.
  #contact-section.site-section.bg-light
    .container
      .row.mb-5
        .col-12.text-center
          %h3.section-sub-title CONTACT ME
          %h2.section-title.mb-3 Get in touch with me
      .row.justify-content-center
        .col-md-7.mb-5
          %form.p-5.bg-white{:action => "#"}
            %h2.h4.text-black.mb-5 Contact Form
            .row.form-group
              .col-md-6.mb-3.mb-md-0
                %label.text-black{:for => "fname"} First Name
                %input#fname.form-control.rounded-0{:type => "text"}/
              .col-md-6
                %label.text-black{:for => "lname"} Last Name
                %input#lname.form-control.rounded-0{:type => "text"}/
            .row.form-group
              .col-md-12
                %label.text-black{:for => "email"} Email
                %input#email.form-control.rounded-0{:type => "email"}/
            .row.form-group
              .col-md-12
                %label.text-black{:for => "subject"} Subject
                %input#subject.form-control.rounded-0{:type => "subject"}/
            .row.form-group
              .col-md-12
                %label.text-black{:for => "message"} Message
                %textarea#message.form-control.rounded-0{:cols => "30", :name => "message", :placeholder => "Write your notes or questions here...", :rows => "7"}
            .row.form-group
              .col-md-12
                %input.btn.btn-black.rounded-0.py-3.px-4{:type => "submit", :value => "Send Message"}/
