%body
  %section.breadcrumb_area
    .overlay.bg-parallax{"data-stellar-ratio" => "0.8", "data-stellar-vertical-offset" => "0", :style => "background-image: url('#{image_path 'about_banner.jpg'}')"}
    .container
      .page-cover.text-center
        %h2.page-cover-tittle About Us
        %ol.breadcrumb
          %li
            %a{:href => root_path} Home
          %li.active About
  %section.about_history_area.section_gap
    .container
      .row
        .col-md-6.d_flex.align-items-center
          .about_content
            %h2.title.title_color
              About Us
              = succeed "Our" do
                %br/
              = succeed "Mission" do
                %br/
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            %a.button_hover.theme_btn_two{:href => "#"} Request Custom Price
        .col-md-6
          = image_tag("about_bg.jpg", :class => "img-fluid")
  %section.facilities_area.section_gap
    .overlay.bg-parallax{"data-stellar-ratio" => "0.8", :style => "background-image: url('#{image_path 'facilites_bg.jpg'}')"}
      \&gt;
    .container
      .section_title.text-center
        %h2.title_w Royal Facilities
        %p Who are in extremely love with eco friendly system.
      .row.mb_30
        .col-lg-4.col-md-6
          .facilities_item
            %h4.sec_h4
              %i.lnr.lnr-dinner>
              Restaurant
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .col-lg-4.col-md-6
          .facilities_item
            %h4.sec_h4
              %i.lnr.lnr-bicycle>
              Sports CLub
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .col-lg-4.col-md-6
          .facilities_item
            %h4.sec_h4
              %i.lnr.lnr-shirt>
              Swimming Pool
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .col-lg-4.col-md-6
          .facilities_item
            %h4.sec_h4
              %i.lnr.lnr-car>
              Rent a Car
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .col-lg-4.col-md-6
          .facilities_item
            %h4.sec_h4
              %i.lnr.lnr-construction>
              Gymnesium
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .col-lg-4.col-md-6
          .facilities_item
            %h4.sec_h4
              %i.lnr.lnr-coffee-cup>
              Bar
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  %section.testimonial_area_1.section_gap
    .container
      .section_title.text-center
        %h2.title_color Testimonial from our Clients
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .testimonial_slider.testimonial_slider_1.owl-carousel.owl-loaded.owl-drag
        .owl-stage-outer
          .owl-stage{:style => "transform: translate3d(-2340px, 0px, 0px); transition: all 1.5s ease 0s; width: 4680px;"}
            .owl-item.cloned{:style => "width: 555px; margin-right: 30px;"}
              .media.testimonial_item
                = image_tag("testtimonial-1.jpg", :class => "rounded-circle")
                .media-body
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  %a{:href => "#"}
                    %h4.sec_h4 Fanny Spencer
                  .star
                    %a{:href => "#"}
                      %i.fa.fa-star
                    %a{:href => "#"}
                      %i.fa.fa-star
                    %a{:href => "#"}
                      %i.fa.fa-star
                    %a{:href => "#"}
                      %i.fa.fa-star
                    %a{:href => "#"}
                      %i.fa.fa-star-half-o
            .owl-item.cloned{:style => "width: 555px; margin-right: 30px;"}
              .media.testimonial_item
                = image_tag("testtimonial-1.jpg", :class => "rounded-circle")
                .media-body
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  %a{:href => "#"}
                    %h4.sec_h4 Fanny Spencer
                  .star
                    %a{:href => "#"}
                      %i.fa.fa-star
                    %a{:href => "#"}
                      %i.fa.fa-star
                    %a{:href => "#"}
                      %i.fa.fa-star
                    %a{:href => "#"}
                      %i.fa.fa-star
                    %a{:href => "#"}
                      %i.fa.fa-star-half-o
            .owl-item{:style => "width: 555px; margin-right: 30px;"}
              .media.testimonial_item
                = image_tag("testtimonial-1.jpg", :class => "rounded-circle")
                .media-body
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  %a{:href => "#"}
                    %h4.sec_h4 Fanny Spencer
                  .star
                    %a{:href => "#"}
                      %i.fa.fa-star
                    %a{:href => "#"}
                      %i.fa.fa-star
                    %a{:href => "#"}
                      %i.fa.fa-star
                    %a{:href => "#"}
                      %i.fa.fa-star
                    %a{:href => "#"}
                      %i.fa.fa-star-half-o
            .owl-item{:style => "width: 555px; margin-right: 30px;"}
              .media.testimonial_item
                = image_tag("testtimonial-1.jpg", :class => "rounded-circle")
                .media-body
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  %a{:href => "#"}
                    %h4.sec_h4 Fanny Spencer
                  .star
                    %a{:href => "#"}
                      %i.fa.fa-star
                    %a{:href => "#"}
                      %i.fa.fa-star
                    %a{:href => "#"}
                      %i.fa.fa-star
                    %a{:href => "#"}
                      %i.fa.fa-star
                    %a{:href => "#"}
                      %i.fa.fa-star-half-o
            .owl-item.active{:style => "width: 555px; margin-right: 30px;"}
              .media.testimonial_item
                = image_tag("testtimonial-1.jpg", :class => "rounded-circle")
                .media-body
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  %a{:href => "#"}
                    %h4.sec_h4 Fanny Spencer
                  .star
                    %a{:href => "#"}
                      %i.fa.fa-star
                    %a{:href => "#"}
                      %i.fa.fa-star
                    %a{:href => "#"}
                      %i.fa.fa-star
                    %a{:href => "#"}
                      %i.fa.fa-star
                    %a{:href => "#"}
                      %i.fa.fa-star-half-o
            .owl-item.active{:style => "width: 555px; margin-right: 30px;"}
              .media.testimonial_item
                = image_tag("testtimonial-1.jpg", :class => "rounded-circle")
                .media-body
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  %a{:href => "#"}
                    %h4.sec_h4 Fanny Spencer
                  .star
                    %a{:href => "#"}
                      %i.fa.fa-star
                    %a{:href => "#"}
                      %i.fa.fa-star
                    %a{:href => "#"}
                      %i.fa.fa-star
                    %a{:href => "#"}
                      %i.fa.fa-star
                    %a{:href => "#"}
                      %i.fa.fa-star-half-o
            .owl-item.cloned{:style => "width: 555px; margin-right: 30px;"}
              .media.testimonial_item
                = image_tag("testtimonial-1.jpg", :class => "rounded-circle")
                .media-body
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  %a{:href => "#"}
                    %h4.sec_h4 Fanny Spencer
                  .star
                    %a{:href => "#"}
                      %i.fa.fa-star
                    %a{:href => "#"}
                      %i.fa.fa-star
                    %a{:href => "#"}
                      %i.fa.fa-star
                    %a{:href => "#"}
                      %i.fa.fa-star
                    %a{:href => "#"}
                      %i.fa.fa-star-half-o
            .owl-item.cloned{:style => "width: 555px; margin-right: 30px;"}
              .media.testimonial_item
                = image_tag("testtimonial-1.jpg", :class => "rounded-circle")
                .media-body
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  %a{:href => "#"}
                    %h4.sec_h4 Fanny Spencer
                  .star
                    %a{:href => "#"}
                      %i.fa.fa-star
                    %a{:href => "#"}
                      %i.fa.fa-star
                    %a{:href => "#"}
                      %i.fa.fa-star
                    %a{:href => "#"}
                      %i.fa.fa-star
                    %a{:href => "#"}
                      %i.fa.fa-star-half-o
