%body
  %section.banner_area.blog_banner.d_flex.align-items-center
    .overlay.bg-parallax{"data-stellar-ratio" => "0.9", "data-stellar-vertical-offset" => "0", :style => "background-image: url('#{image_path 'banner/banner-1.jpg'}')"} &gt;
    .container
      .banner_content.text-center
        %h4
          Dude You’re Getting
          = succeed "a" do
            %br/
        %p There is a moment in the life of any aspiring astronomer that it is time to buy that first
        %a.btn.white_btn.button_hover{:href => "#"} View More
  %section.blog_area
    .container
      .row
        .col-lg-8
          .blog_left_sidebar
            %article.row.blog_item
              .col-md-3
                .blog_info.text-right
                  .post_tag
                    %a{:href => "#"} Food,
                    %a{:href => "#"} Technology,
                    %a{:href => "#"} Politics,
                    %a{:href => "#"} Lifestyle
                  %ul.blog_meta.list_style
                    %li
                      %a{:href => "#"}
                        Mark wiens
                        %i.lnr.lnr-user
                    %li
                      %a{:href => "#"}
                        12 Dec, 2017
                        %i.lnr.lnr-calendar-full
                    %li
                      %a{:href => "#"}
                        1.2M Views
                        %i.lnr.lnr-eye
                    %li
                      %a{:href => "#"}
                        06 Comments
                        %i.lnr.lnr-bubble
              .col-md-9
                .blog_post
                  = image_tag("blog/main-blog/m-blog-1.jpg")
                  .blog_details
                    %a{:href => "#"}
                      %h2 Astronomy Binoculars A Great Alternative
                    %p MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction.
                    %a.view_btn.button_hover{:href => "#"} View More
            %article.row.blog_item
              .col-md-3
                .blog_info.text-right
                  .post_tag
                    %a{:href => "#"} Food,
                    %a{:href => "#"} Technology,
                    %a{:href => "#"} Politics,
                    %a{:href => "#"} Lifestyle
                  %ul.blog_meta.list_style
                    %li
                      %a{:href => "#"}
                        Mark wiens
                        %i.lnr.lnr-user
                    %li
                      %a{:href => "#"}
                        12 Dec, 2017
                        %i.lnr.lnr-calendar-full
                    %li
                      %a{:href => "#"}
                        1.2M Views
                        %i.lnr.lnr-eye
                    %li
                      %a{:href => "#"}
                        06 Comments
                        %i.lnr.lnr-bubble
              .col-md-9
                .blog_post
                  = image_tag("blog/main-blog/m-blog-2.jpg")
                  .blog_details
                    %a{:href => "#"}
                      %h2 The Basics Of Buying A Telescope
                    %p MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction.
                    %a.view_btn.button_hover{:href => "#"} View More
            %article.row.blog_item
              .col-md-3
                .blog_info.text-right
                  .post_tag
                    %a{:href => "#"} Food,
                    %a{:href => "#"} Technology,
                    %a{:href => "#"} Politics,
                    %a{:href => "#"} Lifestyle
                  %ul.blog_meta.list_style
                    %li
                      %a{:href => "#"}
                        Mark wiens
                        %i.lnr.lnr-user
                    %li
                      %a{:href => "#"}
                        12 Dec, 2017
                        %i.lnr.lnr-calendar-full
                    %li
                      %a{:href => "#"}
                        1.2M Views
                        %i.lnr.lnr-eye
                    %li
                      %a{:href => "#"}
                        06 Comments
                        %i.lnr.lnr-bubble
              .col-md-9
                .blog_post
                  = image_tag("blog/main-blog/m-blog-3.jpg")
                  .blog_details
                    %a{:href => "#"}
                      %h2 The Glossary Of Telescopes
                    %p MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction.
                    %a.view_btn.button_hover{:href => "#"} View More
            %article.row.blog_item
              .col-md-3
                .blog_info.text-right
                  .post_tag
                    %a{:href => "#"} Food,
                    %a{:href => "#"} Technology,
                    %a{:href => "#"} Politics,
                    %a{:href => "#"} Lifestyle
                  %ul.blog_meta.list_style
                    %li
                      %a{:href => "#"}
                        Mark wiens
                        %i.lnr.lnr-user
                    %li
                      %a{:href => "#"}
                        12 Dec, 2017
                        %i.lnr.lnr-calendar-full
                    %li
                      %a{:href => "#"}
                        1.2M Views
                        %i.lnr.lnr-eye
                    %li
                      %a{:href => "#"}
                        06 Comments
                        %i.lnr.lnr-bubble
              .col-md-9
                .blog_post
                  = image_tag("blog/main-blog/m-blog-4.jpg")
                  .blog_details
                    %a{:href => "#"}
                      %h2 The Night Sky
                    %p MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction.
                    %a.view_btn.button_hover{:href => "#"} View More
            %article.row.blog_item
              .col-md-3
                .blog_info.text-right
                  .post_tag
                    %a{:href => "#"} Food,
                    %a{:href => "#"} Technology,
                    %a{:href => "#"} Politics,
                    %a{:href => "#"} Lifestyle
                  %ul.blog_meta.list_style
                    %li
                      %a{:href => "#"}
                        Mark wiens
                        %i.lnr.lnr-user
                    %li
                      %a{:href => "#"}
                        12 Dec, 2017
                        %i.lnr.lnr-calendar-full
                    %li
                      %a{:href => "#"}
                        1.2M Views
                        %i.lnr.lnr-eye
                    %li
                      %a{:href => "#"}
                        06 Comments
                        %i.lnr.lnr-bubble
              .col-md-9
                .blog_post
                  = image_tag("blog/main-blog/m-blog-5.jpg")
                  .blog_details
                    %a{:href => "#"}
                      %h2 Telescopes 101
                    %p MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction.
                    %a.view_btn.button_hover{:href => "#"} View More
            %nav.blog-pagination.justify-content-center.d-flex
              %ul.pagination
                %li.page-item
                  %a.page-link{"aria-label" => "Previous", :href => "#"}
                    %span{"aria-hidden" => "true"}
                      %span.lnr.lnr-chevron-left
                %li.page-item
                  %a.page-link{:href => "#"} 01
                %li.page-item.active
                  %a.page-link{:href => "#"} 02
                %li.page-item
                  %a.page-link{:href => "#"} 03
                %li.page-item
                  %a.page-link{:href => "#"} 04
                %li.page-item
                  %a.page-link{:href => "#"} 09
                %li.page-item
                  %a.page-link{"aria-label" => "Next", :href => "#"}
                    %span{"aria-hidden" => "true"}
                      %span.lnr.lnr-chevron-right
        .col-lg-4
          .hotel_booking_area.position
            .container
              .hotel_booking_table.pt-3.pb-3.p-0
                .col-md-12
                  .col-md-12
                    %h2 Book Your Room
                  .boking_table.ml-0
                    .row
                      .col-md-12
                        .book_tabel_item
                          .form-group
                            #datetimepicker11.input-group.date
                              %input.form-control{:placeholder => "Arrival Date", :type => "text"}/
                              %span.input-group-addon
                                %i.fa.fa-calendar{"aria-hidden" => "true"}
                          .form-group
                            #datetimepicker1.input-group.date
                              %input.form-control{:placeholder => "Departure Date", :type => "text"}/
                              %span.input-group-addon
                                %i.fa.fa-calendar{"aria-hidden" => "true"}
                      .col-md-12
                        .book_tabel_item
                          .input-group
                            %select.wide{:style => "display: none;"}
                              %option{"data-display" => "Adult"} Adult
                              %option{:value => "1"} Old
                              %option{:value => "2"} Younger
                              %option{:value => "3"} Potato
                            .nice-select.wide{:tabindex => "0"}
                              %span.current Adult
                              %ul.list
                                %li.option.selected{"data-display" => "Adult", "data-value" => "Adult"} Adult
                                %li.option{"data-value" => "1"} Old
                                %li.option{"data-value" => "2"} Younger
                                %li.option{"data-value" => "3"} Potato
                          .input-group
                            %select.wide{:style => "display: none;"}
                              %option{"data-display" => "Child"} Child
                              %option{:value => "1"} Child
                              %option{:value => "2"} Baby
                              %option{:value => "3"} Child
                            .nice-select.wide{:tabindex => "0"}
                              %span.current Child
                              %ul.list
                                %li.option.selected{"data-display" => "Child", "data-value" => "Child"} Child
                                %li.option{"data-value" => "1"} Child
                                %li.option{"data-value" => "2"} Baby
                                %li.option{"data-value" => "3"} Child
                      .col-md-12.d-flex.align-items-center
                        %a.book_now_btn.button_hover{:href => "#"} Book Now
