%body
  %section.hero-wrap.js-fullheight{:style => "background-image: url('#{image_path 'bg_2.jpg'}'); height: 435px;"}
    .overlay
    .container
      .row.no-gutters.slider-text.js-fullheight.align-items-center.justify-content-center{:style => "height: 435px;"}
        .col-md-9.ftco-animate.text-center.fadeInUp.ftco-animated
          %h1.mb-3.bread Our Journal
          %p.breadcrumbs
            %span.mr-2
              %a{:href => root_path} Home
            %span Blog
  %section.ftco-section
    .container
      .row
        .col-lg-8.ftco-animate.fadeInUp.ftco-animated
          .row
            .col-md-6.d-flex.ftco-animate.fadeInUp.ftco-animated
              .blog-entry.justify-content-end
                %a.block-20{:href => "blog-single.html", :style => "background-image: url('#{image_path 'image_1.jpg'}');"}
                .text.p-4.float-right.d-block
                  .meta
                    %div
                      %a{:href => "#"} December 23, 2018
                    %div
                      %a{:href => "#"} Admin
                    %div
                      %a.meta-chat{:href => "#"}
                        %span.icon-chat
                        3
                  %h3.heading.mt-2
                    %a{:href => "#"} Young Women Doing Abdominal
                  %p A small river named Duden flows by their place and supplies it with the necessary regelialia.
            .col-md-6.d-flex.ftco-animate.fadeInUp.ftco-animated
              .blog-entry.justify-content-end
                %a.block-20{:href => "blog-single.html", :style => "background-image: url('#{image_path 'image_2.jpg'}');"}
                .text.p-4.float-right.d-block
                  .meta
                    %div
                      %a{:href => "#"} December 23, 2018
                    %div
                      %a{:href => "#"} Admin
                    %div
                      %a.meta-chat{:href => "#"}
                        %span.icon-chat
                        3
                  %h3.heading.mt-2
                    %a{:href => "#"} Young Women Doing Abdominal
                  %p A small river named Duden flows by their place and supplies it with the necessary regelialia.
            .col-md-6.d-flex.ftco-animate.fadeInUp.ftco-animated
              .blog-entry
                %a.block-20{:href => "blog-single.html", :style => "background-image: url('#{image_path 'image_3.jpg'}');"}
                .text.p-4.float-right.d-block
                  .meta
                    %div
                      %a{:href => "#"} December 23, 2018
                    %div
                      %a{:href => "#"} Admin
                    %div
                      %a.meta-chat{:href => "#"}
                        %span.icon-chat
                        3
                  %h3.heading.mt-2
                    %a{:href => "#"} Young Women Doing Abdominal
                  %p A small river named Duden flows by their place and supplies it with the necessary regelialia.
            .col-md-6.d-flex.ftco-animate.fadeInUp.ftco-animated
              .blog-entry
                %a.block-20{:href => "blog-single.html", :style => "background-image: url('#{image_path 'image_4.jpg'}');"}
                .text.p-4.float-right.d-block
                  .meta
                    %div
                      %a{:href => "#"} December 23, 2018
                    %div
                      %a{:href => "#"} Admin
                    %div
                      %a.meta-chat{:href => "#"}
                        %span.icon-chat
                        3
                  %h3.heading.mt-2
                    %a{:href => "#"} Young Women Doing Abdominal
                  %p A small river named Duden flows by their place and supplies it with the necessary regelialia.
            .col-md-6.d-flex.ftco-animate.fadeInUp.ftco-animated
              .blog-entry
                %a.block-20{:href => "blog-single.html", :style => "background-image: url('#{image_path 'image_5.jpg'}');"}
                .text.p-4.float-right.d-block
                  .meta
                    %div
                      %a{:href => "#"} December 23, 2018
                    %div
                      %a{:href => "#"} Admin
                    %div
                      %a.meta-chat{:href => "#"}
                        %span.icon-chat
                        3
                  %h3.heading.mt-2
                    %a{:href => "#"} Young Women Doing Abdominal
                  %p A small river named Duden flows by their place and supplies it with the necessary regelialia.
            .col-md-6.d-flex.ftco-animate.fadeInUp.ftco-animated
              .blog-entry
                %a.block-20{:href => "blog-single.html", :style => "background-image: url('#{image_path 'image_6.jpg'}');"}
                .text.p-4.float-right.d-block
                  .meta
                    %div
                      %a{:href => "#"} December 23, 2018
                    %div
                      %a{:href => "#"} Admin
                    %div
                      %a.meta-chat{:href => "#"}
                        %span.icon-chat
                        3
                  %h3.heading.mt-2
                    %a{:href => "#"} Young Women Doing Abdominal
                  %p A small river named Duden flows by their place and supplies it with the necessary regelialia.
          .row.mt-5
            .col.text-center
              .block-27
                %ul
                  %li
                    %a{:href => "#"} &lt;
                  %li.active
                    %span 1
                  %li
                    %a{:href => "#"} 2
                  %li
                    %a{:href => "#"} 3
                  %li
                    %a{:href => "#"} 4
                  %li
                    %a{:href => "#"} 5
                  %li
                    %a{:href => "#"} &gt;
        / .col-md-8
        .col-lg-4.sidebar.ftco-animate.fadeInUp.ftco-animated
          .sidebar-box
            %form.search-form{:action => "#"}
              .form-group
                .icon
                  %span.icon-search
                %input.form-control{:placeholder => "Type a keyword and hit enter", :type => "text"}/
          .sidebar-box.ftco-animate.fadeInUp.ftco-animated
            .categories
              %h3.heading-2 Categories
              %li
                %a{:href => "#"}
                  Workout
                  %span (12)
              %li
                %a{:href => "#"}
                  Gym
                  %span (22)
              %li
                %a{:href => "#"}
                  Crossfit
                  %span (37)
              %li
                %a{:href => "#"}
                  Body Fit
                  %span (42)
              %li
                %a{:href => "#"}
                  Fitness
                  %span (14)
              %li
                %a{:href => "#"}
                  Yoga
                  %span (140)
          .sidebar-box.ftco-animate.fadeInUp.ftco-animated
            %h3.heading-2 Recent Blog
            .block-21.mb-4.d-flex
              %a.blog-img.mr-4{:style => "background-image: url('#{image_path 'image_1.jpg'}');"}
              .text
                %h3.heading
                  %a{:href => "#"} Even the all-powerful Pointing has no control about the blind texts
                .meta
                  %div
                    %a{:href => "#"}
                      %span.icon-calendar
                      July 12, 2018
                  %div
                    %a{:href => "#"}
                      %span.icon-person
                      Admin
                  %div
                    %a{:href => "#"}
                      %span.icon-chat
                      19
            .block-21.mb-4.d-flex
              %a.blog-img.mr-4{:style => "background-image: url('#{image_path 'image_2.jpg'}');"}
              .text
                %h3.heading
                  %a{:href => "#"} Even the all-powerful Pointing has no control about the blind texts
                .meta
                  %div
                    %a{:href => "#"}
                      %span.icon-calendar
                      July 12, 2018
                  %div
                    %a{:href => "#"}
                      %span.icon-person
                      Admin
                  %div
                    %a{:href => "#"}
                      %span.icon-chat
                      19
            .block-21.mb-4.d-flex
              %a.blog-img.mr-4{:style => "background-image: url('#{image_path 'image_3.jpg'}');"}
              .text
                %h3.heading
                  %a{:href => "#"} Even the all-powerful Pointing has no control about the blind texts
                .meta
                  %div
                    %a{:href => "#"}
                      %span.icon-calendar
                      July 12, 2018
                  %div
                    %a{:href => "#"}
                      %span.icon-person
                      Admin
                  %div
                    %a{:href => "#"}
                      %span.icon-chat
                      19
          .sidebar-box.ftco-animate.fadeInUp.ftco-animated
            %h3.heading-2 Tag Cloud
            .tagcloud
              %a.tag-cloud-link{:href => "#"} dish
              %a.tag-cloud-link{:href => "#"} menu
              %a.tag-cloud-link{:href => "#"} food
              %a.tag-cloud-link{:href => "#"} sweet
              %a.tag-cloud-link{:href => "#"} tasty
              %a.tag-cloud-link{:href => "#"} delicious
              %a.tag-cloud-link{:href => "#"} desserts
              %a.tag-cloud-link{:href => "#"} drinks
          .sidebar-box.ftco-animate.fadeInUp.ftco-animated
            %h3.heading-2 Paragraph
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!
