%nav#ftco-navbar.navbar.navbar-expand-lg.navbar-dark.ftco_navbar.bg-dark.ftco-navbar-light.scrolled.awake
  .container
    %a.navbar-brand.py-2{:href => root_path}
      = image_tag("logo.png")
    %button.navbar-toggler{"aria-controls" => "ftco-nav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#ftco-nav", "data-toggle" => "collapse", :type => "button"}
      %span.oi.oi-menu
    #ftco-nav.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li{:class => "nav-item #{active_class(root_path)}"}
          %a.nav-link{:href => root_path} Home
        %li{:class => "nav-item #{active_class(program_path)}"}
          %a.nav-link{:href => program_path} Program
        %li{:class => "nav-item #{active_class(about_path)}"}
          %a.nav-link{:href => about_path} About
        %li{:class => "nav-item #{active_class(blog_path)}"}
          %a.nav-link{:href => blog_path} Journal
        %li{:class => "nav-item #{active_class(contact_path)}"}
          %a.nav-link{:href => contact_path} Contact
