%section.home-slider.js-fullheight.owl-carousel
  .slider-item.js-fullheight{:style => "background-image:url('#{image_path 'bg_1.jpg'}')"}
    .overlay
    .container
      .row.slider-text.justify-content-center.align-items-center
        .col-md-7.col-sm-12.text-center.ftco-animate
          %h1.mb-3.mt-5.bread About
          %p.breadcrumbs
            %span.mr-2
              %a{:href => root_path} Home
            %span blog
%section.ftco-section
  .container
    .row.justify-content-center.mb-5.pb-3
      .col-md-7.heading-section.ftco-animate
        %h2.mb-4 Recent Blog
        %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in
    .row
      .col-md-4.ftco-animate
        .blog-entry
          %a.block-20{:href => "blog-single.html", :style => "background-image: url('#{image_path 'image_7.jpg'}')"}
          .text.d-flex.py-4
            .meta.mb-3
              %div
                %a{:href => "#"} Sep. 20, 2018
              %div
                %a{:href => "#"} Admin
              %div
                %a.meta-chat{:href => "#"}
                  %span.icon-chat
                  3
            .desc.pl-3
              %h3.heading
                %a{:href => "#"} Even the all-powerful Pointing has no control about the blind texts
      .col-md-4.ftco-animate
        .blog-entry{"data-aos-delay" => "100"}
          %a.block-20{:href => "blog-single.html", :style => "background-image: url('#{image_path 'image_8.jpg'}')"}
          .text.d-flex.py-4
            .meta.mb-3
              %div
                %a{:href => "#"} Sep. 20, 2018
              %div
                %a{:href => "#"} Admin
              %div
                %a.meta-chat{:href => "#"}
                  %span.icon-chat
                  3
            .desc.pl-3
              %h3.heading
                %a{:href => "#"} Even the all-powerful Pointing has no control about the blind texts
      .col-md-4.ftco-animate
        .blog-entry{"data-aos-delay" => "200"}
          %a.block-20{:href => "blog-single.html", :style => "background-image: url('#{image_path 'image_9.jpg'}')"}
          .text.d-flex.py-4
            .meta.mb-3
              %div
                %a{:href => "#"} Sep. 20, 2018
              %div
                %a{:href => "#"} Admin
              %div
                %a.meta-chat{:href => "#"}
                  %span.icon-chat
                  3
            .desc.pl-3
              %h3.heading
                %a{:href => "#"} Even the all-powerful Pointing has no control about the blind texts
      .col-md-4.ftco-animate
        .blog-entry
          %a.block-20{:href => "blog-single.html", :style => "background-image: url('#{image_path 'image_10.jpg'}')"}
          .text.d-flex.py-4
            .meta.mb-3
              %div
                %a{:href => "#"} Sep. 20, 2018
              %div
                %a{:href => "#"} Admin
              %div
                %a.meta-chat{:href => "#"}
                  %span.icon-chat
                  3
            .desc.pl-3
              %h3.heading
                %a{:href => "#"} Even the all-powerful Pointing has no control about the blind texts
      .col-md-4.ftco-animate
        .blog-entry{"data-aos-delay" => "100"}
          %a.block-20{:href => "blog-single.html", :style => "background-image: url('#{image_path 'image_11.jpg'}')"}
          .text.d-flex.py-4
            .meta.mb-3
              %div
                %a{:href => "#"} Sep. 20, 2018
              %div
                %a{:href => "#"} Admin
              %div
                %a.meta-chat{:href => "#"}
                  %span.icon-chat
                  3
            .desc.pl-3
              %h3.heading
                %a{:href => "#"} Even the all-powerful Pointing has no control about the blind texts
      .col-md-4.ftco-animate
        .blog-entry{"data-aos-delay" => "200"}
          %a.block-20{:href => "blog-single.html", :style => "background-image: url('#{image_path 'image_12.jpg'}')"}
          .text.d-flex.py-4
            .meta.mb-3
              %div
                %a{:href => "#"} Sep. 20, 2018
              %div
                %a{:href => "#"} Admin
              %div
                %a.meta-chat{:href => "#"}
                  %span.icon-chat
                  3
            .desc.pl-3
              %h3.heading
                %a{:href => "#"} Even the all-powerful Pointing has no control about the blind texts
