%body
  %section.home-slider.js-fullheight.owl-carousel
    .slider-item.js-fullheight{:style => "background-image:url('#{image_path 'bg_1.jpg'}')"}
      .overlay
      .container
        .row.no-gutters.slider-text.js-fullheight.align-items-center.justify-content-end{"data-scrollax-parent" => "true"}
          .col-md-7.text.ftco-animate{"data-scrollax" => " properties: { translateY: '70%' }"}
            %h1.mb-4{"data-scrollax" => "properties: { translateY: '30%', opacity: 1.6 }"} We Create Amazing Architecture Designs
            %p{"data-scrollax" => "properties: { translateY: '30%', opacity: 1.6 }"} A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
            %p
              %a.btn.btn-white.btn-outline-white.px-4.py-3.mt-3{:href => "#"} View our works
    .slider-item.js-fullheight{:style => "background-image:url('#{image_path 'bg_2.jpg'}')"}
      .overlay
      .container
        .row.no-gutters.slider-text.js-fullheight.align-items-center.justify-content-end{"data-scrollax-parent" => "true"}
          .col-md-7.text.ftco-animate{"data-scrollax" => " properties: { translateY: '70%' }"}
            %h1.mb-4{"data-scrollax" => "properties: { translateY: '30%', opacity: 1.6 }"} Virtually Build Your House
            %p{"data-scrollax" => "properties: { translateY: '30%', opacity: 1.6 }"} A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
            %p
              %a.btn.btn-white.btn-outline-white.px-4.py-3.mt-3{:href => "#"} View our works
  %section.ftco-services.bg-light
    .container
      .row
        .col-md-4.d-flex.align-self-stretch.ftco-animate
          .media.block-6.services.d-block
            .icon.d-flex.justify-content-center.align-items-center
              %span.flaticon-idea
            .media-body.p-2.mt-3
              %h3.heading Perfectly Design
              %p Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
        .col-md-4.d-flex.align-self-stretch.ftco-animate
          .media.block-6.services.d-block
            .icon.d-flex.justify-content-center.align-items-center
              %span.flaticon-compass-symbol
            .media-body.p-2.mt-3
              %h3.heading Carefully Planned
              %p Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
        .col-md-4.d-flex.align-self-stretch.ftco-animate
          .media.block-6.services.d-block
            .icon.d-flex.justify-content-center.align-items-center
              %span.flaticon-layers
            .media-body.p-2.mt-3
              %h3.heading Smartly Execute
              %p Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
  %section.ftco-section.ftc-no-pb
    .container
      .row.no-gutters
        .col-md-5.p-md-5.img.img-2{:style => "background-image: url('#{image_path 'about.jpg'}')"}
        .col-md-7.wrap-about.pb-md-5.ftco-animate
          .heading-section.mb-5.heading-section-with-line
            .pl-md-5.ml-md-5
              %span.subheading About
              %h2.mb-4 We are the best interior &amp; Architect Consultant in Italy
          .pl-md-5.ml-md-5.mb-5
            %p On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.
            %p When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.
            %p
              %a.btn-custom{:href => "#"}
                Learn More
                %span.ion-ios-arrow-forward
  %section.ftco-section
    .container
      .row.justify-content-center.mb-5.pb-2
        .col-md-7.heading-section.ftco-animate
          %h2.mb-4 Our Projects
          %p A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences
    .container-wrap
      .row.no-gutters
        .col-md-6.col-lg-3.ftco-animate
          .project
            = image_tag("work-11.jpg", :class => "img-fluid")
            .text
              %h3 Office Interior Design in Paris
            %a.icon.image-popup.d-flex.justify-content-center.align-items-center{:href => "#{image_path 'work-11.jpg'}"}
              %span.icon-expand
        .col-md-6.col-lg-3.ftco-animate
          .project
            = image_tag("work-10.jpg", :class => "img-fluid")
            .text
              %h3 Office Interior Design in Paris
            %a.icon.image-popup.d-flex.justify-content-center.align-items-center{:href => "#{image_path 'work-10.jpg'}"}
              %span.icon-expand
        .col-md-6.col-lg-3.ftco-animate
          .project
            = image_tag("work-9.jpg", :class => "img-fluid")
            .text
              %h3 Office Interior Design in Paris
            %a.icon.image-popup.d-flex.justify-content-center.align-items-center{:href => "#{image_path 'work-9.jpg'}"}
              %span.icon-expand
        .col-md-6.col-lg-3.ftco-animate
          .project
            = image_tag("work-12.jpg", :class => "img-fluid")
            .text
              %h3 Office Interior Design in Paris
            %a.icon.image-popup.d-flex.justify-content-center.align-items-center{:href => "#{image_path 'work-12.jpg'}"}
              %span.icon-expand
  %section.ftco-section.furniture-icon
    .container
      .row
        .col-lg.col-md-2.col-sm-2
          .icon.mb-4
            %img{:src => "#{image_path 'f1.png'}", :width => "60"}/
        .col-lg.col-md-2.col-sm-2
          .icon.mb-4
            %img{:src => "#{image_path 'f2.png'}", :width => "60"}/
        .col-lg.col-md-2.col-sm-2
          .icon.mb-4
            %img{:src => "#{image_path 'f3.png'}", :width => "60"}/
        .col-lg.col-md-2.col-sm-2
          .icon.mb-4
            %img{:src => "#{image_path 'f4.png'}", :width => "60"}/
        .col-lg.col-md-2.col-sm-2
          .icon.mb-4
            %img{:src => "#{image_path 'f5.png'}", :width => "60"}/
        .col-lg.col-md-2.col-sm-2
          .icon.mb-4
            %img{:src => "#{image_path 'f6.png'}", :width => "60"}/
        .col-lg.col-md-2.col-sm-2
          .icon.mb-4
            %img{:src => "#{image_path 'f7.png'}", :width => "60"}/
        .col-lg.col-md-2.col-sm-2
          .icon.mb-4
            %img{:src => "#{image_path 'f8.png'}", :width => "60"}/
        .col-lg.col-md-2.col-sm-2
          .icon.mb-4
            %img{:src => "#{image_path 'f9.png'}", :width => "60"}/
        .col-lg.col-md-2.col-sm-2
          .icon.mb-4
            %img{:src => "#{image_path 'f10.png'}", :width => "60"}/
        .col-lg.col-md-2.col-sm-2
          .icon.mb-4
            %img{:src => "#{image_path 'f11.png'}", :width => "60"}/
  %section.ftco-section.testimony-section
    .container
      .row.justify-content-center.mb-5.pb-3
        .col-md-7.heading-section.ftco-animate
          %h2.mb-4 Our satisfied customer says
          %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in
      .row.ftco-animate
        .col-md-12
          .carousel-testimony.owl-carousel
            .item
              .testimony-wrap.p-4.pb-5
                .user-img.mb-5{:style => "background-image: url('#{image_path 'person_1.jpg'}')"}
                  %span.quote.d-flex.align-items-center.justify-content-center
                    %i.icon-quote-left
                .text
                  %p.mb-5.pl-4.line Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                  %p.name Garreth Smith
                  %span.position Marketing Manager
            .item
              .testimony-wrap.p-4.pb-5
                .user-img.mb-5{:style => "background-image: url('#{image_path 'person_2.jpg'}')"}
                  %span.quote.d-flex.align-items-center.justify-content-center
                    %i.icon-quote-left
                .text
                  %p.mb-5.pl-4.line Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                  %p.name Garreth Smith
                  %span.position Interface Designer
            .item
              .testimony-wrap.p-4.pb-5
                .user-img.mb-5{:style => "background-image: url('#{image_path 'person_3.jpg'}')"}
                  %span.quote.d-flex.align-items-center.justify-content-center
                    %i.icon-quote-left
                .text
                  %p.mb-5.pl-4.line Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                  %p.name Garreth Smith
                  %span.position UI Designer
            .item
              .testimony-wrap.p-4.pb-5
                .user-img.mb-5{:style => "background-image: url('#{image_path 'person_1.jpg'}')"}
                  %span.quote.d-flex.align-items-center.justify-content-center
                    %i.icon-quote-left
                .text
                  %p.mb-5.pl-4.line Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                  %p.name Garreth Smith
                  %span.position Web Developer
            .item
              .testimony-wrap.p-4.pb-5
                .user-img.mb-5{:style => "background-image: url('#{image_path 'person_1.jpg'}')"}
                  %span.quote.d-flex.align-items-center.justify-content-center
                    %i.icon-quote-left
                .text
                  %p.mb-5.pl-4.line Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                  %p.name Garreth Smith
                  %span.position System Analyst
  %section.ftco-section
    .container
      .row.justify-content-center.mb-5.pb-3
        .col-md-7.heading-section.ftco-animate
          %h2.mb-4 Our Architect Team
          %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in
      .row
        .col-md-6.col-lg-3.ftco-animate
          .staff
            .img{:style => "background-image: url('#{image_path 'staff-1.jpg'}')"}
            .text.pt-4
              %h3 David Smith
              %span.position.mb-2 Achitect
              %p I am an ambitious workaholic, but apart from that, pretty simple person.
              %ul.ftco-social.d-flex
                %li.ftco-animate
                  %a{:href => "#"}
                    %span.icon-twitter
                %li.ftco-animate
                  %a{:href => "#"}
                    %span.icon-facebook
                %li.ftco-animate
                  %a{:href => "#"}
                    %span.icon-google-plus
                %li.ftco-animate
                  %a{:href => "#"}
                    %span.icon-instagram
        .col-md-6.col-lg-3.ftco-animate
          .staff
            .img{:style => "background-image: url('#{image_path 'staff-2.jpg'}')"}
            .text.pt-4
              %h3 David Smith
              %span.position.mb-2 Achitect
              %p I am an ambitious workaholic, but apart from that, pretty simple person.
              %ul.ftco-social.d-flex
                %li.ftco-animate
                  %a{:href => "#"}
                    %span.icon-twitter
                %li.ftco-animate
                  %a{:href => "#"}
                    %span.icon-facebook
                %li.ftco-animate
                  %a{:href => "#"}
                    %span.icon-google-plus
                %li.ftco-animate
                  %a{:href => "#"}
                    %span.icon-instagram
        .col-md-6.col-lg-3.ftco-animate
          .staff
            .img{:style => "background-image: url('#{image_path 'staff-3.jpg'}')"}
            .text.pt-4
              %h3 David Smith
              %span.position.mb-2 Achitect
              %p I am an ambitious workaholic, but apart from that, pretty simple person.
              %ul.ftco-social.d-flex
                %li.ftco-animate
                  %a{:href => "#"}
                    %span.icon-twitter
                %li.ftco-animate
                  %a{:href => "#"}
                    %span.icon-facebook
                %li.ftco-animate
                  %a{:href => "#"}
                    %span.icon-google-plus
                %li.ftco-animate
                  %a{:href => "#"}
                    %span.icon-instagram
        .col-md-6.col-lg-3.ftco-animate
          .staff
            .img{:style => "background-image: url('#{image_path 'staff-4.jpg'}')"}
            .text.pt-4
              %h3 David Smith
              %span.position.mb-2 Achitect
              %p I am an ambitious workaholic, but apart from that, pretty simple person.
              %ul.ftco-social.d-flex
                %li.ftco-animate
                  %a{:href => "#"}
                    %span.icon-twitter
                %li.ftco-animate
                  %a{:href => "#"}
                    %span.icon-facebook
                %li.ftco-animate
                  %a{:href => "#"}
                    %span.icon-google-plus
                %li.ftco-animate
                  %a{:href => "#"}
                    %span.icon-instagram
  %section.ftco-section
    .container
      .row.justify-content-center.mb-5.pb-3
        .col-md-7.heading-section.ftco-animate
          %h2.mb-4 Recent Blog
          %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in
      .row
        .col-md-4.ftco-animate
          .blog-entry
            %a.block-20{:href => "blog-single.html", :style => "background-image: url('#{image_path 'image_7.jpg'}')"}
            .text.d-flex.py-4
              .meta.mb-3
                %div
                  %a{:href => "#"} Sep. 20, 2018
                %div
                  %a{:href => "#"} Admin
                %div
                  %a.meta-chat{:href => "#"}
                    %span.icon-chat
                    3
              .desc.pl-3
                %h3.heading
                  %a{:href => "#"} Even the all-powerful Pointing has no control about the blind texts
        .col-md-4.ftco-animate
          .blog-entry{"data-aos-delay" => "100"}
            %a.block-20{:href => "blog-single.html", :style => "background-image: url('#{image_path 'image_8.jpg'}')"}
            .text.d-flex.py-4
              .meta.mb-3
                %div
                  %a{:href => "#"} Sep. 20, 2018
                %div
                  %a{:href => "#"} Admin
                %div
                  %a.meta-chat{:href => "#"}
                    %span.icon-chat
                    3
              .desc.pl-3
                %h3.heading
                  %a{:href => "#"} Even the all-powerful Pointing has no control about the blind texts
        .col-md-4.ftco-animate
          .blog-entry{"data-aos-delay" => "200"}
            %a.block-20{:href => "blog-single.html", :style => "background-image: url('#{image_path 'image_9.jpg'}')"}
            .text.d-flex.py-4
              .meta.mb-3
                %div
                  %a{:href => "#"} Sep. 20, 2018
                %div
                  %a{:href => "#"} Admin
                %div
                  %a.meta-chat{:href => "#"}
                    %span.icon-chat
                    3
              .desc.pl-3
                %h3.heading
                  %a{:href => "#"} Even the all-powerful Pointing has no control about the blind texts
  %section.ftco-section.ftc-no-pb
    .container
      .row.no-gutters
        .col-md-5.p-md-5.img.img-2.order-md-last{:style => "background-image: url('#{image_path 'img-2.jpg'}')"}
        .col-md-7.wrap-about.pb-md-5.ftco-animate
          .heading-section.mb-md-5.pl-md-5.heading-section-with-line
            .pr-md-5.mr-md-5
              %span.subheading Perfect
              %h2.mb-4 We Make Perfection
          .pr-md-5.mr-md-5
            %p On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.
            %p When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.
            %p
              %a.btn-custom{:href => "#"}
                Learn More
                %span.ion-ios-arrow-forward
