%section.home-slider.js-fullheight.owl-carousel
  .slider-item.js-fullheight{:style => "background-image:url('#{image_path 'bg_1.jpg'}')"}
    .overlay
    .container
      .row.slider-text.justify-content-center.align-items-center
        .col-md-7.col-sm-12.text-center.ftco-animate
          %h1.mb-3.mt-5.bread About
          %p.breadcrumbs
            %span.mr-2
              %a{:href => root_path} Home
            %span Project
%section.ftco-section
  .container-fluid
    .row.no-gutters
      .col-md-6.col-lg-3.ftco-animate
        .project.project-bg
          %img.img-fluid{:alt => "Colorlib Template", :src => "#{image_path 'work-13.jpg'}"}/
          .text
            %h3 Office Interior Design in Paris
          %a.icon.image-popup.d-flex.justify-content-center.align-items-center{:href => "#{image_path 'work-13.jpg'}"}
            %span.icon-expand
          .overlay
      .col-md-6.col-lg-3.ftco-animate
        .project
          %img.img-fluid{:alt => "Colorlib Template", :src => "#{image_path 'work-14.jpg'}"}/
          .text
            %h3 Office Interior Design in Paris
          %a.icon.image-popup.d-flex.justify-content-center.align-items-center{:href => "#{image_path 'work-14.jpg'}"}
            %span.icon-expand
      .col-md-6.col-lg-3.ftco-animate
        .project
          %img.img-fluid{:alt => "Colorlib Template", :src => "#{image_path 'work-15.jpg'}"}/
          .text
            %h3 Office Interior Design in Paris
          %a.icon.image-popup.d-flex.justify-content-center.align-items-center{:href => "#{image_path 'work-15.jpg'}"}
            %span.icon-expand
      .col-md-6.col-lg-3.ftco-animate
        .project
          %img.img-fluid{:alt => "Colorlib Template", :src => "#{image_path 'work-16.jpg'}"}/
          .text
            %h3 Office Interior Design in Paris
          %a.icon.image-popup.d-flex.justify-content-center.align-items-center{:href => "#{image_path 'work-16.jpg'}"}
            %span.icon-expand
      .col-md-6.col-lg-3.ftco-animate
        .project
          %img.img-fluid{:alt => "Colorlib Template", :src => "#{image_path 'work-17.jpg'}"}/
          .text
            %h3 Office Interior Design in Paris
          %a.icon.image-popup.d-flex.justify-content-center.align-items-center{:href => "#{image_path 'work-17.jpg'}"}
            %span.icon-expand
      .col-md-6.col-lg-3.ftco-animate
        .project
          %img.img-fluid{:alt => "Colorlib Template", :src => "#{image_path 'work-18.jpg'}"}/
          .text
            %h3 Office Interior Design in Paris
          %a.icon.image-popup.d-flex.justify-content-center.align-items-center{:href => "#{image_path 'work-18.jpg'}"}
            %span.icon-expand
      .col-md-6.col-lg-3.ftco-animate
        .project
          %img.img-fluid{:alt => "Colorlib Template", :src => "#{image_path 'work-19.jpg'}"}/
          .text
            %h3 Office Interior Design in Paris
          %a.icon.image-popup.d-flex.justify-content-center.align-items-center{:href => "#{image_path 'work-19.jpg'}"}
            %span.icon-expand
      .col-md-6.col-lg-3.ftco-animate
        .project
          %img.img-fluid{:alt => "Colorlib Template", :src => "#{image_path 'work-20.jpg'}"}/
          .text
            %h3 Office Interior Design in Paris
          %a.icon.image-popup.d-flex.justify-content-center.align-items-center{:href => "#{image_path 'work-20.jpg'}"}
            %span.icon-expand
    .row.mt-5
      .col.text-center
        .block-27
          %ul
            %li
              %a{:href => "#"} &lt;
            %li.active
              %span 1
            %li
              %a{:href => "#"} 2
            %li
              %a{:href => "#"} 3
            %li
              %a{:href => "#"} 4
            %li
              %a{:href => "#"} 5
            %li
              %a{:href => "#"} &gt;
