%body
  .ritekhed-subheader{:style => "background-image: url('#{image_path 'parallax-bg.jpg'}')"}
    %span.ritekhed-banner-transparent
    .container
      .row
        .col-md-12
          %h1 Blog Grid
          %ul.ritekhed-breadcrumb
            %li
              %a{:href => "#"} Home
            %li
              %a{:href => "#"} Blog
            %li Blog Grid
  .ritekhed-main-content
    .ritekhed-main-section
      .container
        .row
          .col-md-12
            .ritekhed-blog.ritekhed-blog-grid
              %ul.row
                %li.col-md-4
                  %figure
                    %a{:href => "#"}
                      %img{:src => "#{image_path 'blog-grid-img1.jpg'}"}/
                      %span.ritekhed-blog-hover
                  .ritekhed-blog-grid-text.ritekhed-border-color
                    %h2
                      %a{:href => "#"} The summer of 2014 was understand
                    %ul
                      %li
                        %i.far.fa-user
                        %a{:href => "#"} Albert Martyn
                      %li
                        %i.far.fa-calendar-alt
                        21/11/2017
                    %p Lorem ipsum dolor sit amet consectetur adipiscing elit Ut ac malesuada Curabi lacinia diam tempus […]
                    %a.read-more{:href => "#"} Read More
                %li.col-md-4
                  %figure
                    %a{:href => "#"}
                      %img{:src => "#{image_path 'blog-grid-img2.jpg'}"}/
                      %span.ritekhed-blog-hover
                  .ritekhed-blog-grid-text.ritekhed-border-color
                    %ul
                      %li
                        %i.far.fa-user
                        %a{:href => "#"} Albert Martyn
                      %li
                        %i.far.fa-calendar-alt
                        21/11/2017
                    %h2
                      %a{:href => "#"} Sevilla finished fifth and just out
                    %p Lorem ipsum dolor sit amet consectetur adipiscing elit Ut ac malesuada Curabi lacinia diam tempus […]
                    %a.read-more{:href => "#"} Read More
                %li.col-md-4
                  %figure
                    %a{:href => "#"}
                      %img{:src => "#{image_path 'blog-grid-img3.jpg'}"}/
                      %span.ritekhed-blog-hover
                  .ritekhed-blog-grid-text.ritekhed-border-color
                    %ul
                      %li
                        %i.far.fa-user
                        %a{:href => "#"} Albert Martyn
                      %li
                        %i.far.fa-calendar-alt
                        21/11/2017
                    %h2
                      %a{:href => "#"} United, Palace Aim To Rebound
                    %p Lorem ipsum dolor sit amet consectetur adipiscing elit Ut ac malesuada Curabi lacinia diam tempus […]
                    %a.read-more{:href => "#"} Read More
                %li.col-md-4
                  %figure
                    %a{:href => "#"}
                      %img{:src => "#{image_path 'blog-grid-img4.jpg'}"}/
                      %span.ritekhed-blog-hover
                  .ritekhed-blog-grid-text.ritekhed-border-color
                    %ul
                      %li
                        %i.far.fa-user
                        %a{:href => "#"} Albert Martyn
                      %li
                        %i.far.fa-calendar-alt
                        21/11/2017
                    %h2
                      %a{:href => "#"} was understand all about the
                    %p Lorem ipsum dolor sit amet consectetur adipiscing elit Ut ac malesuada Curabi lacinia diam tempus […]
                    %a.read-more{:href => "#"} Read More
                %li.col-md-4
                  %figure
                    %a{:href => "#"}
                      %img{:src => "#{image_path 'blog-grid-img4.jpg'}"}/
                      %span.ritekhed-blog-hover
                  .ritekhed-blog-grid-text.ritekhed-border-color
                    %ul
                      %li
                        %i.far.fa-user
                        %a{:href => "#"} Albert Martyn
                      %li
                        %i.far.fa-calendar-alt
                        21/11/2017
                    %h2
                      %a{:href => "#"} The summer of 2014 was understand
                    %p Lorem ipsum dolor sit amet consectetur adipiscing elit Ut ac malesuada Curabi lacinia diam tempus […]
                    %a.read-more{:href => "#"} Read More
                %li.col-md-4
                  %figure
                    %a{:href => "#"}
                      %img{:src => "#{image_path 'blog-grid-img3.jpg'}"}/
                      %span.ritekhed-blog-hover
                  .ritekhed-blog-grid-text.ritekhed-border-color
                    %ul
                      %li
                        %i.far.fa-user
                        %a{:href => "#"} Albert Martyn
                      %li
                        %i.far.fa-calendar-alt
                        21/11/2017
                    %h2
                      %a{:href => "#"} Sevilla finished fifth and just out
                    %p Lorem ipsum dolor sit amet consectetur adipiscing elit Ut ac malesuada Curabi lacinia diam tempus […]
                    %a.read-more{:href => "#"} Read More
                %li.col-md-4
                  %figure
                    %a{:href => "#"}
                      %img{:src => "#{image_path 'blog-grid-img2.jpg'}"}/
                      %span.ritekhed-blog-hover
                  .ritekhed-blog-grid-text.ritekhed-border-color
                    %ul
                      %li
                        %i.far.fa-user
                        %a{:href => "#"} Albert Martyn
                      %li
                        %i.far.fa-calendar-alt
                        21/11/2017
                    %h2
                      %a{:href => "#"} United, Palace Aim To Rebound
                    %p Lorem ipsum dolor sit amet consectetur adipiscing elit Ut ac malesuada Curabi lacinia diam tempus […]
                    %a.read-more{:href => "#"} Read More
                %li.col-md-4
                  %figure
                    %a{:href => "#"}
                      %img{:src => "#{image_path 'blog-grid-img1.jpg'}"}/
                      %span.ritekhed-blog-hover
                  .ritekhed-blog-grid-text.ritekhed-border-color
                    %ul
                      %li
                        %i.far.fa-user
                        %a{:href => "#"} Albert Martyn
                      %li
                        %i.far.fa-calendar-alt
                        21/11/2017
                    %h2
                      %a{:href => "#"} was understand all about the
                    %p Lorem ipsum dolor sit amet consectetur adipiscing elit Ut ac malesuada Curabi lacinia diam tempus […]
                    %a.read-more{:href => "#"} Read More
                %li.col-md-4
                  %figure
                    %a{:href => "#"}
                      %img{:src => "#{image_path 'blog-grid-img1.jpg'}"}/
                      %span.ritekhed-blog-hover
                  .ritekhed-blog-grid-text.ritekhed-border-color
                    %ul
                      %li
                        %i.far.fa-user
                        %a{:href => "#"} Albert Martyn
                      %li
                        %i.far.fa-calendar-alt
                        21/11/2017
                    %h2
                      %a{:href => "#"} The summer of 2014 was understand
                    %p Lorem ipsum dolor sit amet consectetur adipiscing elit Ut ac malesuada Curabi lacinia diam tempus […]
                    %a.read-more{:href => "#"} Read More
                %li.col-md-4
                  %figure
                    %a{:href => "#"}
                      %img{:src => "#{image_path 'blog-grid-img2.jpg'}"}/
                      %span.ritekhed-blog-hover
                  .ritekhed-blog-grid-text.ritekhed-border-color
                    %ul
                      %li
                        %i.far.fa-user
                        %a{:href => "#"} Albert Martyn
                      %li
                        %i.far.fa-calendar-alt
                        21/11/2017
                    %h2
                      %a{:href => "#"} Sevilla finished fifth and just out
                    %p Lorem ipsum dolor sit amet consectetur adipiscing elit Ut ac malesuada Curabi lacinia diam tempus […]
                    %a.read-more{:href => "#"} Read More
                %li.col-md-4
                  %figure
                    %a{:href => "#"}
                      %img{:src => "#{image_path 'blog-grid-img3.jpg'}"}/
                      %span.ritekhed-blog-hover
                  .ritekhed-blog-grid-text.ritekhed-border-color
                    %ul
                      %li
                        %i.far.fa-user
                        %a{:href => "#"} Albert Martyn
                      %li
                        %i.far.fa-calendar-alt
                        21/11/2017
                    %h2
                      %a{:href => "#"} United, Palace Aim To Rebound
                    %p Lorem ipsum dolor sit amet consectetur adipiscing elit Ut ac malesuada Curabi lacinia diam tempus […]
                    %a.read-more{:href => "#"} Read More
                %li.col-md-4
                  %figure
                    %a{:href => "#"}
                      %img{:src => "#{image_path 'blog-grid-img4.jpg'}"}/
                      %span.ritekhed-blog-hover
                  .ritekhed-blog-grid-text.ritekhed-border-color
                    %ul
                      %li
                        %i.far.fa-user
                        %a{:href => "#"} Albert Martyn
                      %li
                        %i.far.fa-calendar-alt
                        21/11/2017
                    %h2
                      %a{:href => "#"} was understand all about the
                    %p Lorem ipsum dolor sit amet consectetur adipiscing elit Ut ac malesuada Curabi lacinia diam tempus […]
                    %a.read-more{:href => "#"} Read More
            .ritekhed-pagination
              %ul.page-numbers
                %li
                  %a.previous.page-numbers{:href => "#"}
                    %span{"aria-label" => "Next"}
                      %i.fa.fa-angle-left
                %li
                  %span.page-numbers.current 1
                %li
                  %a.page-numbers{:href => "#"} 2
                %li
                  %a.page-numbers{:href => "#"} 3
                %li
                  %a.page-numbers{:href => "#"} 4
                %li
                  %a.next.page-numbers{:href => "#"}
                    %span{"aria-label" => "Next"}
                      %i.fa.fa-angle-right
