%body
  .ritekhed-banner
    .ritekhed-banner-layer
      %span.ritekhed-banner-transparent
      %img{:src => "#{image_path 'banner-4.jpg'}"}/
      .ritekhed-banner-caption.ritekhed-center-align
        .container
          %h1
            ICC CRICKET WORLD CUP
            %strong.ritekhed-color GREATEST MOMENTS
          .clearfix
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac malesuada ante Curabitur lacinia diam tempus tempor consectetur. Sed vitae dignissim purueget aliquam libero.
          .clearfix
          %a.ritekhed-border-color.ritekhed-color.ritekhed-bgcolorhover.ritekhed-colorhover-two{:href => "#"} Read More
    .ritekhed-banner-layer
      %span.ritekhed-banner-transparent
      %img{:src => "#{image_path 'banner-5.jpg'}"}/
      .ritekhed-banner-caption
        .container
          %h1
            We Are Developing The
            %strong.ritekhed-color Soccer
            Be Our Partner
          .clearfix
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac malesuada ante Curabitur lacinia diam tempus tempor consectetur. Sed vitae dignissim purueget aliquam libero.
          .clearfix
          %a.ritekhed-border-color.ritekhed-color.ritekhed-bgcolorhover.ritekhed-colorhover-two{:href => "#"} Read More
    .ritekhed-banner-layer
      %span.ritekhed-banner-transparent
      %img{:src => "#{image_path 'banner-7.jpg'}"}/
      .ritekhed-banner-caption.ritekhed-center-align
        .container
          %h1
            We Are Developing The
            %strong.ritekhed-color Soccer
            Be Our Partner
          .clearfix
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac malesuada ante Curabitur lacinia diam tempus tempor consectetur. Sed vitae dignissim purueget aliquam libero.
          .clearfix
          %a.ritekhed-border-color.ritekhed-color.ritekhed-bgcolorhover.ritekhed-colorhover-two{:href => "#"} Read More
  .ritekhed-main-content
    .ritekhed-main-section.ritekhed-fixture-table-slider-full
      .container-fluid
        .row
          .ritekhed-fixture-table-slider
            .ritekhed-fixture-table-slider-layer
              %time.ritekhed-bgcolor-two{:datetime => "2008-02-14 20:00"} May 30, 2019
              %ul.ritekhed-bgcolor
                %li.ritekhed-fixture-vs
                  %small ENG
                  Vs
                  %span SA
                %li.ritekhed-fixture-addtext
                  %a{:href => "#"} Book Now
            .ritekhed-fixture-table-slider-layer
              %time.ritekhed-bgcolor-two{:datetime => "2008-02-14 20:00"} May 31, 2019
              %ul.ritekhed-bgcolor
                %li.ritekhed-fixture-vs
                  %small ENG
                  Vs
                  %span SA
                %li.ritekhed-fixture-addtext
                  %a{:href => "#"} Book Now
            .ritekhed-fixture-table-slider-layer
              %time.ritekhed-bgcolor-two{:datetime => "2008-02-14 20:00"} May 28, 2019
              %ul.ritekhed-bgcolor
                %li.ritekhed-fixture-vs
                  %small ENG
                  Vs
                  %span SA
                %li.ritekhed-fixture-addtext
                  %a{:href => "#"} Book Now
            .ritekhed-fixture-table-slider-layer
              %time.ritekhed-bgcolor-two{:datetime => "2008-02-14 20:00"} May 28, 2019
              %ul.ritekhed-bgcolor
                %li.ritekhed-fixture-vs
                  %small ENG
                  Vs
                  %span SA
                %li.ritekhed-fixture-addtext
                  %a{:href => "#"} Book Now
            .ritekhed-fixture-table-slider-layer
              %time.ritekhed-bgcolor-two{:datetime => "2008-02-14 20:00"} May 28, 2019
              %ul.ritekhed-bgcolor
                %li.ritekhed-fixture-vs
                  %small ENG
                  Vs
                  %span SA
                %li.ritekhed-fixture-addtext
                  %a{:href => "#"} Book Now
            .ritekhed-fixture-table-slider-layer
              %time.ritekhed-bgcolor-two{:datetime => "2008-02-14 20:00"} May 28, 2019
              %ul.ritekhed-bgcolor
                %li.ritekhed-fixture-vs
                  %small ENG
                  Vs
                  %span SA
                %li.ritekhed-fixture-addtext
                  %a{:href => "#"} Book Now
            .ritekhed-fixture-table-slider-layer
              %time.ritekhed-bgcolor-two{:datetime => "2008-02-14 20:00"} May 28, 2019
              %ul.ritekhed-bgcolor
                %li.ritekhed-fixture-vs
                  %small ENG
                  Vs
                  %span SA
                %li.ritekhed-fixture-addtext
                  %a{:href => "#"} Book Now
            .ritekhed-fixture-table-slider-layer
              %time.ritekhed-bgcolor-two{:datetime => "2008-02-14 20:00"} May 28, 2019
              %ul.ritekhed-bgcolor
                %li.ritekhed-fixture-vs
                  %small ENG
                  Vs
                  %span SA
                %li.ritekhed-fixture-addtext
                  %a{:href => "#"} Book Now
            .ritekhed-fixture-table-slider-layer
              %time.ritekhed-bgcolor-two{:datetime => "2008-02-14 20:00"} May 28, 2019
              %ul.ritekhed-bgcolor
                %li.ritekhed-fixture-vs
                  %small ENG
                  Vs
                  %span SA
                %li.ritekhed-fixture-addtext
                  %a{:href => "#"} Book Now
    .ritekhed-main-section
      .container
        .row
          .col-md-4
            .team-best-rank
              %h3.mb-3 ICC Test Ranking
              #goals.best-rank-list.tab-pane.active
                %a.item{:href => "#"}
                  %span.number 1
                  %span India
                  %span.achievement 116
                %a.item{:href => "#"}
                  %span.number 2
                  %span New Zealand
                  %span.achievement 108
                %a.item{:href => "#"}
                  %span.number 3
                  %span South Africa
                  %span.achievement 105
                %a.item{:href => "#"}
                  %span.number 4
                  %span Australia
                  %span.achievement 104
                %a.item{:href => "#"}
                  %span.number 5
                  %span England
                  %span.achievement 104
                %a.item{:href => "#"}
                  %span.number 6
                  %span Sri Lanka
                  %span.achievement 93
                %a.item{:href => "#"}
                  %span.number 7
                  %span Pakistan
                  %span.achievement 88
                %a.item{:href => "#"}
                  %span.number 8
                  %span West Indies
                  %span.achievement 77
                %a.item{:href => "#"}
                  %span.number 2
                  %span Bangladesh
                  %span.achievement 68
                %a.item{:href => "#"}
                  %span.number 2
                  %span Zimbabwe
                  %span.achievement 13
          .col-md-4
            .team-best-rank
              %h3.mb-3 ICC Test Ranking
              #goals.best-rank-list.tab-pane.active
                %a.item{:href => "#"}
                  %span.number 1
                  %span India
                  %span.achievement 116
                %a.item{:href => "#"}
                  %span.number 2
                  %span New Zealand
                  %span.achievement 108
                %a.item{:href => "#"}
                  %span.number 3
                  %span South Africa
                  %span.achievement 105
                %a.item{:href => "#"}
                  %span.number 4
                  %span Australia
                  %span.achievement 104
                %a.item{:href => "#"}
                  %span.number 5
                  %span England
                  %span.achievement 104
                %a.item{:href => "#"}
                  %span.number 6
                  %span Sri Lanka
                  %span.achievement 93
                %a.item{:href => "#"}
                  %span.number 7
                  %span Pakistan
                  %span.achievement 88
                %a.item{:href => "#"}
                  %span.number 8
                  %span West Indies
                  %span.achievement 77
                %a.item{:href => "#"}
                  %span.number 2
                  %span Bangladesh
                  %span.achievement 68
                %a.item{:href => "#"}
                  %span.number 2
                  %span Zimbabwe
                  %span.achievement 13
          .col-md-4
            .team-best-rank
              %h3.mb-3 ICC Test Ranking
              #goals.best-rank-list.tab-pane.active
                %a.item{:href => "#"}
                  %span.number 1
                  %span India
                  %span.achievement 116
                %a.item{:href => "#"}
                  %span.number 2
                  %span New Zealand
                  %span.achievement 108
                %a.item{:href => "#"}
                  %span.number 3
                  %span South Africa
                  %span.achievement 105
                %a.item{:href => "#"}
                  %span.number 4
                  %span Australia
                  %span.achievement 104
                %a.item{:href => "#"}
                  %span.number 5
                  %span England
                  %span.achievement 104
                %a.item{:href => "#"}
                  %span.number 6
                  %span Sri Lanka
                  %span.achievement 93
                %a.item{:href => "#"}
                  %span.number 7
                  %span Pakistan
                  %span.achievement 88
                %a.item{:href => "#"}
                  %span.number 8
                  %span West Indies
                  %span.achievement 77
                %a.item{:href => "#"}
                  %span.number 2
                  %span Bangladesh
                  %span.achievement 68
                %a.item{:href => "#"}
                  %span.number 2
                  %span Zimbabwe
                  %span.achievement 13
    .ritekhed-main-section.ritekhed-parallax-full{:style => "background-image: url('#{image_path 'parallax-bg.jpg'}')"}
      .container
        .row
          .col-md-12
            .ritekhed-parallax
              %h2 Take look at the brand New Uniforms next season The team is taking
              .clearfix
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac malesuada Curabitur lacinia diam tempus tempor consectetur. Sed vitae dignis us eget aliquam libero.
              .clearfix
              %a.ritekhed-border-color.ritekhed-color.ritekhed-bgcolorhover.ritekhed-colorhover-two{:href => "#"} Read More
    .ritekhed-main-section.ritekhed-player-grid-full
      .container
        .row
          .col-md-12
            .ritekhed-fancy-title
              %h2 Meet Our Team
            .ritekhed-player.ritekhed-player-grid
              %ul.row
                .col-xl-3.col-lg-4.col-md-6.sol-sm-6
                  .item-team
                    .head-team
                      = image_tag("india.jpg")
                      .overlay
                        %a{:href => "team.html"} +
                    .info-team
                      %span.logo-team
                        = image_tag("flag-1.png")
                      %h4 India
                      %span.location-team
                        %i.fa.fa-map-marker{"aria-hidden" => "true"}
                        Stadium
                      %span.group-team
                        %i.fa.fa-trophy{"aria-hidden" => "true"}
                        Group D
                    %a.btn{:href => "team.html"}
                      Team Profile
                      %i.fa.fa-angle-right{"aria-hidden" => "true"}
                .col-xl-3.col-lg-4.col-md-6.sol-sm-6
                  .item-team
                    .head-team
                      = image_tag("aus.jpg")
                      .overlay
                        %a{:href => "team.html"} +
                    .info-team
                      %span.logo-team
                        = image_tag("flag-4.png")
                      %h4 Australia
                      %span.location-team
                        %i.fa.fa-map-marker{"aria-hidden" => "true"}
                        Stadium
                      %span.group-team
                        %i.fa.fa-trophy{"aria-hidden" => "true"}
                        Group D
                    %a.btn{:href => "team.html"}
                      Team Profile
                      %i.fa.fa-angle-right{"aria-hidden" => "true"}
                .col-xl-3.col-lg-4.col-md-6.sol-sm-6
                  .item-team
                    .head-team
                      = image_tag("nz.jpg")
                      .overlay
                        %a{:href => "team.html"} +
                    .info-team
                      %span.logo-team
                        = image_tag("flag-2.png")
                      %h4 New Zealand
                      %span.location-team
                        %i.fa.fa-map-marker{"aria-hidden" => "true"}
                        Stadium
                      %span.group-team
                        %i.fa.fa-trophy{"aria-hidden" => "true"}
                        Group D
                    %a.btn{:href => "team.html"}
                      Team Profile
                      %i.fa.fa-angle-right{"aria-hidden" => "true"}
                .col-xl-3.col-lg-4.col-md-6.sol-sm-6
                  .item-team
                    .head-team
                      = image_tag("sa.jpg")
                      .overlay
                        %a{:href => "team.html"} +
                    .info-team
                      %span.logo-team
                        = image_tag("flag-3.png")
                      %h4 South Africa
                      %span.location-team
                        %i.fa.fa-map-marker{"aria-hidden" => "true"}
                        Stadium
                      %span.group-team
                        %i.fa.fa-trophy{"aria-hidden" => "true"}
                        Group D
                    %a.btn{:href => "team.html"}
                      Team Profile
                      %i.fa.fa-angle-right{"aria-hidden" => "true"}
    .ritekhed-main-section
      .container
        .row
          .col-md-12
            .ritekhed-fancy-title
              %h2 Our Blog
          .ritekhed-blog.ritekhed-blog-grid
            %ul.row
              %li.col-md-4
                %figure
                  %a{:href => "#"}
                    %img{:src => "#{image_path 'blog-grid-img1.jpg'}"}/
                    %span.ritekhed-blog-hover
                .ritekhed-blog-grid-text.ritekhed-border-color
                  %h2
                    %a{:href => "#"} The summer of 2014 was understand
                  %ul
                    %li
                      %i.far.fa-user
                      %a{:href => "#"} Albert Martyn
                    %li
                      %i.far.fa-calendar-alt
                      21/11/2017
                  %p Lorem ipsum dolor sit amet consectetur adipiscing elit Ut ac malesuada Curabi lacinia diam tempus […]
                  %a.read-more{:href => "#"} Read More
              %li.col-md-4
                %figure
                  %a{:href => "#"}
                    %img{:src => "#{image_path 'blog-grid-img2.jpg'}"}/
                    %span.ritekhed-blog-hover
                .ritekhed-blog-grid-text.ritekhed-border-color
                  %ul
                    %li
                      %i.far.fa-user
                      %a{:href => "#"} Albert Martyn
                    %li
                      %i.far.fa-calendar-alt
                      21/11/2017
                  %h2
                    %a{:href => "#"} Sevilla finished fifth and just out
                  %p Lorem ipsum dolor sit amet consectetur adipiscing elit Ut ac malesuada Curabi lacinia diam tempus […]
                  %a.read-more{:href => "#"} Read More
              %li.col-md-4
                %figure
                  %a{:href => "#"}
                    %img{:src => "#{image_path 'blog-grid-img3.jpg'}"}/
                    %span.ritekhed-blog-hover
                .ritekhed-blog-grid-text.ritekhed-border-color
                  %ul
                    %li
                      %i.far.fa-user
                      %a{:href => "#"} Albert Martyn
                    %li
                      %i.far.fa-calendar-alt
                      21/11/2017
                  %h2
                    %a{:href => "#"} United, Palace Aim To Rebound
                  %p Lorem ipsum dolor sit amet consectetur adipiscing elit Ut ac malesuada Curabi lacinia diam tempus […]
                  %a.read-more{:href => "#"} Read More
        .col-md-12
          .ritekhed-partner-slider
            .ritekhed-partner-slider-layer
              %a{:href => "#"}
                %img{:src => "#{image_path 'partner-logo-1.jpg'}"}/
            .ritekhed-partner-slider-layer
              %a{:href => "#"}
                %img{:src => "#{image_path 'partner-logo-2.jpg'}"}/
            .ritekhed-partner-slider-layer
              %a{:href => "#"}
                %img{:src => "#{image_path 'partner-logo-3.jpg'}"}/
            .ritekhed-partner-slider-layer
              %a{:href => "#"}
                %img{:src => "#{image_path 'partner-logo-1.jpg'}"}/
            .ritekhed-partner-slider-layer
              %a{:href => "#"}
                %img{:src => "#{image_path 'partner-logo-2.jpg'}"}/
  #loginModal.loginmodal.modal.fade{:role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .ritekhed-login-box
        %a.ritekhed-login-close.ritekhed-color{"data-dismiss" => "modal", :href => "#"}
          %i.fa.fa-times
        %h4 Login To Your Account
        %form
          %input{:onblur => "if(this.value == '') { this.value ='Enter username*'; }", :onfocus => "if(this.value =='Enter username*') { this.value = ''; }", :type => "text", :value => "Enter username*"}/
          %input{:onblur => "if(this.value == '') { this.value ='Password*'; }", :onfocus => "if(this.value =='Password*') { this.value = ''; }", :type => "password", :value => "Password*"}/
          %a.ritekhed-colorhover{:href => "#"} Forget Password?
          .clearfix
          %label
            %input.ritekhed-bordercolor.ritekhed-color{:type => "submit", :value => "Sign In"}/
        %h4 Try Our Socials Also
        %ul.login-network
          %li
            %a{:href => "https://www.facebook.com/softices/?ref=aymt_homepage_panel&eid=ARAm18ULAHBNqv2_Az_4sos7SWP3mjVSiSx1_B0Wign4XH4MZ2g-GjOu2oJVWaqajG1kXXOJk0XG7OIa"}
              %i.fab.fa-facebook-square
              Facebook
          %li.ritekhed-twitter
            %a{:href => "https://twitter.com/Softices"}
              %i.fab.fa-twitter-square
              Twitter
          %li.ritekhed-google-plus
            %a{:href => "#"}
              %i.fab.fa-google-plus-square
              Google+
          %li.ritekhed-linkedin
            %a{:href => "https://www.linkedin.com/company/softices/?viewAsMember=tru"}
              %i.fab.fa-linkedin
              linkedin
        %p
          Not A Member Yet ?
          %a.ritekhed-color{:href => "#"} Sign - Up Now !
      .clearfix
  #signupModal.loginmodal.modal.fade{:role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .ritekhed-login-box
        %a.ritekhed-login-close.ritekhed-color{"data-dismiss" => "modal", :href => "#"}
          %i.fa.fa-times
        %h4 Sign Up Now
        %form
          %input{:onblur => "if(this.value == '') { this.value ='Enter username*'; }", :onfocus => "if(this.value =='Enter username*') { this.value = ''; }", :type => "text", :value => "Enter username*"}/
          %input{:onblur => "if(this.value == '') { this.value ='Type your password*'; }", :onfocus => "if(this.value =='Type your password*') { this.value = ''; }", :type => "text", :value => "Type your password*"}/
          %input{:onblur => "if(this.value == '') { this.value ='Confirm your password*'; }", :onfocus => "if(this.value =='Confirm your password*') { this.value = ''; }", :type => "text", :value => "Confirm your password*"}/
          %a.ritekhed-colorhover{:href => "#"} Forget Password?
          .clearfix
          %label
            %input.ritekhed-bordercolor.ritekhed-color{:type => "submit", :value => "Sign Up"}/
        %h4 Try Our Socials Also
        %ul.login-network
          %li
            %a{:href => "#"}
              %i.fab.fa-facebook-square
              Facebook
          %li.ritekhed-twitter
            %a{:href => "#"}
              %i.fab.fa-twitter-square
              Twitter
          %li.ritekhed-google-plus
            %a{:href => "#"}
              %i.fab.fa-google-plus-square
              Google+
          %li.ritekhed-linkedin
            %a{:href => "#"}
              %i.fab.fa-linkedin
              linkedin
        %p
          Not A Member Yet ?
          %a.ritekhed-color{:href => "#"} Login - Now !
      .clearfix
