.ritekhed-subheader{:style => "background-image: url('#{image_path 'parallax-bg.jpg'}')"}
  %span.ritekhed-banner-transparent
  .container
    .row
      .col-md-12
        %h1 Player Grid
        %ul.ritekhed-breadcrumb
          %li
            %a{:href => "#"} Home
          %li
            %a{:href => "#"} Player
          %li Player Grid
.ritekhed-main-content
  .ritekhed-main-section
    .container
      .row
        .col-xl-3.col-lg-4.col-md-6.forward
          .item-player
            .head-player
              = image_tag("1.jpg")
              .overlay
                %a{:href => "single-player.html"} +
            .info-player
              %span.number-player
                45
              %h4
                Ms Dhoni
                %span Forward
              %ul
                %li
                  %strong NATIONALITY
                  / <span><img src="img/clubs-logos/colombia.png" alt="">Indian </span>
                %li
                  %strong MATCHES:
                  %span 90
                %li
                  %strong AGE:
                  %span 37
            %a.btn{:href => ""}
              View Player
              %i.fa.fa-angle-right{"aria-hidden" => "true"}
        .col-xl-3.col-lg-4.col-md-6.forward
          .item-player
            .head-player
              = image_tag("2.jpg")
              .overlay
                %a{:href => "single-player.html"} +
            .info-player
              %span.number-player
                45
              %h4
                Virat Kohli
                %span Forward
              %ul
                %li
                  %strong NATIONALITY
                  / <span><img src="img/clubs-logos/colombia.png" alt="">Indian </span>
                %li
                  %strong MATCHES:
                  %span 90
                %li
                  %strong AGE:
                  %span 37
            %a.btn{:href => ""}
              View Player
              %i.fa.fa-angle-right{"aria-hidden" => "true"}
        .col-xl-3.col-lg-4.col-md-6.forward
          .item-player
            .head-player
              = image_tag("3.jpg")
              .overlay
                %a{:href => "single-player.html"} +
            .info-player
              %span.number-player
                45
              %h4
                Rohit Sharma
                %span Forward
              %ul
                %li
                  %strong NATIONALITY
                  / <span><img src="img/clubs-logos/colombia.png" alt="">Indian </span>
                %li
                  %strong MATCHES:
                  %span 90
                %li
                  %strong AGE:
                  %span 37
            %a.btn{:href => ""}
              View Player
              %i.fa.fa-angle-right{"aria-hidden" => "true"}
        .col-xl-3.col-lg-4.col-md-6.forward
          .item-player
            .head-player
              = image_tag("4.jpg")
              .overlay
                %a{:href => "single-player.html"} +
            .info-player
              %span.number-player
                45
              %h4
                Dinesh Karthik
                %span Forward
              %ul
                %li
                  %strong NATIONALITY
                  / <span><img src="img/clubs-logos/colombia.png" alt="">Indian </span>
                %li
                  %strong MATCHES:
                  %span 90
                %li
                  %strong AGE:
                  %span 37
            %a.btn{:href => ""}
              View Player
              %i.fa.fa-angle-right{"aria-hidden" => "true"}
        .col-xl-3.col-lg-4.col-md-6.forward
          .item-player
            .head-player
              = image_tag("5.jpg")
              .overlay
                %a{:href => "single-player.html"} +
            .info-player
              %span.number-player
                45
              %h4
                Rishabh Pant
                %span Forward
              %ul
                %li
                  %strong NATIONALITY
                  / <span><img src="img/clubs-logos/colombia.png" alt="">Indian </span>
                %li
                  %strong MATCHES:
                  %span 90
                %li
                  %strong AGE:
                  %span 37
            %a.btn{:href => ""}
              View Player
              %i.fa.fa-angle-right{"aria-hidden" => "true"}
        .col-xl-3.col-lg-4.col-md-6.forward
          .item-player
            .head-player
              = image_tag("6.jpg")
              .overlay
                %a{:href => "single-player.html"} +
            .info-player
              %span.number-player
                45
              %h4
                Suresh Raina
                %span Forward
              %ul
                %li
                  %strong NATIONALITY
                  / <span><img src="img/clubs-logos/colombia.png" alt="">Indian </span>
                %li
                  %strong MATCHES:
                  %span 90
                %li
                  %strong AGE:
                  %span 37
            %a.btn{:href => ""}
              View Player
              %i.fa.fa-angle-right{"aria-hidden" => "true"}
        .col-xl-3.col-lg-4.col-md-6.forward
          .item-player
            .head-player
              = image_tag("7.jpg")
              .overlay
                %a{:href => "single-player.html"} +
            .info-player
              %span.number-player
                45
              %h4
                Yuvraj Singh
                %span Forward
              %ul
                %li
                  %strong NATIONALITY
                %li
                  %strong MATCHES:
                  %span 90
                %li
                  %strong AGE:
                  %span 37
            %a.btn{:href => ""}
              View Player
              %i.fa.fa-angle-right{"aria-hidden" => "true"}
        .col-xl-3.col-lg-4.col-md-6.forward
          .item-player
            .head-player
              = image_tag("8.jpg")
              .overlay
                %a{:href => "single-player.html"} +
            .info-player
              %span.number-player
                45
              %h4
                Ravindra Jadeja
                %span Forward
              %ul
                %li
                  %strong NATIONALITY
                %li
                  %strong MATCHES:
                  %span 90
                %li
                  %strong AGE:
                  %span 37
            %a.btn{:href => ""}
              View Player
              %i.fa.fa-angle-right{"aria-hidden" => "true"}
      .ritekhed-pagination
        %ul.page-numbers
          %li
            %a.previous.page-numbers{:href => "#"}
              %span{"aria-label" => "Next"}
                %i.fa.fa-angle-left
          %li
            %span.page-numbers.current 1
          %li
            %a.page-numbers{:href => "#"} 2
          %li
            %a.page-numbers{:href => "#"} 3
          %li
            %a.page-numbers{:href => "#"} 4
          %li
            %a.next.page-numbers{:href => "#"}
              %span{"aria-label" => "Next"}
                %i.fa.fa-angle-right
