.ritekhed-subheader{:style => "background-image: url('#{image_path 'parallax-bg.jpg'}')"}
  %span.ritekhed-banner-transparent
  .container
    .row
      .col-md-12
        %h1 team
        %ul.ritekhed-breadcrumb
          %li
            %a{:href => "#"} Home
          %li
            %a{:href => "#"} Player
          %li Player Grid
.ritekhed-main-section.ritekhed-player-grid-full
  .container
    .row
      .col-xl-3.col-lg-4.col-md-6.sol-sm-6
        .item-team
          .head-team
            %img{:src => "#{image_path 'india.jpg'}"}/
            .overlay
              %a{:href => "team.html"} +
          .info-team
            %span.logo-team
              %img{:src => "#{image_path 'flag-1.png'}"}/
            %h4 India
            %span.location-team
              %i.fa.fa-map-marker{"aria-hidden" => "true"}
              Stadium
            %span.group-team
              %i.fa.fa-trophy{"aria-hidden" => "true"}
              Group D
          %a.btn{:href => "team.html"}
            Team Profile
            %i.fa.fa-angle-right{"aria-hidden" => "true"}
      .col-xl-3.col-lg-4.col-md-6.sol-sm-6
        .item-team
          .head-team
            %img{:src => "#{image_path 'aus.jpg'}"}/
            .overlay
              %a{:href => "team.html"} +
          .info-team
            %span.logo-team
              %img{:src => "#{image_path 'flag-4.png'}"}/
            %h4 Australia
            %span.location-team
              %i.fa.fa-map-marker{"aria-hidden" => "true"}
              Stadium
            %span.group-team
              %i.fa.fa-trophy{"aria-hidden" => "true"}
              Group D
          %a.btn{:href => "team.html"}
            Team Profile
            %i.fa.fa-angle-right{"aria-hidden" => "true"}
      .col-xl-3.col-lg-4.col-md-6.sol-sm-6
        .item-team
          .head-team
            %img{:src => "#{image_path 'nz.jpg'}"}/
            .overlay
              %a{:href => "team.html"} +
          .info-team
            %span.logo-team
              %img{:src => "#{image_path 'flag-2.png'}"}/
            %h4 New Zealand
            %span.location-team
              %i.fa.fa-map-marker{"aria-hidden" => "true"}
              Stadium
            %span.group-team
              %i.fa.fa-trophy{"aria-hidden" => "true"}
              Group D
          %a.btn{:href => "team.html"}
            Team Profile
            %i.fa.fa-angle-right{"aria-hidden" => "true"}
      .col-xl-3.col-lg-4.col-md-6.sol-sm-6
        .item-team
          .head-team
            %img{:src => "#{image_path 'sa.jpg'}"}/
            .overlay
              %a{:href => "team.html"} +
          .info-team
            %span.logo-team
              %img{:src => "#{image_path 'flag-3.png'}"}/
            %h4 South Africa
            %span.location-team
              %i.fa.fa-map-marker{"aria-hidden" => "true"}
              Stadium
            %span.group-team
              %i.fa.fa-trophy{"aria-hidden" => "true"}
              Group D
          %a.btn{:href => "team.html"}
            Team Profile
            %i.fa.fa-angle-right{"aria-hidden" => "true"}
      .col-xl-3.col-lg-4.col-md-6.sol-sm-6
        .item-team
          .head-team
            %img{:src => "#{image_path 'end.jpg'}"}/
            .overlay
              %a{:href => "team.html"} +
          .info-team
            %span.logo-team
              %img{:src => "#{image_path 'flag-5.png'}"}/
            %h4 Englang
            %span.location-team
              %i.fa.fa-map-marker{"aria-hidden" => "true"}
              Stadium
            %span.group-team
              %i.fa.fa-trophy{"aria-hidden" => "true"}
              Group D
          %a.btn{:href => "team.html"}
            Team Profile
            %i.fa.fa-angle-right{"aria-hidden" => "true"}
      .col-xl-3.col-lg-4.col-md-6.sol-sm-6
        .item-team
          .head-team
            %img{:src => "#{image_path 'ban.jpg'}"}/
            .overlay
              %a{:href => "team.html"} +
          .info-team
            %span.logo-team
              %img{:src => "#{image_path 'flag-9.png'}"}/
            %h4 Bangladesh
            %span.location-team
              %i.fa.fa-map-marker{"aria-hidden" => "true"}
              Stadium
            %span.group-team
              %i.fa.fa-trophy{"aria-hidden" => "true"}
              Group D
          %a.btn{:href => "team.html"}
            Team Profile
            %i.fa.fa-angle-right{"aria-hidden" => "true"}
      .col-xl-3.col-lg-4.col-md-6.sol-sm-6
        .item-team
          .head-team
            %img{:src => "#{image_path 'afg.jpg'}"}/
            .overlay
              %a{:href => "team.html"} +
          .info-team
            %span.logo-team
              %img{:src => "#{image_path 'flag-11.png'}"}/
            %h4 Afghanistan
            %span.location-team
              %i.fa.fa-map-marker{"aria-hidden" => "true"}
              Stadium
            %span.group-team
              %i.fa.fa-trophy{"aria-hidden" => "true"}
              Group D
          %a.btn{:href => "team.html"}
            Team Profile
            %i.fa.fa-angle-right{"aria-hidden" => "true"}
