%body
  #top-bar
    .container
      .row
        .col-lg-6.col-md-9
          .contacts
            %div
              %span.fa.fa-phone
              (+91) 70166 76005
            .hidden-xs.hidden-ms
              %span.fa.fa-skype
              SOFTICES
            .hidden-xs.hidden-ms
              %span.fa.fa-phone>
              202-204 Panvel Pointa
        .col-lg-6.col-md-3
          .social.social-small.visible-lg
            %a.fa.fa-twitter{:href => "https://twitter.com/Softices"}
            %a.fa.fa-facebook{:href => "https://www.facebook.com/softices/?ref=aymt_homepage_panel&eid=ARAm18ULAHBNqv2_Az_4sos7SWP3mjVSiSx1_B0Wign4XH4MZ2g-GjOu2oJVWaqajG1kXXOJk0XG7OIa"}
            %a.fa.fa-instagram{:href => "https://www.instagram.com/softices_consultancy/"}
            %a.fa.fa-google-plus{:href => "#"}
            %a.fa.fa-pinterest{:href => "https://in.pinterest.com/SofticesConsultancy/"}
          %a.btn.btn-xs.btn-black-bordered.pull-right{:href => "get_taxi.html"} Get taxi online
  #nav-wrapper.nav-wrapper
    %nav.navbar.navbar-static.navbar-affix{"data-spy" => "affix"}
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{:type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar.top-bar
            %span.icon-bar.middle-bar
            %span.icon-bar.bottom-bar
          %a.logo{:href => root_path}
            %img{:src => "#{image_path 'logo-inner.png'}"}/
        #navbar.navbar-collapse.collapse
          %button.navbar-toggle.collapsed{:type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar.top-bar
            %span.icon-bar.middle-bar
            %span.icon-bar.bottom-bar
          %ul.nav.navbar-nav
            %li
              %a{:href => root_path} Home
            %li
              %a{:href => gettaxi_path} Get Taxi
            %li
              %a{:href => services_path} Services
            %li.hasSub
              %a{:href => "#"} Our blog
              %ul.sub-menu
                %li
                  %a{:href => blog_path} Classic Blog
            %li.current_page_item
              %a{:href => contacts_path} Contacts
  %header.page-header{:style => "background-image: url('#{image_path '_inner-bg.jpg'}');"}
    .container
      %ol.bread
        %li
          %a{:href => root_path}
            %span Home
        %li.divider
          %span //
        %li
          %span Contacts
      %h1 Contacts
  %section#page-contacts
    .container
      .row
        .col-lg-6.col-md-6
          %h3.aligncenter Addresh
          %table.info-table
            %tbody
              %tr.info-table-row
                %th.info-table-icon
                  %i.fa.fa.fa-long-arrow-right
                %td.info-table-content Softices Consultancy Pvt. Ltd.
              %tr.info-table-row
                %th.info-table-icon
                  %i.fa.fa.fa-map-marker
                %td.info-table-content 202-204 Panvel Point, Nr. Sudama Chowk
              %tr.info-table-row
                %th.info-table-icon
                  %i.fa.fa.fa-phone
                %td.info-table-content (+91) 70166 76005
              %tr.info-table-row
                %th.info-table-icon
                  %i.fa.fa.fa-fax
                %td.info-table-content (+91) 70166 &lt;76005&gt;76005&gt;
              %tr.info-table-row
                %th.info-table-icon
                  %i.fa.fa.fa-mobile
                %td.info-table-content (+91) 70166 76005
              %tr.info-table-row
                %th.info-table-icon
                  %i.fa.fa.fa-envelope
                %td.info-table-content contact@softices.com
              %tr.info-table-row
                %th.info-table-icon
                  %i.fa.fa.fa-globe
                %td.info-table-content
                  %a{:href => "https://softices.com/", :target => "_blank"} https://softices.com
        .col-lg-6.col-md-6.contact-form
          %form.form.form-validate
            %h3.aligncenter Send Message
            .form-group
              %label
                Your name
                %span.red *
              %input#name.ajaxField.required{:name => "name", :placeholder => "Your name", :type => "text"}/
            .form-group
              %label
                E-mail
                %span.red *
              %input#email.ajaxField.required{:name => "email", :placeholder => "E-mail", :type => "text"}/
            .form-group
              %label
                Message
                %span.red *
              %textarea#text.ajaxField.required{:name => "text", :placeholder => "Enter Message"}
            %input.btn.btn-yellow.aligncenter.btn-lg{:name => "send", :type => "submit", :value => "Send"}/
            %input#type.ajaxField{:name => "type", :type => "hidden", :value => "1"}/
  #map{"data-lat" => "40.7529789", "data-lng" => "-74.0044417", "data-zoom" => "11", :style => "position: relative; overflow: hidden;"}
    %div{:style => "height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);"}
      .gm-style{:style => "position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;"}
        %div{:style => "position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; cursor: url(\"https://maps.gstatic.com/mapfiles/openhand_8_8.cur\"), default; touch-action: pan-x pan-y;", :tabindex => "0"}
          %div{:style => "z-index: 1; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px, 0px);"}
            %div{:style => "position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"}
              %div{:style => "position: absolute; left: 0px; top: 0px; z-index: 0;"}
                %div{:style => "position: absolute; z-index: 989; transform: matrix(1, 0, 0, 1, -255, -181);"}
                  %div{:style => "position: absolute; left: 256px; top: 256px; width: 256px; height: 256px;"}
                    %div{:style => "width: 256px; height: 256px;"}
                  %div{:style => "position: absolute; left: 0px; top: 256px; width: 256px; height: 256px;"}
                    %div{:style => "width: 256px; height: 256px;"}
                  %div{:style => "position: absolute; left: 0px; top: 0px; width: 256px; height: 256px;"}
                    %div{:style => "width: 256px; height: 256px;"}
                  %div{:style => "position: absolute; left: 256px; top: 0px; width: 256px; height: 256px;"}
                    %div{:style => "width: 256px; height: 256px;"}
                  %div{:style => "position: absolute; left: 512px; top: 0px; width: 256px; height: 256px;"}
                    %div{:style => "width: 256px; height: 256px;"}
                  %div{:style => "position: absolute; left: 512px; top: 256px; width: 256px; height: 256px;"}
                    %div{:style => "width: 256px; height: 256px;"}
                  %div{:style => "position: absolute; left: 512px; top: 512px; width: 256px; height: 256px;"}
                    %div{:style => "width: 256px; height: 256px;"}
                  %div{:style => "position: absolute; left: 256px; top: 512px; width: 256px; height: 256px;"}
                    %div{:style => "width: 256px; height: 256px;"}
                  %div{:style => "position: absolute; left: 0px; top: 512px; width: 256px; height: 256px;"}
                    %div{:style => "width: 256px; height: 256px;"}
                  %div{:style => "position: absolute; left: -256px; top: 512px; width: 256px; height: 256px;"}
                    %div{:style => "width: 256px; height: 256px;"}
                  %div{:style => "position: absolute; left: -256px; top: 256px; width: 256px; height: 256px;"}
                    %div{:style => "width: 256px; height: 256px;"}
                  %div{:style => "position: absolute; left: -256px; top: 0px; width: 256px; height: 256px;"}
                    %div{:style => "width: 256px; height: 256px;"}
                  %div{:style => "position: absolute; left: -256px; top: -256px; width: 256px; height: 256px;"}
                    %div{:style => "width: 256px; height: 256px;"}
                  %div{:style => "position: absolute; left: 0px; top: -256px; width: 256px; height: 256px;"}
                    %div{:style => "width: 256px; height: 256px;"}
                  %div{:style => "position: absolute; left: 256px; top: -256px; width: 256px; height: 256px;"}
                    %div{:style => "width: 256px; height: 256px;"}
                  %div{:style => "position: absolute; left: 512px; top: -256px; width: 256px; height: 256px;"}
                    %div{:style => "width: 256px; height: 256px;"}
                  %div{:style => "position: absolute; left: 768px; top: -256px; width: 256px; height: 256px;"}
                    %div{:style => "width: 256px; height: 256px;"}
                  %div{:style => "position: absolute; left: 768px; top: 0px; width: 256px; height: 256px;"}
                    %div{:style => "width: 256px; height: 256px;"}
                  %div{:style => "position: absolute; left: 768px; top: 256px; width: 256px; height: 256px;"}
                    %div{:style => "width: 256px; height: 256px;"}
                  %div{:style => "position: absolute; left: 768px; top: 512px; width: 256px; height: 256px;"}
                    %div{:style => "width: 256px; height: 256px;"}
                  %div{:style => "position: absolute; left: -512px; top: 512px; width: 256px; height: 256px;"}
                    %div{:style => "width: 256px; height: 256px;"}
                  %div{:style => "position: absolute; left: -512px; top: 256px; width: 256px; height: 256px;"}
                    %div{:style => "width: 256px; height: 256px;"}
                  %div{:style => "position: absolute; left: -512px; top: 0px; width: 256px; height: 256px;"}
                    %div{:style => "width: 256px; height: 256px;"}
                  %div{:style => "position: absolute; left: -512px; top: -256px; width: 256px; height: 256px;"}
                    %div{:style => "width: 256px; height: 256px;"}
            %div{:style => "position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"}
            %div{:style => "position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"}
            %div{:style => "position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"}
              %div{:style => "width: 24px; height: 24px; overflow: hidden; position: absolute; left: -12px; top: -24px; z-index: 0;"}
                %img{:alt => "", :draggable => "false", :src => "https://maps.gstatic.com/mapfiles/transparent.png", :style => "position: absolute; left: 0px; top: 0px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
              %div{:style => "position: absolute; left: 0px; top: 0px; z-index: -1;"}
                %div{:style => "position: absolute; z-index: 989; transform: matrix(1, 0, 0, 1, -255, -181);"}
                  %div{:style => "width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: 256px;"}
                  %div{:style => "width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: 256px;"}
                  %div{:style => "width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: 0px;"}
                  %div{:style => "width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: 0px;"}
                  %div{:style => "width: 256px; height: 256px; overflow: hidden; position: absolute; left: 512px; top: 0px;"}
                  %div{:style => "width: 256px; height: 256px; overflow: hidden; position: absolute; left: 512px; top: 256px;"}
                  %div{:style => "width: 256px; height: 256px; overflow: hidden; position: absolute; left: 512px; top: 512px;"}
                  %div{:style => "width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: 512px;"}
                  %div{:style => "width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: 512px;"}
                  %div{:style => "width: 256px; height: 256px; overflow: hidden; position: absolute; left: -256px; top: 512px;"}
                  %div{:style => "width: 256px; height: 256px; overflow: hidden; position: absolute; left: -256px; top: 256px;"}
                  %div{:style => "width: 256px; height: 256px; overflow: hidden; position: absolute; left: -256px; top: 0px;"}
                  %div{:style => "width: 256px; height: 256px; overflow: hidden; position: absolute; left: -256px; top: -256px;"}
                  %div{:style => "width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: -256px;"}
                  %div{:style => "width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: -256px;"}
                  %div{:style => "width: 256px; height: 256px; overflow: hidden; position: absolute; left: 512px; top: -256px;"}
                  %div{:style => "width: 256px; height: 256px; overflow: hidden; position: absolute; left: 768px; top: -256px;"}
                  %div{:style => "width: 256px; height: 256px; overflow: hidden; position: absolute; left: 768px; top: 0px;"}
                  %div{:style => "width: 256px; height: 256px; overflow: hidden; position: absolute; left: 768px; top: 256px;"}
                  %div{:style => "width: 256px; height: 256px; overflow: hidden; position: absolute; left: 768px; top: 512px;"}
                  %div{:style => "width: 256px; height: 256px; overflow: hidden; position: absolute; left: -512px; top: 512px;"}
                  %div{:style => "width: 256px; height: 256px; overflow: hidden; position: absolute; left: -512px; top: 256px;"}
                  %div{:style => "width: 256px; height: 256px; overflow: hidden; position: absolute; left: -512px; top: 0px;"}
                  %div{:style => "width: 256px; height: 256px; overflow: hidden; position: absolute; left: -512px; top: -256px;"}
            %div{:style => "position: absolute; left: 0px; top: 0px; z-index: 0;"}
              %div{:style => "position: absolute; z-index: 989; transform: matrix(1, 0, 0, 1, -255, -181);"}
                %div{:style => "position: absolute; left: 512px; top: 512px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"}
                  %img{:alt => "", :draggable => "false", :role => "presentation", :src => "https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i11!2i604!3i771!4i256!2m3!1e0!2sm!3i502219356!2m3!1e2!6m1!3e5!3m17!2sen-GB!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&key=AIzaSyCTRSHf8sjMCfK9PHPJxjJkwrCIo5asIzE&token=7326", :style => "width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                %div{:style => "position: absolute; left: 768px; top: 512px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"}
                  %img{:alt => "", :draggable => "false", :role => "presentation", :src => "https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i11!2i605!3i771!4i256!2m3!1e0!2sm!3i502219356!2m3!1e2!6m1!3e5!3m17!2sen-GB!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&key=AIzaSyCTRSHf8sjMCfK9PHPJxjJkwrCIo5asIzE&token=92684", :style => "width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                %div{:style => "position: absolute; left: 256px; top: 512px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"}
                  %img{:alt => "", :draggable => "false", :role => "presentation", :src => "https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i11!2i603!3i771!4i256!2m3!1e0!2sm!3i502219356!2m3!1e2!6m1!3e5!3m17!2sen-GB!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&key=AIzaSyCTRSHf8sjMCfK9PHPJxjJkwrCIo5asIzE&token=53039", :style => "width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                %div{:style => "position: absolute; left: 512px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"}
                  %img{:alt => "", :draggable => "false", :role => "presentation", :src => "https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i11!2i604!3i769!4i256!2m3!1e0!2sm!3i502219380!2m3!1e2!6m1!3e5!3m17!2sen-GB!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&key=AIzaSyCTRSHf8sjMCfK9PHPJxjJkwrCIo5asIzE&token=84855", :style => "width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                %div{:style => "position: absolute; left: 768px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"}
                  %img{:alt => "", :draggable => "false", :role => "presentation", :src => "https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i11!2i605!3i768!4i256!2m3!1e0!2sm!3i502219380!2m3!1e2!6m1!3e5!3m17!2sen-GB!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&key=AIzaSyCTRSHf8sjMCfK9PHPJxjJkwrCIo5asIzE&token=69370", :style => "width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                %div{:style => "position: absolute; left: 256px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"}
                  %img{:alt => "", :draggable => "false", :role => "presentation", :src => "https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i11!2i603!3i769!4i256!2m3!1e0!2sm!3i502219356!2m3!1e2!6m1!3e5!3m17!2sen-GB!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&key=AIzaSyCTRSHf8sjMCfK9PHPJxjJkwrCIo5asIzE&token=40240", :style => "width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                %div{:style => "position: absolute; left: 512px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"}
                  %img{:alt => "", :draggable => "false", :role => "presentation", :src => "https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i11!2i604!3i768!4i256!2m3!1e0!2sm!3i502219380!2m3!1e2!6m1!3e5!3m17!2sen-GB!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&key=AIzaSyCTRSHf8sjMCfK9PHPJxjJkwrCIo5asIzE&token=115083", :style => "width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                %div{:style => "position: absolute; left: -256px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"}
                  %img{:alt => "", :draggable => "false", :role => "presentation", :src => "https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i11!2i601!3i770!4i256!2m3!1e0!2sm!3i502219368!2m3!1e2!6m1!3e5!3m17!2sen-GB!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&key=AIzaSyCTRSHf8sjMCfK9PHPJxjJkwrCIo5asIzE&token=114405", :style => "width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                %div{:style => "position: absolute; left: -256px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"}
                  %img{:alt => "", :draggable => "false", :role => "presentation", :src => "https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i11!2i601!3i768!4i256!2m3!1e0!2sm!3i502219332!2m3!1e2!6m1!3e5!3m17!2sen-GB!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&key=AIzaSyCTRSHf8sjMCfK9PHPJxjJkwrCIo5asIzE&token=20328", :style => "width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                %div{:style => "position: absolute; left: 768px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"}
                  %img{:alt => "", :draggable => "false", :role => "presentation", :src => "https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i11!2i605!3i769!4i256!2m3!1e0!2sm!3i502219380!2m3!1e2!6m1!3e5!3m17!2sen-GB!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&key=AIzaSyCTRSHf8sjMCfK9PHPJxjJkwrCIo5asIzE&token=39142", :style => "width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                %div{:style => "position: absolute; left: -512px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"}
                  %img{:alt => "", :draggable => "false", :role => "presentation", :src => "https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i11!2i600!3i768!4i256!2m3!1e0!2sm!3i502219332!2m3!1e2!6m1!3e5!3m17!2sen-GB!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&key=AIzaSyCTRSHf8sjMCfK9PHPJxjJkwrCIo5asIzE&token=66041", :style => "width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                %div{:style => "position: absolute; left: 256px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"}
                  %img{:alt => "", :draggable => "false", :role => "presentation", :src => "https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i11!2i603!3i770!4i256!2m3!1e0!2sm!3i502219356!2m3!1e2!6m1!3e5!3m17!2sen-GB!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&key=AIzaSyCTRSHf8sjMCfK9PHPJxjJkwrCIo5asIzE&token=83267", :style => "width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                %div{:style => "position: absolute; left: 512px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"}
                  %img{:alt => "", :draggable => "false", :role => "presentation", :src => "https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i11!2i604!3i770!4i256!2m3!1e0!2sm!3i502219380!2m3!1e2!6m1!3e5!3m17!2sen-GB!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&key=AIzaSyCTRSHf8sjMCfK9PHPJxjJkwrCIo5asIzE&token=127882", :style => "width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                %div{:style => "position: absolute; left: 0px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"}
                  %img{:alt => "", :draggable => "false", :role => "presentation", :src => "https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i11!2i602!3i770!4i256!2m3!1e0!2sm!3i502219356!2m3!1e2!6m1!3e5!3m17!2sen-GB!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&key=AIzaSyCTRSHf8sjMCfK9PHPJxjJkwrCIo5asIzE&token=128980", :style => "width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                %div{:style => "position: absolute; left: 768px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"}
                  %img{:alt => "", :draggable => "false", :role => "presentation", :src => "https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i11!2i605!3i770!4i256!2m3!1e0!2sm!3i502219380!2m3!1e2!6m1!3e5!3m17!2sen-GB!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&key=AIzaSyCTRSHf8sjMCfK9PHPJxjJkwrCIo5asIzE&token=82169", :style => "width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                %div{:style => "position: absolute; left: 256px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"}
                  %img{:alt => "", :draggable => "false", :role => "presentation", :src => "https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i11!2i603!3i768!4i256!2m3!1e0!2sm!3i502219356!2m3!1e2!6m1!3e5!3m17!2sen-GB!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&key=AIzaSyCTRSHf8sjMCfK9PHPJxjJkwrCIo5asIzE&token=70468", :style => "width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                %div{:style => "position: absolute; left: -256px; top: 512px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"}
                  %img{:alt => "", :draggable => "false", :role => "presentation", :src => "https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i11!2i601!3i771!4i256!2m3!1e0!2sm!3i502219368!2m3!1e2!6m1!3e5!3m17!2sen-GB!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&key=AIzaSyCTRSHf8sjMCfK9PHPJxjJkwrCIo5asIzE&token=84177", :style => "width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                %div{:style => "position: absolute; left: -512px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"}
                  %img{:alt => "", :draggable => "false", :role => "presentation", :src => "https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i11!2i600!3i770!4i256!2m3!1e0!2sm!3i502219368!2m3!1e2!6m1!3e5!3m17!2sen-GB!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&key=AIzaSyCTRSHf8sjMCfK9PHPJxjJkwrCIo5asIzE&token=29047", :style => "width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                %div{:style => "position: absolute; left: -256px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"}
                  %img{:alt => "", :draggable => "false", :role => "presentation", :src => "https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i11!2i601!3i769!4i256!2m3!1e0!2sm!3i502219332!2m3!1e2!6m1!3e5!3m17!2sen-GB!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&key=AIzaSyCTRSHf8sjMCfK9PHPJxjJkwrCIo5asIzE&token=121171", :style => "width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                %div{:style => "position: absolute; left: 0px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"}
                  %img{:alt => "", :draggable => "false", :role => "presentation", :src => "https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i11!2i602!3i768!4i256!2m3!1e0!2sm!3i502219356!2m3!1e2!6m1!3e5!3m17!2sen-GB!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&key=AIzaSyCTRSHf8sjMCfK9PHPJxjJkwrCIo5asIzE&token=116181", :style => "width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                %div{:style => "position: absolute; left: -512px; top: 512px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"}
                  %img{:alt => "", :draggable => "false", :role => "presentation", :src => "https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i11!2i600!3i771!4i256!2m3!1e0!2sm!3i502219368!2m3!1e2!6m1!3e5!3m17!2sen-GB!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&key=AIzaSyCTRSHf8sjMCfK9PHPJxjJkwrCIo5asIzE&token=129890", :style => "width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                %div{:style => "position: absolute; left: 0px; top: 512px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"}
                  %img{:alt => "", :draggable => "false", :role => "presentation", :src => "https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i11!2i602!3i771!4i256!2m3!1e0!2sm!3i502219356!2m3!1e2!6m1!3e5!3m17!2sen-GB!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&key=AIzaSyCTRSHf8sjMCfK9PHPJxjJkwrCIo5asIzE&token=98752", :style => "width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                %div{:style => "position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"}
                  %img{:alt => "", :draggable => "false", :role => "presentation", :src => "https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i11!2i602!3i769!4i256!2m3!1e0!2sm!3i502219356!2m3!1e2!6m1!3e5!3m17!2sen-GB!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&key=AIzaSyCTRSHf8sjMCfK9PHPJxjJkwrCIo5asIzE&token=85953", :style => "width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                %div{:style => "position: absolute; left: -512px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"}
                  %img{:alt => "", :draggable => "false", :role => "presentation", :src => "https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i11!2i600!3i769!4i256!2m3!1e0!2sm!3i502219332!2m3!1e2!6m1!3e5!3m17!2sen-GB!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&key=AIzaSyCTRSHf8sjMCfK9PHPJxjJkwrCIo5asIzE&token=35813", :style => "width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
          .gm-style-pbc{:style => "z-index: 2; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; opacity: 0;"}
            %p.gm-style-pbt
          %div{:style => "z-index: 3; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; touch-action: pan-x pan-y;"}
            %div{:style => "z-index: 4; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px, 0px);"}
              %div{:style => "position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"}
              %div{:style => "position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"}
              %div{:style => "position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"}
                %div{:style => "width: 24px; height: 24px; overflow: hidden; position: absolute; opacity: 0; cursor: pointer; touch-action: none; left: -12px; top: -24px; z-index: 0;", :title => ""}
                  %img{:alt => "", :draggable => "false", :src => "https://maps.gstatic.com/mapfiles/transparent.png", :style => "position: absolute; left: 0px; top: 0px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
              %div{:style => "position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"}
        %iframe{"aria-hidden" => "true", :frameborder => "0", :style => "z-index: -1; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none;", :tabindex => "-1"}
        %div{:style => "margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;"}
          %a{:href => "https://maps.google.com/maps?ll=40.752979,-74.004442&z=11&t=m&hl=en-GB&gl=US&mapclient=apiv3", :rel => "noopener", :style => "position: static; overflow: visible; float: none; display: inline;", :target => "_blank", :title => "Open this area in Google Maps (opens a new window)"}
            %div{:style => "width: 66px; height: 26px; cursor: pointer;"}
              %img{:alt => "", :draggable => "false", :src => "https://maps.gstatic.com/mapfiles/api-3/images/google_white5.png", :style => "position: absolute; left: 0px; top: 0px; width: 66px; height: 26px; user-select: none; border: 0px; padding: 0px; margin: 0px;"}/
        %div{:style => "background-color: white; padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); box-sizing: border-box; box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 300px; height: 180px; position: absolute; left: 616px; top: 285px;"}
          %div{:style => "padding: 0px 0px 10px; font-size: 16px; box-sizing: border-box;"} Map Data
          %div{:style => "font-size: 13px;"} Map data ©2020 Google
          %button.gm-ui-hover-effect{"aria-label" => "Close", :draggable => "false", :style => "background: none; display: block; border: 0px; margin: 0px; padding: 0px; position: absolute; cursor: pointer; user-select: none; top: 0px; right: 0px; width: 37px; height: 37px;", :title => "Close", :type => "button"}
            %img{:src => "data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22%23000000%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M19%206.41L17.59%205%2012%2010.59%206.41%205%205%206.41%2010.59%2012%205%2017.59%206.41%2019%2012%2013.41%2017.59%2019%2019%2017.59%2013.41%2012z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%0A%3C%2Fsvg%3E%0A", :style => "pointer-events: none; display: block; width: 13px; height: 13px; margin: 12px;"}/
        .gmnoprint{:style => "z-index: 1000001; position: absolute; right: 167px; bottom: 0px; width: 121px;"}
          .gm-style-cc{:draggable => "false", :style => "user-select: none; height: 14px; line-height: 14px;"}
            %div{:style => "opacity: 0.7; width: 100%; height: 100%; position: absolute;"}
              %div{:style => "width: 1px;"}
              %div{:style => "background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"}
            %div{:style => "position: relative; padding-right: 6px; padding-left: 6px; box-sizing: border-box; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"}
              %a{:style => "text-decoration: none; cursor: pointer; display: none;"} Map Data
              %span Map data ©2020 Google
        .gmnoscreen{:style => "position: absolute; right: 0px; bottom: 0px;"}
          %div{:style => "font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);"} Map data ©2020 Google
        .gmnoprint.gm-style-cc{:draggable => "false", :style => "z-index: 1000001; user-select: none; height: 14px; line-height: 14px; position: absolute; right: 95px; bottom: 0px;"}
          %div{:style => "opacity: 0.7; width: 100%; height: 100%; position: absolute;"}
            %div{:style => "width: 1px;"}
            %div{:style => "background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"}
          %div{:style => "position: relative; padding-right: 6px; padding-left: 6px; box-sizing: border-box; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"}
            %a{:href => "https://www.google.com/intl/en-GB_US/help/terms_maps.html", :rel => "noopener", :style => "text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);", :target => "_blank"} Terms of Use
        %button.gm-control-active.gm-fullscreen-control{"aria-label" => "Toggle fullscreen view", :draggable => "false", :style => "background: none rgb(255, 255, 255); border: 0px; margin: 10px; padding: 0px; position: absolute; cursor: pointer; user-select: none; border-radius: 2px; height: 40px; width: 40px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; overflow: hidden; top: 0px; right: 0px;", :title => "Toggle fullscreen view", :type => "button"}
          %img{:src => "data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%20018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23666%22%20d%3D%22M0%2C0v2v4h2V2h4V0H2H0z%20M16%2C0h-4v2h4v4h2V2V0H16z%20M16%2C16h-4v2h4h2v-2v-4h-2V16z%20M2%2C12H0v4v2h2h4v-2H2V12z%22%2F%3E%0A%3C%2Fsvg%3E%0A", :style => "height: 18px; width: 18px;"}/
          %img{:src => "data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23333%22%20d%3D%22M0%2C0v2v4h2V2h4V0H2H0z%20M16%2C0h-4v2h4v4h2V2V0H16z%20M16%2C16h-4v2h4h2v-2v-4h-2V16z%20M2%2C12H0v4v2h2h4v-2H2V12z%22%2F%3E%0A%3C%2Fsvg%3E%0A", :style => "height: 18px; width: 18px;"}/
          %img{:src => "data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23111%22%20d%3D%22M0%2C0v2v4h2V2h4V0H2H0z%20M16%2C0h-4v2h4v4h2V2V0H16z%20M16%2C16h-4v2h4h2v-2v-4h-2V16z%20M2%2C12H0v4v2h2h4v-2H2V12z%22%2F%3E%0A%3C%2Fsvg%3E%0A", :style => "height: 18px; width: 18px;"}/
        .gm-style-cc{:draggable => "false", :style => "user-select: none; height: 14px; line-height: 14px; position: absolute; right: 0px; bottom: 0px;"}
          %div{:style => "opacity: 0.7; width: 100%; height: 100%; position: absolute;"}
            %div{:style => "width: 1px;"}
            %div{:style => "background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"}
          %div{:style => "position: relative; padding-right: 6px; padding-left: 6px; box-sizing: border-box; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"}
            %a{:href => "https://www.google.com/maps/@40.7529789,-74.0044417,11z/data=!10m1!1e1!12b1?source=apiv3&rapsrc=apiv3", :rel => "noopener", :style => "font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;", :target => "_blank", :title => "Report errors in the road map or imagery to Google"} Report a map error
        .gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom{:controlheight => "81", :controlwidth => "40", :draggable => "false", :style => "margin: 10px; user-select: none; position: absolute; bottom: 95px; right: 40px;"}
          .gmnoprint{:controlheight => "81", :controlwidth => "40", :style => "position: absolute; left: 0px; top: 0px;"}
            %div{:draggable => "false", :style => "user-select: none; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px; cursor: pointer; background-color: rgb(255, 255, 255); width: 40px; height: 81px;"}
              %button.gm-control-active{"aria-label" => "Zoom in", :draggable => "false", :style => "background: none; display: block; border: 0px; margin: 0px; padding: 0px; position: relative; cursor: pointer; user-select: none; overflow: hidden; width: 40px; height: 40px; top: 0px; left: 0px;", :title => "Zoom in", :type => "button"}
                %img{:src => "data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2218%2C7%2011%2C7%2011%2C0%207%2C0%207%2C7%200%2C7%200%2C11%207%2C11%207%2C18%2011%2C18%2011%2C11%2018%2C11%22%2F%3E%0A%3C%2Fsvg%3E%0A", :style => "height: 18px; width: 18px;"}/
                %img{:src => "data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpolygon%20fill%3D%22%23333%22%20points%3D%2218%2C7%2011%2C7%2011%2C0%207%2C0%207%2C7%200%2C7%200%2C11%207%2C11%207%2C18%2011%2C18%2011%2C11%2018%2C11%22%2F%3E%0A%3C%2Fsvg%3E%0A", :style => "height: 18px; width: 18px;"}/
                %img{:src => "data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpolygon%20fill%3D%22%23111%22%20points%3D%2218%2C7%2011%2C7%2011%2C0%207%2C0%207%2C7%200%2C7%200%2C11%207%2C11%207%2C18%2011%2C18%2011%2C11%2018%2C11%22%2F%3E%0A%3C%2Fsvg%3E%0A", :style => "height: 18px; width: 18px;"}/
              %div{:style => "position: relative; overflow: hidden; width: 30px; height: 1px; margin: 0px 5px; background-color: rgb(230, 230, 230); top: 0px;"}
              %button.gm-control-active{"aria-label" => "Zoom out", :draggable => "false", :style => "background: none; display: block; border: 0px; margin: 0px; padding: 0px; position: relative; cursor: pointer; user-select: none; overflow: hidden; width: 40px; height: 40px; top: 0px; left: 0px;", :title => "Zoom out", :type => "button"}
                %img{:src => "data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23666%22%20d%3D%22M0%2C7h18v4H0V7z%22%2F%3E%0A%3C%2Fsvg%3E%0A", :style => "height: 18px; width: 18px;"}/
                %img{:src => "data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23333%22%20d%3D%22M0%2C7h18v4H0V7z%22%2F%3E%0A%3C%2Fsvg%3E%0A", :style => "height: 18px; width: 18px;"}/
                %img{:src => "data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23111%22%20d%3D%22M0%2C7h18v4H0V7z%22%2F%3E%0A%3C%2Fsvg%3E%0A", :style => "height: 18px; width: 18px;"}/
          .gmnoprint{:controlheight => "40", :controlwidth => "40", :style => "display: none; position: absolute;"}
            %div{:style => "width: 40px; height: 40px;"}
              %button.gm-control-active{"aria-label" => "Rotate map 90 degrees", :draggable => "false", :style => "background: none rgb(255, 255, 255); display: none; border: 0px; margin: 0px 0px 32px; padding: 0px; position: relative; cursor: pointer; user-select: none; width: 40px; height: 40px; top: 0px; left: 0px; overflow: hidden; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px;", :title => "Rotate map 90 degrees", :type => "button"}
                %img{:src => "data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2222%22%20viewBox%3D%220%200%2024%2022%22%3E%0A%20%20%3Cpath%20fill%3D%22%23666%22%20fill-rule%3D%22evenodd%22%20d%3D%22M20%2010c0-5.52-4.48-10-10-10s-10%204.48-10%2010v5h5v-5c0-2.76%202.24-5%205-5s5%202.24%205%205v5h-4l6.5%207%206.5-7h-4v-5z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A", :style => "height: 18px; width: 18px;"}/
                %img{:src => "data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2222%22%20viewBox%3D%220%200%2024%2022%22%3E%0A%20%20%3Cpath%20fill%3D%22%23333%22%20fill-rule%3D%22evenodd%22%20d%3D%22M20%2010c0-5.52-4.48-10-10-10s-10%204.48-10%2010v5h5v-5c0-2.76%202.24-5%205-5s5%202.24%205%205v5h-4l6.5%207%206.5-7h-4v-5z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A", :style => "height: 18px; width: 18px;"}/
                %img{:src => "data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2222%22%20viewBox%3D%220%200%2024%2022%22%3E%0A%20%20%3Cpath%20fill%3D%22%23111%22%20fill-rule%3D%22evenodd%22%20d%3D%22M20%2010c0-5.52-4.48-10-10-10s-10%204.48-10%2010v5h5v-5c0-2.76%202.24-5%205-5s5%202.24%205%205v5h-4l6.5%207%206.5-7h-4v-5z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A", :style => "height: 18px; width: 18px;"}/
              %button.gm-tilt.gm-control-active{"aria-label" => "Tilt map", :draggable => "false", :style => "background: none rgb(255, 255, 255); display: block; border: 0px; margin: 0px; padding: 0px; position: relative; cursor: pointer; user-select: none; width: 40px; height: 40px; top: 0px; left: 0px; overflow: hidden; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px;", :title => "Tilt map", :type => "button"}
                %img{:src => "data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2018%2016%22%3E%0A%20%20%3Cpath%20fill%3D%22%23666%22%20d%3D%22M0%2C16h8V9H0V16z%20M10%2C16h8V9h-8V16z%20M0%2C7h8V0H0V7z%20M10%2C0v7h8V0H10z%22%2F%3E%0A%3C%2Fsvg%3E%0A", :style => "width: 18px;"}/
                %img{:src => "data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2018%2016%22%3E%0A%20%20%3Cpath%20fill%3D%22%23333%22%20d%3D%22M0%2C16h8V9H0V16z%20M10%2C16h8V9h-8V16z%20M0%2C7h8V0H0V7z%20M10%2C0v7h8V0H10z%22%2F%3E%0A%3C%2Fsvg%3E%0A", :style => "width: 18px;"}/
                %img{:src => "data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2018%2016%22%3E%0A%20%20%3Cpath%20fill%3D%22%23111%22%20d%3D%22M0%2C16h8V9H0V16z%20M10%2C16h8V9h-8V16z%20M0%2C7h8V0H0V7z%20M10%2C0v7h8V0H10z%22%2F%3E%0A%3C%2Fsvg%3E%0A", :style => "width: 18px;"}/
    %div{:style => "background-color: white; font-weight: 500; font-family: Roboto, sans-serif; padding: 15px 25px; box-sizing: border-box; top: 5px; border: 1px solid rgba(0, 0, 0, 0.12); border-radius: 5px; left: 50%; max-width: 375px; position: absolute; transform: translateX(-50%); width: calc(100% - 10px); z-index: 1;"}
      %div
        %img{:alt => "", :draggable => "false", :src => "https://maps.gstatic.com/mapfiles/api-3/images/google_gray.svg", :style => "padding: 0px; margin: 0px; border: 0px; height: 17px; vertical-align: middle; width: 52px; user-select: none;"}/
      %div{:style => "line-height: 20px; margin: 15px 0px;"}
        %span{:style => "color: rgba(0, 0, 0, 0.87); font-size: 14px;"} This page can't load Google Maps correctly.
      %table{:style => "width: 100%;"}
        %tr
          %td{:style => "line-height: 16px; vertical-align: middle;"}
            %a{:href => "https://developers.google.com/maps/documentation/javascript/error-messages?utm_source=maps_js&utm_medium=degraded&utm_campaign=billing#api-key-and-billing-errors", :rel => "noopener", :style => "color: rgba(0, 0, 0, 0.54); font-size: 12px;", :target => "_blank"} Do you own this website?
          %td{:style => "text-align: right;"}
            %button.dismissButton OK
  %section#partners
    .container
      .row
        .col-md-3.col-sm-12
          %h4.black.margin-0 Our partners
          %h2.white.margin-0 and clients
        .col-md-9.col-sm-12
          .row.items
            .col-md-5ths.col-sm-3.col-ms-4.col-xs-6
              %a{:href => "#"}
                %img{:src => "#{image_path '_partner-1.png'}"}/
            .col-md-5ths.col-sm-3.col-ms-4.col-xs-6
              %a{:href => "#"}
                %img{:src => "#{image_path '_partner-2.png'}"}/
            .col-md-5ths.col-sm-3.col-ms-4.col-xs-6
              %a{:href => "#"}
                %img{:src => "#{image_path '_partner-3.png'}"}/
            .col-md-5ths.col-sm-3.col-ms-4.col-xs-6
              %a{:href => "#"}
                %img{:src => "#{image_path '_partner-4.png'}"}/
            .col-md-5ths.col-sm-3.col-ms-4.col-xs-6
              %a{:href => "#"}
                %img{:src => "#{image_path '_partner-5.png'}"}/
