%body
  %footer.bg1
    .container.p-t-40.p-b-70
      .row
        .col-sm-6.col-md-4.p-t-50
          %h4.txt13.m-b-33
            Contact Us
          %ul.m-b-70
            %li.txt14.m-b-14
              %i.fa.fa-map-marker.fs-16.dis-inline-block.size19{"aria-hidden" => "true"}
              202-204 Panvel Point, Nr. Sudama Chowk, Mota Varachha, Surat, Gujarat, India
            %li.txt14.m-b-14
              %i.fa.fa-phone.fs-16.dis-inline-block.size19{"aria-hidden" => "true"}
              (+91) 70166 76005
            %li.txt14.m-b-14
              %i.fa.fa-envelope.fs-13.dis-inline-block.size19{"aria-hidden" => "true"}
              contact@softices.com
          %h4.txt13.m-b-32
            Opening Times
          %ul
            %li.txt14
              09:30 AM – 11:00 PM
            %li.txt14
              Every Day
        .col-sm-6.col-md-4.p-t-50
          %h4.txt13.m-b-33
            Site Map
          %ul
            %li.txt14.m-b-14 Home
            %li.txt14.m-b-14 Menu
            %li.txt14.m-b-14 Reservation
            %li.txt14.m-b-14 Gallery
            %li.txt14.m-b-14 About
            %li.txt14.m-b-14 Blog
            %li.txt14.m-b-14 Contact
        .col-sm-6.col-md-4.p-t-50
          %h4.txt13.m-b-38
            Gallery
          .wrap-gallery-footer.flex-w
            %a.item-gallery-footer.wrap-pic-w{:href => "gallery.html"}
              %img{:src => "#{image_path 'photo-gallery-thumb-01.jpg'}"}/
            %a.item-gallery-footer.wrap-pic-w{:href => "gallery.html"}
              %img{:src => "#{image_path 'photo-gallery-thumb-02.jpg'}"}/
            %a.item-gallery-footer.wrap-pic-w{:href => "gallery.html"}
              %img{:src => "#{image_path 'photo-gallery-thumb-03.jpg'}"}/
            %a.item-gallery-footer.wrap-pic-w{:href => "gallery.html"}
              %img{:src => "#{image_path 'photo-gallery-thumb-04.jpg'}"}/
            %a.item-gallery-footer.wrap-pic-w{:href => "gallery.html"}
              %img{:src => "#{image_path 'photo-gallery-thumb-05.jpg'}"}/
            %a.item-gallery-footer.wrap-pic-w{:href => "gallery.html"}
              %img{:src => "#{image_path 'photo-gallery-thumb-06.jpg'}"}/
            %a.item-gallery-footer.wrap-pic-w{:href => "gallery.html"}
              %img{:src => "#{image_path 'photo-gallery-thumb-07.jpg'}"}/
            %a.item-gallery-footer.wrap-pic-w{:href => "gallery.html"}
              %img{:src => "#{image_path 'photo-gallery-thumb-08.jpg'}"}/
    .end-footer.bg2
      .container
        .flex-sb-m.flex-w.p-t-22.p-b-22
          .p-t-5.p-b-5
            %a{:href => "#"}
              %i.fa.fa-tripadvisor{"aria-hidden" => "true"}
            %a{:href => "https://www.facebook.com/softices/?ref=aymt_homepage_panel&eid=ARAm18ULAHBNqv2_Az_4sos7SWP3mjVSiSx1_B0Wign4XH4MZ2g-GjOu2oJVWaqajG1kXXOJk0XG7OIa"}
              %i.fa.fa-facebook.m-l-21{"aria-hidden" => "true"}
            %a{:href => "https://twitter.com/Softices"}
              %i.fa.fa-twitter.m-l-21{"aria-hidden" => "true"}
          .txt17.p-r-20.p-t-5.p-b-5
            Copyright © 2020 All rights reserved
