%section.ftco-section.bg-light
  .container
    .row
      .col-md-4.listing_wrapper.blog2v
        .property_listing
          .blog_unit_image
            %img.lazyload.img-responsive.wp-post-image{:alt => "", :height => "350", :src => "#{image_path 'blog.jpg'}", :width => "525"}/
          .blog2v_content
            %h4
              %a{:href => "blog-single.html"}
                Why Live in San Francisco
            .listing_details.the_grid_view
              A popular tourist destination,  San Francisco is known for its cool summers, fog, steep rolling
              %a.unit_more_x{:href => "#"} [more]
            .blog_unit_meta
              .blog_unit2_author by remus
              .blog_unit2_date Mar 04, 2016
      .col-md-4.listing_wrapper.blog2v
        .property_listing
          .blog_unit_image
            %img.lazyload.img-responsive.wp-post-image{:alt => "", :height => "350", :src => "#{image_path 'blog.jpg'}", :width => "525"}/
          .blog2v_content
            %h4
              %a{:href => "blog-single.html"}
                Why Live in San Francisco
            .listing_details.the_grid_view
              A popular tourist destination,  San Francisco is known for its cool summers, fog, steep rolling
              %a.unit_more_x{:href => "#"} [more]
            .blog_unit_meta
              .blog_unit2_author by remus
              .blog_unit2_date Mar 04, 2016
      .col-md-4.listing_wrapper.blog2v
        .property_listing
          .blog_unit_image
            %img.lazyload.img-responsive.wp-post-image{:alt => "", :height => "350", :src => "#{image_path 'blog.jpg'}", :width => "525"}/
          .blog2v_content
            %h4
              %a{:href => "blog-single.html"}
                Why Live in San Francisco
            .listing_details.the_grid_view
              A popular tourist destination,  San Francisco is known for its cool summers, fog, steep rolling
              %a.unit_more_x{:href => "#"} [more]
            .blog_unit_meta
              .blog_unit2_author by remus
              .blog_unit2_date Mar 04, 2016
      .col-md-4.listing_wrapper.blog2v
        .property_listing
          .blog_unit_image
            %img.lazyload.img-responsive.wp-post-image{:alt => "", :height => "350", :src => "#{image_path 'blog.jpg'}", :width => "525"}/
          .blog2v_content
            %h4
              %a{:href => "blog-single.html"}
                Why Live in San Francisco
            .listing_details.the_grid_view
              A popular tourist destination,  San Francisco is known for its cool summers, fog, steep rolling
              %a.unit_more_x{:href => "#"} [more]
            .blog_unit_meta
              .blog_unit2_author by remus
              .blog_unit2_date Mar 04, 2016
      .col-md-4.listing_wrapper.blog2v
        .property_listing
          .blog_unit_image
            %img.lazyload.img-responsive.wp-post-image{:alt => "", :height => "350", :src => "#{image_path 'blog.jpg'}", :width => "525"}/
          .blog2v_content
            %h4
              %a{:href => "blog-single.html"}
                Why Live in San Francisco
            .listing_details.the_grid_view
              A popular tourist destination,  San Francisco is known for its cool summers, fog, steep rolling
              %a.unit_more_x{:href => "#"} [more]
            .blog_unit_meta
              .blog_unit2_author by remus
              .blog_unit2_date Mar 04, 2016
      .col-md-4.listing_wrapper.blog2v
        .property_listing
          .blog_unit_image
            %img.lazyload.img-responsive.wp-post-image{:alt => "", :height => "350", :src => "#{image_path 'blog.jpg'}", :width => "525"}/
          .blog2v_content
            %h4
              %a{:href => "blog-single.html"}
                Why Live in San Francisco
            .listing_details.the_grid_view
              A popular tourist destination,  San Francisco is known for its cool summers, fog, steep rolling
              %a.unit_more_x{:href => "#"} [more]
            .blog_unit_meta
              .blog_unit2_author by remus
              .blog_unit2_date Mar 04, 2016
    .row.mt-5
      .col.text-center
        .block-27
          %ul
            %li
              %a{:href => "#"} &lt;
            %li.active
              %span 1
            %li
              %a{:href => "#"} 2
            %li
              %a{:href => "#"} 3
            %li
              %a{:href => "#"} 4
            %li
              %a{:href => "#"} 5
            %li
              %a{:href => "#"} &gt;
%section.ftco-section-parallax
  .parallax-img.d-flex.align-items-center
    .container
      .row.d-flex.justify-content-center
        .col-md-7.text-center.heading-section.heading-section-white.ftco-animate
          %h2 Subcribe to our Newsletter
          %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in
          .row.d-flex.justify-content-center.mt-5
            .col-md-8
              %form.subscribe-form{:action => "#"}
                .form-group.d-flex
                  %input.form-control{:placeholder => "Enter email address", :type => "text"}/
                  %input.submit.px-3{:type => "submit", :value => "Subscribe"}/
