<!-- Page Content Start -->
<div class="page-content">
     <!-- Latest Tailer Area Strat -->
<section class="tailer-area pt-90 pb-100 indicator-style">
<div class="container">

<div class="row">
 <!-- Section Titel -->
 <div class="col-md-12">
   <div class="section-titel">
     <h2>LATEST TRAILER</h2>
     <p>It is a long established fact that a reader will be distracted readable </p>
   </div>
 </div>
 <!-- Section Titel -->
</div>
<!-- Trailer Single Item Area Start -->
<div class="main-section">
 <div class="tailer-active owl-carousel owl-theme">
   <!-- Single Item -->
   <div class="trailer-single">
     <div class="trailer-img">
       <%= image_tag("home-one/trailer/1.png") %>
       <a class="popup-youtube" href="https://www.youtube.com/watch?v=jZLsrqZ6ydU">
         <i class="icofont icofont-play-alt-2"></i>
       </a>
     </div>
     <div class="trailer-titel">
       <h5><a href="#">ENTER THE SEA</a> <span>3.45</span> </h5>
     </div>
   </div>
   <!-- Single Item -->
   <!-- Single Item -->
   <div class="trailer-single">
     <div class="trailer-img">
       <%= image_tag("home-one/trailer/2.png") %>
       <a class="popup-youtube" href="https://www.youtube.com/watch?v=jZLsrqZ6ydU">
         <i class="icofont icofont-play-alt-2"></i>
       </a>
     </div>
     <div class="trailer-titel">
       <h5><a href="#">JOURNEY BY AIR BOAT</a> <span>3.45</span> </h5>
     </div>
   </div>
   <!-- Single Item -->
   <!-- Single Item -->
   <div class="trailer-single">
     <div class="trailer-img">
       <%= image_tag("home-one/trailer/3.png") %>
       <a class="popup-youtube" href="https://www.youtube.com/watch?v=jZLsrqZ6ydU">
         <i class="icofont icofont-play-alt-2"></i>
       </a>
     </div>
     <div class="trailer-titel">
       <h5><a href="#">THE MINDS OF KIDS</a> <span>3.45</span> </h5>
     </div>
   </div>
   <!-- Single Item -->
   <!-- Single Item -->
   <div class="trailer-single">
     <div class="trailer-img">
       <%= image_tag("home-one/trailer/4.png") %>
       <a class="popup-youtube" href="https://www.youtube.com/watch?v=jZLsrqZ6ydU">
         <i class="icofont icofont-play-alt-2"></i>
       </a>
     </div>
     <div class="trailer-titel">
       <h5><a href="#">FLY TO DIE</a> <span>3.45</span> </h5>
     </div>
   </div>
   <!-- Single Item -->
 </div>
</div>
<!-- Trailer Single Item Area End -->
</div>
</section>
<!-- Latest Tailer Area End -->

<!-- Project Area Start -->
<section class="project-area pt-90 pb-95 bg-2"  style="background-image: url('<%= image_path 'home-one/bg/2.png' %>')"> 
  <div class="container">
    <div class="row">
     <!-- Project Single -->
     <div class="col-lg-3 col-md-6 col-sm-12">
       <div class="project-single text-center">
         <div class="project-count text-uppercase">
           <div class="con">
             <i class="fa fa-trophy" aria-hidden="true"></i>
           </div>
           <div class="count-description">
             <span class="counter">112</span>
             <h5 class="con1">AWEARDS</h5>
           </div>
         </div>
       </div>
     </div>
     <!-- Project Single -->
     <!-- Project Single -->
     <div class="col-lg-3 col-md-6 col-sm-12">
       <div class="project-single text-center">
         <div class="project-count text-uppercase">
           <div class="con">
             <i class="fa fa-user-o"></i>
           </div>
           <div class="count-description">
             <span class="counter">2540</span>
             <h5 class="con1">Sucess Movie</h5>
           </div>
         </div>
       </div>
     </div>
     <!-- Project Single -->
     <!-- Project Single -->
     <div class="col-lg-3 col-md-6 col-sm-12">
       <div class="project-single text-center">
         <div class="project-count text-uppercase">
           <div class="con">
             <i class="fa fa-film" aria-hidden="true"></i>
           </div>
           <div class="count-description">
             <span class="counter">450</span>
             <h5 class="con1">Complite Work</h5>
           </div>
         </div>
       </div>
     </div>
     <!-- Project Single -->
     <!-- Project Single -->
     <div class="col-lg-3 col-md-6 col-sm-12">
       <div class="project-single text-center">
         <div class="project-count text-uppercase">
           <div class="project-count text-uppercase">
             <div class="con">
               <i class="fa fa-reddit-alien" aria-hidden="true"></i>
             </div>
             <div class="count-description">
               <span class="counter">180</span>
               <h5 class="con1">Happy Client</h5>
             </div>
           </div>
         </div>
       </div>
     </div>
     <!-- Project Single -->
    </div>
</div>
</section>
<!-- Project Area End -->

<!-- All Service Area Start -->
<section class="service-area pt-90 pb-100 bg-13 bg-overlay-1 indicator-style">
<div class="container">
<div class="row">
 <!-- Section Titel -->
 <div class="col-md-12">
   <div class="section-titel-img two text-center mb-45">
     <h2>SERVICES</h2>
     <p>It is a long established fact that a reader will be distracted readable </p>
   </div>
 </div>
 <!-- Section Titel -->
</div>
<!-- Service Single Item Area Start -->
<div class="row">
 <!-- Single Item -->
 <div class="col-lg-4 col-md-6 col-sm-12">
   <div class="service-single text-center">
     <div class="servce-icon">
       <i class="icofont icofont-ui-video-play"></i>
     </div>
     <div class="service-details">
       <h4><a href="#">HIRE STUDIO</a></h4>
       <p>There are many variations of passages of Lorem Ipsum available, but the majority </p>
     </div>
   </div>
 </div>
 <!-- Single Item -->
 <!-- Single Item -->
 <div class="col-lg-4 col-md-6 col-sm-12">
   <div class="service-single text-center">
     <div class="servce-icon">
       <i class="icofont icofont-video-cam"></i>
     </div>
     <div class="service-details">
       <h4><a href="#">FILMING SERVICES</a></h4>
       <p>There are many variations of passages of Lorem Ipsum available, but the majority </p>
     </div>
   </div>
 </div>
 <!-- Single Item -->
 <!-- Single Item -->
 <div class="col-lg-4 col-md-6 col-sm-12">
   <div class="service-single text-center">
     <div class="servce-icon">
       <i class="icofont icofont-movie"></i>
     </div>
     <div class="service-details">
       <h4><a href="#">EQUIPMENT HIRE</a></h4>
       <p>There are many variations of passages of Lorem Ipsum available, but the majority </p>
     </div>
   </div>
 </div>
 <!-- Single Item -->
 <!-- Single Item -->
 <div class="col-lg-4 col-md-6 col-sm-12">
   <div class="service-single text-center">
     <div class="servce-icon">
       <i class="icofont icofont-record"></i>
     </div>
     <div class="service-details">
       <h4><a href="#">RECORDING</a></h4>
       <p>There are many variations of passages of Lorem Ipsum available, but the majority </p>
     </div>
   </div>
 </div>
 <!-- Single Item -->
 <!-- Single Item -->
 <div class="col-lg-4 col-md-6 col-sm-12">
   <div class="service-single text-center">
     <div class="servce-icon">
       <i class="icofont icofont-film"></i>
     </div>
     <div class="service-details">
       <h4><a href="#">INDOOR SERVICE</a></h4>
       <p>There are many variations of passages of Lorem Ipsum available, but the majority </p>
     </div>
   </div>
 </div>
 <!-- Single Item -->
 <!-- Single Item -->
 <div class="col-lg-4 col-md-6 col-sm-12">
   <div class="service-single text-center">
     <div class="servce-icon">
       <i class="icofont icofont-multimedia"></i>
     </div>
     <div class="service-details">
       <h4><a href="#">PRODUCTION</a></h4>
       <p>There are many variations of passages of Lorem Ipsum available, but the majority </p>
     </div>
   </div>
 </div>
 <!-- Single Item -->
</div>
<!-- Service Single Item Area End -->
</div>
</section>
<!-- All Service Area End -->

<!-- Our Team Area Start -->
<div class="prs_about_team_main_wrapper">
<div class="container">
<div class="row">
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   <div class="prs_heading_section_wrapper">
     <h2>Director And Team</h2>
   </div>
 </div>
 <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
   <div class="prs_about_team_first_mem_wrapper">
     <div class="prs_about_first_mem_img_wrapper">
       <%= image_tag("tm1.jpg") %>
       <div class="prs_at_social_main_wrapper">
         <ul>
           <li><a href="#"><i class="fa fa-facebook"></i></a>
           </li>
           <li><a href="#"><i class="fa fa-twitter"></i></a>
           </li>
           <li><a href="#"><i class="fa fa-linkedin"></i></a>
           </li>
           <li><a href="#"><i class="fa fa-youtube-play"></i></a>
           </li>
         </ul>
       </div>
     </div>
     <div class="prs_about_first_mem_img_cont_wrapper">
       <h2><a href="#">Johan Doe</a></h2>
       <p>Director</p>
     </div>
   </div>
 </div>
 <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
   <div class="row">
     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 prs_ap_colum_full">
       <div class="prs_about_team_first_mem_wrapper prs_about_team_first_mem_wrapper2_inner">
         <div class="prs_about_first_mem_img_wrapper">
           <%= image_tag("tm2.jpg") %>
           <div class="prs_at_social_main_wrapper prs_at_social_inner_main_wrapper">
             <ul>
               <li><a href="#"><i class="fa fa-facebook"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-twitter"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-youtube-play"></i></a>
               </li>
             </ul>
           </div>
         </div>
         <div class="prs_about_first_mem_img_cont_wrapper prs_about_first_mem_img_cont_inner_wrapper">
           <h2><a href="#">akshay h.</a></h2>
           <p>Director</p>
         </div>
       </div>
     </div>
     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 prs_ap_colum_full">
       <div class="prs_about_team_first_mem_wrapper prs_about_team_first_mem_wrapper2_inner">
         <div class="prs_about_first_mem_img_wrapper">
           <%= image_tag("tm3.jpg") %>
           <div class="prs_at_social_main_wrapper prs_at_social_inner_main_wrapper">
             <ul>
               <li><a href="#"><i class="fa fa-facebook"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-twitter"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-youtube-play"></i></a>
               </li>
             </ul>
           </div>
         </div>
         <div class="prs_about_first_mem_img_cont_wrapper prs_about_first_mem_img_cont_inner_wrapper">
           <h2><a href="#">ajay S.</a></h2>
           <p>Director</p>
         </div>
       </div>
     </div>
     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 prs_ap_colum_full">
       <div class="prs_about_team_first_mem_wrapper prs_about_team_first_mem_wrapper2_inner">
         <div class="prs_about_first_mem_img_wrapper">
           <%= image_tag("tm4.jpg") %>
           <div class="prs_at_social_main_wrapper prs_at_social_inner_main_wrapper">
             <ul>
               <li><a href="#"><i class="fa fa-facebook"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-twitter"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-youtube-play"></i></a>
               </li>
             </ul>
           </div>
         </div>
         <div class="prs_about_first_mem_img_cont_wrapper prs_about_first_mem_img_cont_inner_wrapper">
           <h2><a href="#">Sandy S.</a></h2>
           <p>Director</p>
         </div>
       </div>
     </div>
     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 prs_ap_colum_full">
       <div class="prs_about_team_first_mem_wrapper prs_about_team_first_mem_wrapper2">
         <div class="prs_about_first_mem_img_wrapper">
           <%= image_tag("tm5.jpg") %>
           <div class="prs_at_social_main_wrapper prs_at_social_inner_main_wrapper">
             <ul>
               <li><a href="#"><i class="fa fa-facebook"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-twitter"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-youtube-play"></i></a>
               </li>
             </ul>
           </div>
         </div>
         <div class="prs_about_first_mem_img_cont_wrapper prs_about_first_mem_img_cont_inner_wrapper">
           <h2><a href="#">Farhan S.</a></h2>
           <p>Director</p>
         </div>
       </div>
     </div>
     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 prs_ap_colum_full">
       <div class="prs_about_team_first_mem_wrapper prs_about_team_first_mem_wrapper2">
         <div class="prs_about_first_mem_img_wrapper">
           <%= image_tag("tm6.jpg") %>
           <div class="prs_at_social_main_wrapper prs_at_social_inner_main_wrapper">
             <ul>
               <li><a href="#"><i class="fa fa-facebook"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-twitter"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-youtube-play"></i></a>
               </li>
             </ul>
           </div>
         </div>
         <div class="prs_about_first_mem_img_cont_wrapper prs_about_first_mem_img_cont_inner_wrapper">
           <h2><a href="#">Vijay p.</a></h2>
           <p>Director</p>
         </div>
       </div>
     </div>
     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 prs_ap_colum_full">
       <div class="prs_about_team_first_mem_wrapper prs_about_team_first_mem_wrapper2">
         <div class="prs_about_first_mem_img_wrapper">
           <%= image_tag("tm7.jpg") %>
           <div class="prs_at_social_main_wrapper prs_at_social_inner_main_wrapper">
             <ul>
               <li><a href="#"><i class="fa fa-facebook"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-twitter"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-youtube-play"></i></a>
               </li>
             </ul>
           </div>
         </div>
         <div class="prs_about_first_mem_img_cont_wrapper prs_about_first_mem_img_cont_inner_wrapper">
           <h2><a href="#">ajay S.</a></h2>
           <p>Director</p>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>
</div>
</div>
<!-- Our Team Area End -->
</div>
<!-- Page Content End -->

<script>
$('.tailer-active').owlCarousel({
	  loop: true,
	  margin: 30,
	  autoplay: false,
	  nav: true,
	  dots:false,
	  navText:["<i class='icofont icofont-long-arrow-left'></i>","<i class='icofont icofont-long-arrow-right'></i>"],
	  responsive: {
		0: {
		  items: 1
		},
		480:{
			items:1
		},
		600: {
		  items: 1
		},
		768:{
			items:2
		},
		1000: {
		  items: 3
		}
	  }
	})

	$('.tailer-active-two').owlCarousel({
	  loop: true,
	  margin: 30,
	  autoplay: false,
	  nav: true,
	  dots:false,
	  navText:["<i class='icofont icofont-long-arrow-left'></i>","<i class='icofont icofont-long-arrow-right'></i>"],
	  responsive: {
		0: {
		  items: 1
		},
		480:{
			items:1
		},
		600: {
		  items: 1
		},
		768:{
			items:2
		},
		1000: {
		  items: 4
		}
	  }
	})
</script>
<script>
$('.counter').counterUp({
delay: 10,
time: 1000
});
</script>
