<!-- Page Content Start -->
<div class="page-content">
  <!-- Recent News Area Start -->
  <section class="service-area-actor pt-95 pb-70">
    <div class="container">
      <div class="row">
        <!-- Section Titel -->
        <div class="col-md-12">
          <div class="section-titel-img text-center mb-45">
            <h2>My Recent News</h2>
            <p>It is a long established fact that a reader will be distracted readable </p>
          </div>
        </div>
        <!-- Section Titel -->
      </div>
      <!-- Service Single Item Area Start -->
      <div class="row">
        <!-- News Single -->
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="recent-news-single">
            <div class="news-thumbnail">
              <a href="">
                <%= image_tag("home-actor/news/1.png") %>
              </a>
            </div>
            <div class="news-content">
              <h4><a href="">A conversation about challange</a></h4>
              <div class="news-meta">
                <span>26 Nov 2018</span>
                <span>By<a href="#"> Momen</a></span>
              </div>
            </div>
          </div>
        </div>
        <!-- News Single -->
        <!-- News Single -->
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="recent-news-single">
            <div class="news-thumbnail">
              <a href=""><%= image_tag("home-actor/news/2.png") %></a>
            </div>
            <div class="news-content">
              <h4><a href="">Passion depend only you</a></h4>
              <div class="news-meta">
                <span>10 Oct 2018</span>
                <span>By<a href="#"> Jonclan</a></span>
              </div>
            </div>
          </div>
        </div>
        <!-- News Single -->
        <!-- News Single -->
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="recent-news-single">
            <div class="news-thumbnail">
              <a href=""><%= image_tag("home-actor/news/3.png") %></a>
            </div>
            <div class="news-content">
              <h4><a href="">Just a mistake can break all</a></h4>
              <div class="news-meta">
                <span>14 Agu 2018</span>
                <span>By<a href="#"> Miajot</a></span>
              </div>
            </div>
          </div>
        </div>
        <!-- News Single -->
        <!-- News Single -->
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="recent-news-single">
            <div class="news-thumbnail">
              <a href=""><%= image_tag("home-actor/news/4.png") %></a>
            </div>
            <div class="news-content">
              <h4><a href="">We are trust in film city</a></h4>
              <div class="news-meta">
                <span>14 Agu 2018</span>
                <span>By<a href="#"> Miniter</a></span>
              </div>
            </div>
          </div>
        </div>
        <!-- News Single -->
        <!-- News Single -->
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="recent-news-single">
            <div class="news-thumbnail">
              <a href=""><%= image_tag("home-actor/news/5.png") %></a>
            </div>
            <div class="news-content">
              <h4><a href="">We make film and drama</a></h4>
              <div class="news-meta">
                <span>14 Agu 2018</span>
                <span>By<a href="#"> Nekanji</a></span>
              </div>
            </div>
          </div>
        </div>
        <!-- News Single -->
        <!-- News Single -->
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="recent-news-single">
            <div class="news-thumbnail">
              <a href=""><%= image_tag("home-actor/news/6.png") %></a>
            </div>
            <div class="news-content">
              <h4><a href="">We are make it awesome</a></h4>
              <div class="news-meta">
                <span>14 Agu 2018</span>
                <span>By<a href="#"> Loiatia</a></span>
              </div>
            </div>
          </div>
        </div>
        <!-- News Single -->
      </div>
    </div>
  </section>
  <!-- Recent News Area End -->
</div>
<!-- Page Content End -->
